@import "variables";

body.tmpl-index
.main {
  h1.page-title span[class^="icon-"] {
    display: none;
  }

  .btn-toolbar {
    display: flex;
    flex-direction: row;

    .btn-wrapper {
      margin-right: 5px;
    }

    button {
      font-size: .9rem;
    }
  }

  .js-stools .js-stools-container-bar {
    display: flex;

    .js-stools-btn-filter {
      .caret {
        border-bottom-color: initial;
      }

      &:hover .caret {
        border-top-color: $font-color-light;
      }
    }

    .input-append input {
      border: $border-darkest-thick;
      height: 1.34rem;
    }

    .input-append input + button {
      font-size: .9rem;
      height: 1.85rem;
      margin-top: .2rem;
      margin-right: .5rem;
    }
  }

  .js-stools .js-stools-container-list {
    display: flex;

    .js-stools-field-list select {
      border: $border-darkest-thick;
      width: 10rem;
    }
  }
}

/* chosen library overwrites ******************************************************************************************/
.chzn-container {
  max-width: inherit;

  .contentpane .js-stools-container-bar & {
    // !important needed for overwriting inline-style, sometimes too small
    width: auto !important;

    .chzn-single span {
      padding: 0 10px 0 0;
    }
  }
}

