@import "variables";

body.tmpl-index div.main {
  .btn-toolbar {
    display: flex;
    flex-direction: row;

    .btn-wrapper {
      margin-right: 5px;
    }

    a.btn, button {
      font-size: .9rem;
    }
  }

  .js-stools-container-bar,
  .js-stools-container-list,
  .js-stools-container-filters {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .8rem;

    .active .chzn-single,
    .chzn-single {
      background: none;
      border: none;
    }

    input[type='date'] {
      height: 1.35rem;
      margin-bottom: 0;
    }

    select {
      margin-bottom: 0;
    }
  }

  .js-stools-container-bar {
    input {
      width: 12rem;
    }

    a.btn, input, button {
      font-family: $font-family;
      font-size: .9rem;
    }

    .input-append input + button {
      font-size: .9rem;
      height: 1.85rem;
      margin-top: .2rem;
      margin-left: -2.2rem;

      &:hover span[class^="icon-"]:before {
        color: $font-color;
      }
    }

    .js-stools-btn-filter {
      .caret {
        border-bottom-color: initial;
      }

      &:hover .caret {
        border-top-color: $font-color-light;
      }
    }
  }

  .js-stools-container-list .js-stools-field-list {
    margin-bottom: 0;
    margin-right: 0;
  }
}
