//********************************************************************************************************************//
// Icons - Backend with iconfont
//********************************************************************************************************************//

//icons zur jeweiligen View im Header hinzufuegen über Klassennamen
//und icons zu sidebar und drop-down-menü hinzufuegen vor dem Link
//********************************************************************************************************************//
.icon-organizer::before,
a[href$="view=thm_organizer"]::before,
a[href$="option=com_thm_organizer"]::before {
  font-family: icomoon;
  content: "\e60b";
}

.icon-organizer_degrees::before {
  font-family: icomoon;
  content: "\e606";
}

.icon-organizer_monitors::before {
  font-family: icomoon;
  content: "\e01c";
}

.icon-organizer_teachers::before {
  font-family: icomoon;
  content: "\e604";
}

.icon-organizer_room_types::before,
.icon-organizer_departments::before {
  font-family: icomoon;
  content: "\e243";
}

.icon-organizer_subjects::before {
  font-family: icomoon;
  content: "\e603";
}

.icon-organizer_fields::before {
  font-family: icomoon;
  content: "\74";
}

.icon-organizer_colors::before {
  font-family: icomoon;
  content: "\e014";
}

.icon-organizer_subject_pools::before {
  font-family: icomoon;
  content: "\44";
}

.icon-organizer_rooms::before {
  font-family: icomoon;
  content: "\e60a";
}

.icon-organizer_degree_programs::before {
  font-family: icomoon;
  content: "\31";
}

.icon-organizer_schedules::before,
.icon-mni::before {
  font-family: icomoon;
  content: "\e600";
}

// Anpassung einzelner Icons
//********************************************************************************************************************//
.icon-diff, .icon-import, .icon-import-all, .icon-merge-all {
  font-weight: bold;
}

.icon-add-Space {
  font-size: 14px;
}

// Icon thm-logo in sidebar und drop-down-menü in thm-grün färben
a[href$="view=thm_organizer"]::before, a[href$="option=com_thm_organizer"]::before {
  color: $thm;
}

// Allen Icons in der Navigation einen rechten Abstand zum Text geben
a[href*="option=com_thm_organizer&view="]::before {
  padding-right: 8px;
}