@import '../../lib_thm_core/scss/variables';

div.language-switches{
  a{
    color: $font-color;
    :hover{
      color: $font-color;
    }
    img{
      margin-bottom: -2px;
      margin-right: 5px;
    }
  }
}