@import 'variables';

// Suppress standard: external login
div div.externallogin {
  display: none;
}

// Ensures that login styles only overwrite in Organizer context and gives them the necessary specificity to overwrite.
div#main .uses-login {

  .moduletable {

    display: inline-block;
    margin-bottom: 0;

    form {
      margin-bottom: 0;
    }

    button, .btn {
      background-color: $foreground-color;

      &:hover {
        background-color: $background-foot;
      }
    }
  }

  .logout-button {
    margin-top: 0;
  }

  .userdata {
    position: relative;
  }

  .control-group {
    clear: left;
    display: inline-block;
    float: left;
  }

  .input-prepend input {
    width: 12rem;
  }

  #login-form ul.unstyled {
    clear: left;
    display: block;
    margin-top: 0;
    min-width: 15rem;
    float: left;

    li {
      list-style: none;
    }
  }
}

@media (min-width: $mq-tablet) {
  div#main .uses-login .unstyled {
    left: 15rem;
    position: absolute;
    top: 0;
  }
}