//********************************************************************************************************************//
// Media Queries for Backend
//********************************************************************************************************************//

// add rule @media with passed parameters for breakpoints.
// Possible arguments ($point) are stored as variables ($mq-phone, $mq-tablet)
// @content: rules after this mixin call will be positioned within these media queries
//********************************************************************************************************************//
@mixin breakpoint($point) {
  @if $point == $mq-phone {
    @media (max-width: $point) {
      @content;
    }
  } @else if $point == $mq-tablet {
    @media (min-width: $mq-phone) and (max-width: $point) {
      @content;
    }
  }
}

// hide all columns and display just the chosen ones.
// If just one column-number is passed, then the padding is added to this column for the left- and right-side
// If two column-number are passed, then padding-left is added to the first chosen column
//********************************************************************************************************************//
@mixin displayAndHideColumns($columns...) {
  thead th, tbody td {
    display: none;
    @each $declaration in $columns {
      &:nth-child(#{$declaration}) {
        display: table-cell;
      }
    }

    @if length($columns) == 1 {
      &:nth-child(#{$columns}) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    @if length($columns) == 2 {
      &:nth-child(#{nth($columns,1)}) {
        padding-left: 8px;
      }
    }
  }
}

//hide a column and all columns coming after this
//********************************************************************************************************************//
@mixin hideColumns($column) {
  thead th, tbody td {
    &:nth-child(n+#{$column}) {
      display: none;
    }
  }
}