@import 'variables';

ul.tabs {
  margin-bottom: 0;
}

.tabs-tab {
  display: inline;
  margin: 0 0.3rem;

  &:first-child {
    margin-left: 0.5rem;
  }

  &:nth-child(n+2) {
    margin-left: 0;
  }
}

.tabs-toggle {
  padding: 0.5rem 0.5rem 0.3rem 0.4rem;

  &:hover {
    text-decoration: none;
    background-color: $background-color;
  }

  [class^="icon-"] {
    position: relative;
    line-height: 0.8;

    &::before {
      position: absolute;
      font-size: 1.3rem;
    }
  }
}

.tab-text {
  font-size: 1rem;
  color: #394A59;
  margin-left: 0.5rem;

  @media (max-width: 800px) {
    display: none;
  }
}

li.active:not(.inactive) {

  .tabs-toggle {
    cursor: pointer;
    background-color: $background-navigation-color;
    position: relative;
  }

  //change icon to 'cancel', when tab is open
  [class^="icon-"]::before {
    content: '\e935';
    font-family: IcoMoon !important;
    font-size: 1.3rem;
  }
}

.disabled-tab {

  .menu-bar & a {

    &:hover {
      background: transparent;
      cursor: default;
    }
  }

  span,
  span::before {
    color: $grey-50;
  }
}

.tab-content {
  background: $background-navigation-color;
  overflow: visible;
  margin-top: 0.25rem;

  .active {
    display: block;
  }

  > div {
    margin-left: 0.5rem;
  }
}

.tab-panel {
  overflow-x: visible;
  overflow-y: visible;
  padding: 12px 0;
  display: none;

  &.inactive {
    display: none !important;
  }
}

select {
  // Needed to prevent zoom-in in mobile view safari on apple
  font-size: 16px !important;
}