ul.tabs {
  margin-bottom: 0;
}

.tabs-tab {
  display: inline;
  margin: 0 0.3rem;

  &:first-child {
    margin-left: 0.5rem;
  }

  &:nth-child(n+2) {
    margin-left: 0;
  }
}

.tabs-toggle {
  padding: 0.5rem 0.5rem 0.1rem 0.4rem;

  &:hover {
    text-decoration: none;
    background-color: #f2f4f5;
  }
}

.tab-text {
  font-size: 1rem;
  color: #394A59;
  margin-left: 0.3rem;

  @media (max-width: 677px) {
    display: none;
  }
}

li.active:not(.inactive) {

  .tabs-toggle {
    cursor: pointer;
    background-color: #DFE5E6;
    position: relative;
  }

  //change icon to "cancel", when tab is open
  [class^="icon-"]::before {
    content: "\e935";
    font-family: IcoMoon !important;
    vertical-align: text-bottom;
    font-size: 1.2rem;
  }
}

.disabled-tab {

  a {

    &:hover {
      background: transparent;
      cursor: default;
    }
  }

  span,
  span::before {
    color: $grey-50;
  }
}

.tab-content {
  background: #DFE5E6;
  overflow: visible;

  .active {
    display: block;
  }

  > div {
    margin-left: 0.5rem;
  }
}

.tab-panel {
  overflow-x: visible;
  overflow-y: visible;
  padding: 12px 0;
  display: none;

  &.inactive {
    display: none !important;
  }
}