@import 'mixins';
@import 'variables';

.contentpane.component #j-main-container.j-toggle-main {
  float: none;
  margin-left: 0;
  width: 98%;
}

.btn-wrapper, .ordering-select {
  display: inline-block;
  float: left;
  margin-right: 4px;
}

.btn-wrapper.input-append {
  margin-bottom: 0;
}

.ordering-select select {
  margin-bottom: 0;
}
