@import '../../lib_thm_core/scss/mixins';
@import '../../lib_thm_core/scss/variables';
@import '../../lib_thm_core/scss/icons';

.contentpane.component #j-main-container.j-toggle-main {
  float: none;
  margin-left: 0;
  width: 98%;
}

#adminForm {
  width: 100%;

  .js-stools-container-bar {
    width: 100%;

    .js-stools-field-list {
      margin-bottom: 0;

      .chzn-single {
        padding: 1px;

        & > span {
          margin-left: 4px;
          margin-right: 22px;
        }
      }
    }
  }
}

.btn-wrapper, .ordering-select {
  display: inline-block;
  float: left;
  margin-right: 4px;
}

.btn-wrapper.input-append {
  margin-bottom: 0;
}

.ordering-select select {
  margin-bottom: 0;
}

#toolbar-new {
  float: right;
}
