@import '../../lib_thm_core/scss/mixins';
@import '../../lib_thm_core/scss/variables';
@import '../../lib_thm_core/scss/icons';

.thm_organizer_children {
  float: left;
  padding-top: 5px;
}

.child-order input.text-area-order{
  width: 2em;
}

#childList {
  .btn, input[type="text"] {
    margin-right: 4px;
  }
}

.modal-body{
  overflow-y: hidden;
  min-height: 450px;

  iframe.iframe {
    height: auto;
    min-height: 450px;
    width: 100%;
  }
}
