@import 'variables';
@import '_language_switch';
@import '_login';


.toolbar {
  position: relative;
  float: right;
}

.course-list-view {

  a {
    cursor: pointer;
  }

  .clear {
    clear: both;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .tbox-yellow {

    margin-bottom: 1.2rem;

    ul {
      margin-bottom: 0;

      [class^="icon-"], [class*=" icon-"] {
        margin-left: .2rem;
      }
    }

    [class^="icon-"], [class*=" icon-"] {
      margin-left: .2rem;
    }

  }

  .toolbar .btn {
    margin-bottom: .6rem;
  }

  .filter-item {
    display: inline-block;
  }

  [class^="icon-"], [class*=" icon-"] {
    margin-right: .2rem;
  }

  th {
    text-align: left;
  }

  .course-state, .user-state, .register {
    text-align: center;
  }

  .registration {
    white-space: nowrap;
    width: 1%;
  }

  .disabled {
    opacity: .6;
  }

  a.btn:hover span:before {
      color: $foreground-color;
  }
}
