@import 'variables';
@import '_language_switch';
@import '_login';
@import '_base';

.toolbar {
  position: relative;
  float: right;
}

.course-list-view {

  button, .btn {
    background-color: $foreground-color;

    &:hover {
      background-color: $background-foot;

      span:before {
        color: $foreground-color;
      }
    }
  }

  .tbox-yellow {

    margin-bottom: 1.2rem;

    ul {
      margin-bottom: 0;

      [class^="icon-"], [class*=" icon-"] {
        margin-left: .2rem;
      }
    }

    [class^="icon-"], [class*=" icon-"] {
      margin-left: .2rem;
    }

  }

  .toolbar .btn {
    margin-bottom: .6rem;
  }

  .filter-item {
    display: inline-block;
  }

  [class^="icon-"], [class*=" icon-"] {
    margin-right: .2rem;
  }

  th {
    text-align: left;
  }

  tr td{
    line-height: 2rem;
  }

  .course-state, .user-state, .register {
    text-align: center;
  }

  .registration {
    white-space: nowrap;
    width: 1%;
  }

  .disabled {
    opacity: .6;
  }
}
