@import 'variables';
@import '_language_switch';
@import '_base';

.toolbar {
  position: relative;
  float: right;
}

.course-manager-view {

  .left, .right {
    display: inline-block;
    font-family: $font-family-header;
  }

  .course-descriptors {
    margin-bottom: 1rem;
  }

  span:before {
  }

  .group {
    font-size: 0;

    button, a.btn {
      font-size: .9rem;
      vertical-align: top;

      span {
        margin-right: .2rem;
      }

      span:before {
        font-size: 1rem;
      }

      &:hover span:before {
        color: $foreground-color;
      }
    }
  }

  select#participantState {
    margin: 0;
    padding-right: 2rem;
    width: auto;
  }

  .status-container button {
    margin-left: .2rem;
  }

  .course-toolbar {
    button, a.btn {
      margin-left: .4rem;
    }
  }

  .print-container {
    display: inline-block;
    font-family: $font-family-header;
    font-size: .9rem;
    position: relative;

    .dropdown-menu {
      border: $border;
      border-radius: 0;
      left: .4rem;
    }

    li {

      margin: 0;
      padding: 0;


      a {
        padding: .25rem .4rem .15rem .4rem;

        &:hover{
          background-color: $background-navigation-color;
          background-image: none;
          color: $font-color;
        }
      }
    }
  }

  .dropdown-menu, .dropdown-toggle {

    font-size: .9rem;

    a {
      color: $font-color;
    }

    span {
      margin-right: .2rem;
    }
  }

  table {
    margin-top: 1rem;

    th a {
      color: $foreground-color;
    }
  }
}