@import 'variables';

.curriculum {

  .item, .legend-item, .resource-item, .panel-head, .panel-row {
    display: flex;
    flex-direction: row;
  }

  .legend {
    padding-left: .8rem;
    width: 25%;
  }

  .legend-item {
    padding: .4rem 0;
  }

  .item {
    border: $border-middle;
    width: 19%;
  }

  .item.item-blank {
    border: none;
  }

  .item-color {
    min-width: 1rem;
    width: 1rem;
  }

  .item-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .item-title, .item-crp, .item-tools {
    padding-left: .4rem;
    word-break: break-word;
  }

  .panel {
    margin-top: .8rem;
  }

  .panel:first-child {
    margin-top: 0;
  }

  .panel-crp {
    margin-left: auto;
    padding: .8rem .4rem .4rem 0;
    text-align: right;
    width: 6rem;
  }

  .panel-head {
    border-bottom: $border-dark;
    font-size: 1.5rem;
    margin-bottom: .8rem;
    position: relative;
  }

  .panel-title {
    padding: .8rem 0 .4rem 0;
  }

  .panel-row {
    justify-content: space-between;
    margin-bottom: .4rem;
    min-height: 6rem;
  }
}