/*  ------------------------------------
**  Author:     Lavi
**  File:       curriculum.css
**  Styles for: Frontend
**  Site:       www.mni.thm.de
**  ------------------------------------ */
@import '../../lib_thm_core/scss/mixins';
@import '../../lib_thm_core/scss/variables';

.hidden {
  display: none;
}

.view-curriculum {
  //  font-family: Verdana, Arial, sans-serif;
}

//Header
.componentheader {
  height: 50px;

  .componentheading {
    float: left;
    width: 89%;
  }

  .language-switches {
    float: right;

    img {
      border: none;
    }
  }
}

//content
.curriculum {
  position: relative;
}

//main-panel
.main-panel {
  // margin-top: 2px;
  border: $border-color;
  margin-bottom: 5px;
}

//.main-panel-head //.modal-panel-head
.main-panel-head, .modal-panel-head {
  background-color: $thm-grau-color; //wenn keine Farbe dynamisch zugewiesen wird
  color: white; //wenn keine Farbe dynamisch zugewiesen wird
  margin-top: -1px;
  margin-left: -1px;
  margin-right: -1px;
}

.main-panel-head {
  // cursor: pointer;  //nur main-panel-head kann auf- und zugeklappt werden
  padding: 12px 20px 10px 15px;

  // Icon "+" / "-"
  a {
    float: right;
    cursor: pointer;

    i::before {
      color: $thm-grau-color;
      font-size: 17px;
    }
  }

}

.panel-title {
  font-family: "THM-Medium";
  font-size: 130%;
  cursor: pointer;

  .main-panel-crp, .modal-panel-crp {
    padding-left: 5px;
  }
}

//main-panel-items
.main-panel-items {
  margin: 2px 1px 3px 1px;
  margin-left: 2px;
}

.main-panel-items .item, .modal-panel-items .item {
  outline: 1px outset white;
  box-shadow: inset 0px -1px 10px #bbbbbb;
  margin: 3px;
  background-image: -webkit-linear-gradient(-33deg, lighten(#eeeeee, 4%) 0, #eeeeee 100%);
  background-image: -moz-linear-gradient(123deg, lighten(#eeeeee, 4%) 0, #eeeeee 100%);
  background-image: linear-gradient(123deg, lighten(#eeeeee, 4%) 0, #eeeeee 100%);
  background-position: 50% 50%;
  display: inline-table;
  position: relative;
  font-size: 11px;
  background-color: $bg-color;
  vertical-align: top;
  width: 133px;
  height: 135px;

  .item-head {
    border: $border-color;
    padding: 3px 5px;
    background-color: #71A126;
    color: white;
    height: 18px;
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
    font-size: 110%;

    .item-crp {
      float: right;
      padding-left: 5px;
    }
  }

  .item-name {
    // hyphens aren't supported in Chrome ...
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

    //... so word-wrap is needed for Chrome
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    padding: 5px;
    overflow: hidden;
  }

  .item-tools {
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    text-align: center;

    .btn {
      padding: 2px 10px;
      border: none;
      box-shadow: none;

    }

    .icon-grid-view-2 {
      margin-bottom: 8px;

      &:before {
        margin-left: -1px;
        font-size: 17px;
      }
    }

    .icon-user{
      background-image: none;
      margin-bottom: 8px;

      &:before{
        font-family: icomoon;
        content: "\22";
        font-size: 17px;
        position: absolute;
        margin-left: -8px;
      }
    }
  }
}

// } main-panel-items

.modal-panel {
  @extend .main-panel;
  position: absolute;
  //  position: relative;
  text-align: left;
  background-color: white;
  z-index: 5;
  @include box-shadow(0, 10px, 10px, rgba(0, 0, 0, 0.3));
  width: 750px;
  top: -4px;
  margin-left: 15%;
}

.modal-panel-head {
  padding: 10px;

  //icon to close popup
  a {
    float: right;
    cursor: pointer;

    i::before {
      color: $thm-grau-color;
      font-size: 17px;
    }
  }
}

//panel-title
.modal {
  position: inherit !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
  width: inherit !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  @extend .panel-title;
  background-color: inherit !important;
  -webkit-border-radius: 0 !important; //overwrite bootstrap
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.modal-panel-items {
  max-height: 423px;
  overflow: auto;
  margin: 3px;

  .item-name {
    -ms-word-break: break-all;
    word-break: break-all;
  }
}

//if popup is shown, rest is more transparent
.modal-panel.shown ~ div {
  opacity: 0.3;
}