@import 'variables';

.deputat {

  font-family: 'THM-Regular', Arial, Helvetica, sans-serif;

  color: $font-color;
  // Allows the buttons to be on the same line as the header
  div.componentheading {
    padding-left: 2.5%;
    font-family: 'THM-Medium', Arial, Helvetica, sans-serif;
    font-size: 228.57143%;
    margin-bottom: 10px;
  }

  // Groups buttons on the right
  div.button-panel {
    float: right;
    margin-top: 9px;
    margin-bottom: 9px;
  }

  div.button-group {
    padding-left: 36%;
  }

  div.button-panel, div.button-group {
    button {
      background: #ffffff;
      color: #4a5d66;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 0;
      text-align: center;
      text-shadow: none;
      border-radius: 0;
      border: 2px solid #4a5d66;
      vertical-align: text-top;
      padding: .2em .8em .05em .6em;
    }
  }

  div.filter-bar {
    background-color: $background-color;
    border: $border-dark;
    color: $font-color;
    font-size: $font-size;
    padding: 8px 4px 4px 4px;
    z-index: 12;
    margin-bottom: 4px;

    // Ensures that children are displayed inside the element without the use of overflow which cuts off select boxes
    ::after {
      content: "";
      display: table;
      clear: both;
    }

    .filter-header {
      margin-bottom: .4em;

      @media (min-width: 768px) {
        margin: 4px 25px;

        .deputat-settings {
          float: left;
          width: 45%;

          .deputat-settings-description {
            font-size: large;
            margin-bottom: 14px;
          }
        }

        .selection-settings {
          float: right;
          width: 45%;
        }

        .control-group {
          display: block;
          width: 100%;

          .control-label, .controls {
            display: inline-block;
          }

          .control-label {
            font-size: 14px;
            width: 35%;
          }

          .controls {
            div#scheduleID_chzn {
              -webkit-appearance: none;
              -moz-appearance: none;
            }

            div#persons_chzn {
              height: auto;
              border: 2px solid #4a5d66;
              width: 276px !important;
              padding: 0;
              background: white;
              -webkit-appearance: none;
              -moz-appearance: none;
            }

            li.search-choice {
              background: #eeeeee;
              border-radius: 0;
            }
          }
        }
      }

      .input-append {
        margin-bottom: 0;

        input {
          max-width: 100px;
          height: 15px;
        }
      }
    }
  }
}

// Table element styles
table.deputat-table {
  background-image: none;
  border: $border-dark;
  color: $font-color;
  display: table;
  font-size: $font-size;
  margin-bottom: .4em;
  margin-top: .4em;
  max-height: 45em;
  width: 100%;

  th {
    background-color: #ffffff;
    height: 1.4em;
    text-align: center;
  }

  thead {
    tr.person-header th {
      font-family: 'THM-Medium', Arial, Helvetica, sans-serif;
      font-size: large;
      border-bottom: none;
    }
  }

  tbody {
    tr td {
      background-color: #ffffff;
      font-size: $font-size;
      height: 1.4em;
      text-align: center;
    }

    tr.sum-header th {
      border-top: none;
      border-right: none;
      border-bottom: $border-dark;
      border-left: none;
    }

    tr[class^="data-row"] td {
      vertical-align: middle;
      border: 1px solid #bbb;

      a {
        display: block;
        float: right;
        margin-right: 10px;

        i {
          color: $grey-100;
          font-size: smaller;
        }
      }
    }

    tr[class^="sum-row"] {
      td {
        border: 1px solid #bbb;
      }

      td.empty-cell {
        background: transparent;
        border: none;
      }
    }
  }
}

@media print {
  .deputat table.deputat-table {
    overflow: visible;
    margin-bottom: 4em;
  }

  .deputat table.deputat-table tr td {
    background-color: white;
  }
}

.whiteSpace {
  height: 92px;
  width: 105px;
  background-color: white;
  border-top: 1px solid #bbbbbb;
  border-left: 1px solid #bbbbbb;
}
