@import 'variables';

@media(max-width: 480px) {

  .component-container {
    width: 100%;

    table {

    }

    tbody, thead {
      th, td {
        font-size: .9rem;
        padding: 2px;
      }

      th.persons-column, td.persons-column,
      th.name-column, td.name-column {
        display: none;
      }

      th.time-column, td.time-column,
      th.org-column, td.org-column {
        vertical-align: middle;
        width: 50px;
      }

      th.rooms-column, td.rooms-column {
        text-align: center;
        width: 100px;
      }
    }
  }

  .event-date-head {
    font-size: 1rem;
  }
}

.component-container {

  .componentheading {
    font-family: $font-family-header;
    font-size: 228.57143%;
    margin-bottom: 10px;
  }

  form {
    .controls .input-append {

      font-size: 1.3rem;
      margin-bottom: 0;

      & > button.btn {

        height: 1rem;
        margin-left: -2.25rem;
        margin-top: .2rem;

        // Fix for MS Edge where half of the button is cut off.
        overflow: visible;

        &:hover {
          color: $font-color;
        }

        &:focus, &:active {
          outline: none;
        }
      }
    }

    .control-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: bottom;

      .date-restriction-list {
        height: 31px;
        margin-bottom: 0;
      }

      .submit-button {
        border: 1px solid #4a5d66;
        margin-left: .4rem;
        padding-bottom: 4px;
        padding-top: 4px;
      }
    }
  }

  .no-entries-found {
    font-family: $font-family-header;
    font-size: 130%;
  }

  table thead {
    background-color: $background-navigation-color;
    font-family: $font-family-header;

    tr th {
      border: none;
      font-weight: normal;
    }
  }
}

.event-date {
  background-color: white;
  margin-bottom: 10px;
}

.event-date-head {
  background-color: $background-navigation-color;
  color: $font-color;
  font-family: $font-family-header;
  font-size: 1.6rem;
  padding-top: 6px;
  text-align: center;
  width: 100%;
}

.time-column {
  width: 8rem;
}

.org-column {
  width: 5rem;
}

.rooms-column, .persons-column, .name-column {
  min-width: 15rem;
}

/******************************************************************************/
/* Styles for Monitor                                                         */
/******************************************************************************/

.display-events {
  font-family: 'THM-Medium', Verdana, Arial;
  margin: auto 0;
  line-height: normal;
  color: $background-grey;

  .event-date-head, table thead tr th {
    background-color: $blue-75;
    color: $foreground-color;
  }

  /************** header *********************************************/
  .head {
    padding: 3em 48px;
    border-bottom: 1px solid #ECECEC;
    box-shadow: 0 5px 3px #888888;
    margin-bottom: 10px;
    position: relative;
  }

  .thm-logo {
    padding-top: 5px;
    width: 210px;
    float: left;

    img {
      width: 210px;
      height: 69px;
    }
  }

  .room-name {
    text-align: center;
    // anpassen an THM-Schriftgröße des Bildes - manuell
    font-size: 95px;
    font-weight: bold;
    line-height: 72px;
    margin: 0 205px 0 210px
  }

  .date-info {
    text-align: right;
    color: $thm;
    font-weight: bold;
    font-size: 250%;
    position: absolute;
    bottom: 39px;
    right: 48px;
  }

  /******************** content **********************************/
  .display-area {
    margin: 0 48px;
    text-align: center;

    .exp-text {
      font-size: 2rem;
      font-weight: bold;
      padding: 10px 0;
    }

    .event-date-head {
      border: 1px solid $blue-75;
      font-size: 2rem;
      position: relative;
      left: -1px;

      span {
        margin-left: 7rem;
        width: calc(100% - 7rem);
      }
    }

    .row1 {
      background-color: $background-color;
    }

    .event-times, .event-main {
      display: inline-block;
      float: left;
      height: 100%;
      text-align: center;
      vertical-align: middle;
    }

    .event-times {
      font-size: 2.1rem;
      padding: 1rem 0;
      width: 7rem;
    }

    .event-main {
      width: calc(100% - 7rem);
    }

    .event-names, .event-persons, .event-comment {
      padding-top: .5rem;
    }

    .event-names {
      font-size: 2.6rem;
      font-weight: bold;

      &.fluffy {
        padding-top: 1.2rem;
      }
    }

    .event-persons {
      font-size: 2.1rem;
    }

    .event-comment {
      font-size: 1.5rem;
      padding-bottom: .5rem;
    }
  }
}
