/******************************************************************************/
/* Styles for Browsers                                                         */
/******************************************************************************/

@media(max-width: 480px) {

  .component-container {
    width: 100%;
    table {

    }
    tbody, thead {
      th, td {
        font-size: .9rem;
        padding: 2px;
      }
      th.speakers-column, td.speakers-column,
      th.name-column, td.name-column,
      th.comment-column, td.comment-column {
        display: none;
      }
      th.time-column, td.time-column,
      th.org-column, td.org-column {
        vertical-align: middle;
        width: 50px;
      }
      th.rooms-column, td.rooms-column {
        text-align: center;
        width: 100px;
      }
    }
  }

  .event-date-head{
    font-size: 1rem;
  }
}

.component-container
{

  .componentheading {
    padding-left: 2.5%;
    font-family: 'THM-Medium', Arial, Helvetica, sans-serif;
    font-size: 228.57143%;
    margin-bottom: 10px;
  }

  table{
    thead{
      background-color: #405e9a;
      font-family: 'THM-Medium';
      text-transform: uppercase;
      tr{
        th{
          border: none;
          color: white;
          font-weight: normal;
          text-align: center;
        }
      }
    }
  }
}

.event-date{
  background-color: white;
  box-shadow: 0px 5px 3px #888888;
  margin-bottom: 10px;
}

.event-date-head{
  background-color: #405e9a;
  color: white;
  font-size: 1.6rem;
  padding-top: 6px;
  text-align: center;
  width: 100%;
}

.time-column, .org-column{
  text-align: center;
  width: 6%;
}

.rooms-column, .speakers-column, .name-column, .comment-column{
  min-width: 10%;
}

/******************************************************************************/
/* Styles for Monitor                                                         */
/******************************************************************************/
@import '../../lib_thm_core/scss/variables';

.display-events {
  font-family: 'THM-Medium', Verdana, Arial;
  margin: auto 0;
  line-height: normal;
  color: $thm-grau-color;


  /************** header *********************************************/
  .head {
    padding: 3em 48px;
    border-bottom: 1px solid #ECECEC;
    box-shadow: 0px 5px 3px #888888;
    margin-bottom: 10px;
    position: relative;
  }

  .thm-logo {
    padding-top: 5px;
    width: 210px;
    float: left;

    img {
      width: 210px;
      height: 69px;
    }
  }

  .room-name {
    text-align: center;
    // anpassen an THM-Schriftgröße des Bildes - manuell
    font-size: 95px;
    font-weight: bold;
    line-height: 72px;
    margin: 0 205px 0 210px
  }

  .date-info {
    text-align: right;
    color: $thm-gruen-color;
    font-weight: bold;
    font-size: 250%;
    position: absolute;
    bottom: 39px;
    right: 48px;
  }

  /******************** content **********************************/
  .display-area {
    font-size: 200%;
    margin: 0 48px;
    text-align: center;

    .row* {
      background-color: rgb(238, 238, 238);
      border-bottom: 3px solid white;
      clear: both;
      float: left;
      padding: 46px 0.5em;
    }

    .event-times {
      float: left;
    }
  }
}


.block-title {
  float: left;
  font-weight: bold;
  word-wrap: break-word;
  padding-left: 8%;
}

.block-extra {
  text-align: right;
  word-wrap: break-word;
  min-width: 155px;
}

.inactive {
}

.active {
  background-color: #9C132D;
  color: white;
  font-weight: bold;
  padding: 60px 0.5em;

  .block-time {
  }

  .block-data {
    font-size: larger;
  }

  .block-extra {
  }
}

.nothingActive{
  padding:49px 0.5em;
}
