@import "variables";

.btn:hover span[class^="icon-"]:before {
  color: white;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

.disabled {
  opacity: .6;
}

.left {
  float: left;
}

.right {
  float: right;
}

.tooltip-inner {
  background-color: $background-color;
  color: $font-color;
  border: $border-dark;
  border-radius: 0;
  padding: .2rem;
  font-size: .8rem;
}

a {
  cursor: pointer;

  [class^='icon-'], [class*=' icon-'] {
    margin-right: .2rem;
  }
}

h1.page-title span[class*="icon-"] {
  display: none;
}

div[class^='tbox-'] {
  position: relative;

  a.btn {
    display: block;
    float: right;
  }
}