@import "bars";
@import "mixins";
@import "utilities";
@import "variables";

/* utility classes ****************************************************************************************************/
.left {
  float: left;
}

.right {
  float: right;
}

a {
  cursor: pointer;

  [class^='icon-'], [class*=' icon-'] {
    margin-right: .2rem;
  }
}

td a.btn {
  margin-right: .2rem;

  &:last-child {
    margin-right: 0;
  }
}

/* component icon *****************************************************************************************************/

.icon-organizer::before,
a[href$="view=thm_organizer"]::before {
  font-family: icomoon;
  content: '\e931';
}

a[href$="view=thm_organizer"]::before {
  margin-right: .2rem;
}

/* modal toolbar adjustments to emulate joomla ************************************************************************/
// Necessary to overwrite inline styling
.modal-body {
  overflow: hidden !important;
}

.contentpane.component {
  padding: 0 .5rem;

  .toolbar {
    background-color: $background-color;
    border-bottom: $border-middle;
    margin-bottom: .5rem;
    padding: .5rem;
    width: calc(100% - 1rem);
  }
}

// adjusting style for file upload. Just needed for Chrome (Comparing with Firefox,IE)
// beispielsweise in Stundenpläne -> Neu
//********************************************************************************************************************//
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .controls input[type="file"] {
    line-height: 0;
    padding-top: 3px;
  }
}

// view=**_edit
.chzn-container-multi .chzn-choices li {
  float: none;
}

//********************************************************************************************************************//
// Media Queries for tables in Backend
//********************************************************************************************************************//

// for phone
//********************************************************************************************************************//
@include breakpoint($mq-phone) {
  // for all tables. Just display the second column.
  .table-striped {
    @include displayAndHideColumns(2);
  }
  // specific . Just display the third column.
  #colors-list {
    @include displayAndHideColumns(3);
  }
  // specific . Display the second and the third column.
  #persons-list {
    @include displayAndHideColumns(2, 3);
  }
  // specific . Display the second and the fourth column.
  #pools-list {
    @include displayAndHideColumns(2, 4);
  }
}

// for tablet
//********************************************************************************************************************//
@include breakpoint($mq-tablet) {
  // for all tables. Hide the last columns from the fifth column, so four columns are displayed
  .table-striped {
    @include hideColumns(5);
  }
}

/* Modal Styles */
.modal .modal-body.modal-batch {
  overflow-y: auto;
  padding: 1rem 1rem 0 1rem;
}

/*Group Publishing Field Styles*/
.period-container {
  margin-bottom: .5rem;
}

.period-label {
  margin-right: 1rem;
  min-width: 5rem;
}

.period-label, .period-input {
  display: inline-block;
}

.period-input {
  // to align with select boxes over these:
  .chzn-container {
    // !important needed for overwriting inline-style
    width: 124px !important;
  }
}
