@import 'mixins';
@import 'variables';

/* utility classes ****************************************************************************************************/
.clear {
  clear: both;
  width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

a {
  cursor: pointer;

  [class^='icon-'], [class*=' icon-'] {
    margin-right: .2rem;
  }
}

/* component icon *****************************************************************************************************/

.icon-organizer::before,
a[href$="view=thm_organizer"]::before {
  font-family: icomoon;
  content: '\e931';
}

a[href$="view=thm_organizer"]::before {
  margin-right: .2rem;
}

/* sidebar ************************************************************************************************************/
.sidebar-nav {
  color: $font-color;
}

.menu-spacer {
  background-color: $background-navigation-color;
  display: block;
  font-size: 1.1rem;
  margin: .3rem -2rem 0 -2rem;
  padding: .3rem 1.6rem .3rem 2rem;
  width: 100%;
}

.organizer-logo, .organizer-description {
  font-size: .9rem;
  margin-bottom: .6rem;
}

/* modal toolbar adjustments to emulate joomla ************************************************************************/
// Necessary to overwrite inline styling
.modal-body {
  overflow: hidden !important;
}
.contentpane.component {
  padding: 0 .5rem;

  .toolbar {
    background-color: $background-color;
    border-bottom: $border-middle;
    margin-bottom: .5rem;
    padding: .5rem;
    width: calc(100% - 1rem);
  }
}

/* chosen library overwrites ******************************************************************************************/
.chzn-container {
  max-width: inherit;

  .contentpane .js-stools-container-bar & {
    // !important needed for overwriting inline-style, sometimes too small
    width: auto !important;

    .chzn-single span {
      padding: 0 10px 0 0;
    }
  }
}

// adjusting style for file upload. Just needed for Chrome (Comparing with Firefox,IE)
// beispielsweise in Stundenpläne -> Neu
//********************************************************************************************************************//
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .controls input[type="file"] {
    line-height: 0;
    padding-top: 3px;
  }
}

// view=**_edit
.chzn-container-multi .chzn-choices li {
  float: none;
}

// adjusting mapping
// -> edit Subject Pools(Modulpool) -> Degree Programs and Module Pools (Studiengänge & Modulpools)
//********************************************************************************************************************//
#mapping, #mappings {
  @media (min-width: 768px) {
    .control-group:nth-of-type(1) {
      width: 50%;
      float: left;
      .controls select {
        width: 95%;
      }
    }

    .control-group:nth-of-type(2) {
      width: 50%;
      float: right;
      .controls select {
        width: 95%;
      }
    }

    .control-group:nth-of-type(3) {
      clear: both;
    }
  }

  table {
    width: 98%;
  }

  thead {
    tr:nth-child(1) th {
      padding: 5px 0 5px 8px;
    }
    .thm_organizer_pools_ordering {
      width: 16rem;
    }
  }

  tbody {
    .child-order {
      .btn-small {
        padding: 1px 4px;
        font-size: 12px;
        line-height: 8px;
      }

      .text-area-order {
        padding: 1px 2px;
        text-align: center;
        height: 14px;
      }
    }

    .child-name {
      padding-right: 30px;
    }
  }
}

//********************************************************************************************************************//
// Media Queries for tables in Backend
//********************************************************************************************************************//

// for phone
//********************************************************************************************************************//
@include breakpoint($mq-phone) {
  // for all tables. Just display the second column.
  .table-striped {
    @include displayAndHideColumns(2);
  }
  // specific . Just display the third column.
  #colors-list {
    @include displayAndHideColumns(3);
  }
  // specific . Display the second and the third column.
  #teachers-list {
    @include displayAndHideColumns(2, 3);
  }
  // specific . Display the second and the fourth column.
  #pools-list {
    @include displayAndHideColumns(2, 4);
  }
}

// for tablet
//********************************************************************************************************************//
@include breakpoint($mq-tablet) {
  // for all tables. Hide the last columns from the fifth column, so four columns are displayed
  .table-striped {
    @include hideColumns(5);
  }
}

/* Modal Styles */
.modal .modal-body.modal-batch {
  overflow-y: auto;
  padding: 1rem 1rem 0 1rem;
}

/*Plan Pool Period Publishing Field Styles*/
.period-container {
  margin-bottom: .5rem;
}

.period-label {
  margin-right: 1rem;
  min-width: 5rem;
}

.period-label, .period-input {
  display: inline-block;
}

.period-input {
  // to align with select boxes over these:
  .chzn-container{
    // !important needed for overwriting inline-style
    width: 124px !important;
  }
}
