@import 'variables';
@import '_language_switch';

.toolbar {
  position: relative;
  float: right;
}

.header-introtext, .header-subtext {
  font-size: 1.3rem;
}

.tbox-yellow {
  margin-bottom: 1.5rem;
}
