@import '../../lib_thm_core/scss/variables';

.clear {
  clear: both;
}

.header-container{
  font-family: "THM-Medium", Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 400;
  height: 28px;
  margin-bottom: 20px;
  padding: 18px 15px;
}

.form-container{

  margin-bottom: 20px;
  min-height: 100px;
  overflow: visible;
  width: 100%;

  #adminForm{

    width: 100%;

    .filter-item {

      float:left;


      width: 21%;

      label {
        display: block;
        font-family: $font-family;
        font-size: 14px;
        font-weight: bold;
        line-height: 24px;
        text-transform: uppercase;
        width: 100%;
      }

      select, input{
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        clear: both;
      }

      .chzn-container {

        background: url('../images/select.png') no-repeat right 10px white;
        border: $border;
        min-height: 32.5px;
        height: auto;
        width: calc(100% - 20px) !important;

        // Chosen adds the arrow as a background image :(
        div > b {
          background-image: none !important;
        }

        .chzn-single {
          height: 26px;
        }

        .chzn-choices {

          margin: 0;
          padding-right: 30px;
          width: 100%;

          .search-choice {
            background: $background-navigation none;
            border: $border;
            border-radius: 0;
            color: $font-color;
            font-size: 14px;
            margin: 3px;
            min-width: 70px;
            padding: 3px;

            span, a {
              display: block;
              float: left;
              position: static;
            }

            span {
              width: 60px;
            }

            a {
              margin-top: 1px;
              width: 10px;
            }
          }

          .search-field input[type="text"]{

            display:none;

            &:focus {
              display: inline-block;
            }
          }
        }

        .chzn-drop {
          border: $border;
        }
      }

      .chzn-container-multi {
        background: url('../images/select.png') no-repeat 180px 10px white;
      }


      #date{
        border: $border;
        height: 33px;
      }

      #date{
        margin-bottom: 0;
        padding: 0 12px 0 8px;
        width: calc(100% - 40px);
      }

      .btn {
        font-size: 16px;
      }

      .btn {

        background: transparent;
        border: none;
        margin-left: -130px;
        margin-right: 12px;
        margin-top: -2px;
        padding: 0;
        width: 130px;

        .icon-calendar {
          background-image: none;

          &:before {
            margin-left: 48px;
          }

          &:focus {
            outline: none;
          }
        }
      }

      .btn:active, .btn:hover {
        background-color: transparent;
        box-shadow: none;
        color: $font-color;
      }

      .btn:focus, .btn:active {
        outline: none;
      }
    }

    .short-item-container{

      float: left;
      width: 30%;

      .short-item {
        width: 50%;
      }
    }

    .type-container .chzn-container .chzn-choices .search-choice {

      width: calc(100% - 20px);

      span {
        width: calc(100% - 10px);
      }
    }

    .submit-button {
        background-color: $background-grey;
        border-radius: 0;
        border: $border;
        color: $foreground;
        cursor: pointer;
        display: inline-block;
        font-family: 'THM-Medium';
        font-size: 1.0em;
        line-height: 23px;
        height: 35px;
        margin-top: 29px;
        padding-bottom: 4px;
        padding-left: 8px;
        padding-top: 4px;
        text-align: left;
        text-shadow: none;
        vertical-align: middle;
        width: 130px;

        &:hover {
          background-color: $foreground;
          color: $background-grey;
        }

        .icon-loop {
          font-size: 14px;
          margin-left: 6px;
          margin-top: -2px;
        }
      }

  }
}
.overview-container-container{

  width: 100%;

  .overview-container{

    width: 100%;

    table {

      border-bottom: $border;
      margin-bottom: 0;
      width: 100%;

      thead tr {
        display: block;
        position: relative;
      }

      tbody {
        display: block;
        max-height: 600px;
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
      }

      th{
        background-color: $background-grey;
        border: none;
        color: $foreground;

        &.day-width {
          width: 147px;
        }

        &.block-width {
          width: 16.6px;
        }

        &.day-row{
          border-right: $border;
          text-align: center;
        }

        &.day-row.day-width {
          padding: 10px 4px;
        }

        &.block-row{
          text-align: center;
          border-right: $border;
        }

        &.room-row{
          text-align: right;
        }

        &.room-column{
          border-bottom: $border;
          min-width: 90px;
          max-width: 90px;
          padding-right: 10px;
          overflow: hidden;
        }

        &.day-row.room-column{
          background-color: $foreground;
          border-bottom: none;
          border-right: none;
        }

        &.block-row.room-column{
          background-color: $foreground;
          border-bottom: none;
          border-right: none;
        }
      }

      td{
        text-align: center;
        border-right: $border;
        border-bottom: $border;

        &.day-width {
          min-width: 147px;
          max-width: 148px;
        }

        &.block-width {
          width: 17px;
        }
      }

      th.block-column, td.block-column {
        padding-left: 0.3em;
        padding-right: 0.3em;
      }

      th.block-row, th.room-row, td.room-row {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
      }
    }
  }
}

div.no-results {
  clear: both;
  color: $font-color;
  font-size: 16px;
  margin-top: 16px;
  text-align: center;
  width: 100%;
}

div.tip-wrap {

  color: $font-color;

  div.tip {
    background-color: $background-navigation;
    border: $border;
    font-size: 12px;
    font-weight: normal;
    padding: 10px;

    .tip-title {

      div {
        background-color: $foreground;
        border: $border;
        margin-top: 10px;
        padding: 6px;
      }

      div:first-child {
        background-color: $background-navigation;
        border: none;
        padding: 0;
        text-align: center;
        margin-top: 0;
      }
    }

    .tip-text {
      padding: 0;
    }
  }
}

div.loading-background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background-color: $background-grey;
  opacity: 0.4;
}

div.postloader {
  background: $foreground url(../images/thm.gif) no-repeat center 10px;
  font-family: 'THM-Medium';
  font-size: 16px;
  height: 20px;
  left: 50%;
  margin-left: -39px;
  margin-top: -50px;
  opacity: 1;
  overflow: visible;
  padding: 90px 4px 4px 4px;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  vertical-align: bottom;
  width: 70px;
  z-index: 999;
}
