@import 'variables';
@import '_language_switch';
@import '_base';

.toolbar {
  float: right;
}

.clear {
  margin-bottom: .8rem;
}

.room-overview-view {

  min-width: 1060px;

  .form-container {
    .componentheading {
      float: left;
    }

    .submit-button:hover span::before {
      color: $foreground-color;
    }

    .input-append {
      margin-bottom: 0;
    }

    .control-group, .control-group-wide {
      float: left;
    }

    .control-group {
      padding: 0 .8rem 0 0;
      width: 15.9rem;

      &:nth-child(7) {
        padding-right: 0;
      }

      .control-label, .controls {
        width: 100%;
      }

      .control-label {
        text-align: center;
      }

      .controls {

        .btn {
          background: transparent;
          border: none;
          font-size: 16px;
          margin-top: 6px;
          padding: 0;

          .icon-calendar {
            background-image: none;

            &:focus {
              outline: none;
            }
          }
        }

        .btn:active, .btn:hover {
          background-color: transparent;
          box-shadow: none;
          color: $font-color;
        }
      }
    }

    .control-group-wide {

      &:nth-child(10) {
        margin-left: .7rem;
      }

      .control-label, .controls {
        display: inline-block;
      }

      .control-label {
        padding: 0 .65rem 0 0;
        text-align: right;
        width: 15.9rem;
      }

      .controls {
        display: inline-block;
        width: 15.9rem;
      }
    }

    .chzn-container {
      padding: .2rem;
      width: calc(100% - .5rem) !important;

      &.chzn-container-single {

        height: 1.5rem;

        .chzn-single {
          height: 1.5rem;
        }

        .chzn-single > span {
          padding: 0;
        }
      }

      &.chzn-container-multi {

        min-height: 1.5rem;
        height: auto;

        .chzn-choices {
          .chzn-single, .search-choice {
            background-image: none;
            border-radius: 0;
            margin: .25rem;
            width: calc(100% - 3rem);
          }

          .chzn-single {
            border: none;
          }

          .search-choice {
            background-color: $background-active;
            border-radius: 0;
          }
        }
      }
    }

    #jform_date {
      height: 1.5rem;
      padding: .2rem 1rem .2rem .2rem;
      width: calc(100% - 1.3rem) !important;
    }
  }

  .overview-container {

    width: 100%;

    table, thead, tr {
      display: block;
      width: 100%;
    }

    table {

      border-bottom: $border-light;
      margin-bottom: 0;

      thead tr {
          position: sticky;
      }

      tbody {
        display: inline-block;
        max-height: 600px;
        overflow-x: hidden;
        overflow-y: scroll;
      }

      th, td {
        padding: .5rem 0;
      }

      th {
        background-color: $background-navigation-color;
        border: none;

        &.room-column {
          border-bottom: $border-white;
          width: 5.5rem;
          padding-left: .5rem;
          padding-right: .5rem;
          overflow: hidden;

          &.day-row, &.block-row {
            background-color: $foreground-color;
          }

          &.day-row {
            border-bottom: none;
          }
        }

        &.block-column, &.day-column {
          border-right: $border-white;
          &:last-child {
            border-right: none;
          }
        }
      }

      td {
        border-right: $border-light;
        border-bottom: $border-light;
        &:last-child {
          border-right: none;
        }
      }

      th.block-column, th.day-column, td.block-column {
        text-align: center;
      }

      th.columns-6, td.columns-6 {
        width: 9.7rem;
      }

      th.columns-8, td.columns-8 {
        width: 7.2rem;
      }

      th.columns-6-6 {
        width: 155px;
      }

      th.columns-36, td.columns-36 {
        width: 25px;
      }

      th.columns-36 {
        font-size: .7rem;
      }

      td.columns-36 {
        font-size: .6rem;
      }

      th.columns-6-8 {
        width: 151px;
      }

      th.columns-48, td.columns-48 {
        font-size: .5rem;
        width: 18px;
      }
    }
  }
}

div.no-results {
  clear: both;
  color: $font-color;
  font-size: 16px;
  margin-top: 16px;
  text-align: center;
  width: 100%;
}

div.tip-wrap {

  color: $font-color;

  div.tip {
    background-color: $background-color;
    border: $border;
    font-size: 12px;
    font-weight: normal;
    padding: 10px;

    .tip-title {

      div {
        border-bottom: $border;
        font-weight: normal;
        padding: 1rem;
      }

      div:first-child {
        font-weight: bold;
        text-align: center;
        padding-top: .5rem;
      }

      div:last-child {
        border: none;
        padding-bottom: .5rem;
      }
    }

    .tip-text {
      padding: 0;
    }
  }
}

div.loading-background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background-color: $background-grey;
  opacity: 0.4;
}

div.postloader {
  background: $foreground-color url(../images/thm.gif) no-repeat center 10px;
  height: 4.8rem;
  left: 50%;
  margin: -2.8rem -1.5rem 0 0;
  opacity: 1;
  overflow: visible;
  padding: .4rem;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  vertical-align: bottom;
  width: 3.2rem;
  z-index: 999;
}
