/*  ------------------------------------
**  Author:     Kristijan Pokas
**  File:       schedule_edit.css
**  Styles for: Backend - Schedule Manager
**  Site:       www.mni.thm.de
**  ------------------------------------ */

@import '../../lib_thm_core/scss/variables';
@import '../../lib_thm_core/scss/icons';

// icon of the section 
.icon-48-organizer_schedules {
  @extend %icon-schedules;
}

// UNUSED = thm_organizer_sch_th exists only 
table.adminlist {
  thead {
    th.thm_organizer_sm_th {
      text-align: left;
    }
  }
}

// department & semester column 
.thm_organizer_sch_semester_column {
  width: 10%;
}

// active column 
.thm_organizer_sch_active_column {
  width: 5%;
}

// active column: td align 
.thm_organizer_sch_active_td {
  text-align: center;
}

// creation date & time, start & end date column 
.thm_organizer_sch_date_column {
  width: 7%;
}

// description column 
.thm_organizer_sch_description_column {
  width: 20%;
}
/*
    Im Quelltext wurde die Klasse nicht hinterlegt, deswegen greift der Style nicht!
    Lediglich die ID ist beinhaltet.
    Änderung, Pfad: administrator/components/com_thm_organizer/views/schedule_manager/tmpl/default.php
    Zeile 65: <col id="thm_organizer_sch_description_column" class='thm_organizer_sch_description_column' />
*/

// === UNUSED === 
li input[disabled=disabled] {
  border: none;
  color: black;
}

// font color in div box (e.g. schedule edit) 
.thm_organizer_se {
  color: #025a8d;
}