/*  ------------------------------------
**  Author:     Franciska Perisa
**  File:       schedule.css
**  Styles for: Frontend
**  Site:       www.mni.thm.de
**  ------------------------------------ */
@import '../../lib_thm_core/scss/variables';

// Schedule Header
//********************************************************************************************************************//

a,
a:visited {
  color: $font-color;
}

button {
  font-size: 1.3rem;
  color: $font-color;
  background-color: $foreground;
  border: none;
}

button:hover,
.menu-bar a:hover,
.menu-bar label:hover {
  cursor: pointer;
}

.organizer input[type=checkbox] {
  display: none;
}

//menu-bar
.time-grid-icon::before {
  font-family: icomoon-special !important;
  content: "\e900";
}

.save-schedule-icon::before {
  font-family: icomoon-special !important;
  content: "\e962";
}

.menu-bar {
  padding-bottom: 0.2rem;
  margin-left: 0.5rem;

  a, button, label {
    width: 2rem;
    display: inline-block;
  }

  span {
    font-size: 1.2rem;
  }

  a:first-of-type {
    margin-right: 1rem;
  }

  button {
    text-align: left;
  }
}

.selection {
  position: absolute;
  /** only for pushing it out of the users view */
  left: -200rem;

  ul {
    list-style-type: none;
  }

  li {
    margin: 0.1rem 0 0.1rem 0 !important;
    //  padding: 0.3rem 0 0 0.3rem !important;
    // margin: 0.5rem 0 0.5rem 0;
    //  padding: 0.3rem 0 0 0.3rem;
  }

  a,
  button,
  label {
    font-size: 1.2rem;
  }

  button > span {
    margin-right: 0.5rem;
  }

  &:focus {
    outline: none;
  }
}

/** checked menu (input field) expand related (sibling) menus */
#schedule-form-menu-item:checked ~ #schedule-form,
#time-menu-item:checked ~ #time-selection,
#schedule-selection-menu-item:checked ~ #schedule-selection,
#export-menu-item:checked ~ #export-selection {
  position: static;
}

#schedule-form-menu-item:checked ~ .menu-bar label:nth-of-type(1) > span:before,
#time-menu-item:checked ~ .menu-bar > label:nth-of-type(2) > span:before,
#schedule-selection-menu-item:checked ~ .menu-bar > label:nth-of-type(3) > span:before,
#export-menu-item:checked ~ .menu-bar > label:nth-of-type(4) > span:before {
  color: $red-100;
}

//menu select
#schedule-form select:disabled {
  background-color: $grey-25;
}

#schedule-form > div:not(#category-input) {
  display: none;
}

#schedule-form .chzn-container {
  width: 176px !important;

  .chzn-search input {
    width: 100% !important;
  }
}

//with id to overwrite template without using !important
#schedule-form, #schedule-selection {
  .chzn-container .chzn-single > span {
    line-height: 1.4;
  }
}

//overwrite chosen icon in selectBox
.chzn-container-single .chzn-single div b {
  background-image: none;
}

.chzn-container-multi {
  background-image: none !important;
  height: auto !important;
  min-height: 2.5em;

  .chzn-choices .search-choice {
    float: none !important;
    margin: 0.3rem !important;
    padding: 0.3rem !important;
  }
}

.icon-arrow-left-22::before,
.icon-arrow-right-22::before,
.icon-arrow-left::before,
.icon-arrow-right::before,
.date-input .icon-calendar::before {
  font-size: 1rem;
  //  position: absolute;
  //  top: 0.65rem;
  //  left: 0;
}

.date-input {
  position: relative;
  top: 0.25rem;
  // @media (max-width: 664px) {
  clear: both;
  //  }

  button, span, input {
    float: left;
    padding: 0 0.08rem;

    @media (max-width: 360px) {
      padding: 0 0.05rem;
    }

    // mozilla-hack, doesn't understand 0.08
    @-moz-document url-prefix() {
      & {
        padding: 0;
      }
    }
  }

  button {
    height: 2.1rem;
  }

  & button:first-child {
    margin-left: 0.4rem;
  }

  span {
    //   font-size: 1.4rem;
    position: relative;
  }

  form > span:first-child {
    width: 1.8rem;
    font-size: 1rem;
    text-align: center;
    //   top: 0.38rem;
    top: 0.34rem;
  }

  #calendar-icon {
    position: relative;
  }

  div {
    visibility: hidden;
    position: absolute;
    background-color: $background;
    z-index: 3;
    border: 1px solid black;
    top: 2.5rem;

    td {
      text-align: center;
    }

    thead span {
      float: none;
    }

    button {
      background-color: $background;
    }

    .today {
      width: 100%;
    }
  }
}

// Content - Stundenplan-Tabelle
///*******************************************************************************************************************//
.scheduler-input:checked + .scheduler {
  z-index: 2;
}

.scheduleWrapper {
  position: relative;
  min-height: 50rem;
  clear: both;

  a,
  a:visited,
  a:hover {
    color: $font-color;
  }
}

.scheduler {
  position: absolute;
  background-color: $background;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  caption {
    background-color: $foreground;
    font-size: 1.3rem;
    margin-left: 0;
  }

  table {
    border: $border;
    border-width: 0.2rem 0 0 0;

    .no-mobile & {
      table-layout: fixed;
      width: 100%;
    }
  }

  @media (min-width: 678px) {
    td, th {
      .no-mobile & {
        width: 16%;
      }
    }

    td:first-child, th:first-child {
      .no-mobile & {
        width: 2.5rem;
      }
    }
  }

  th, td, .lesson, .break {
    text-align: center;
  }

  a:hover {
    text-decoration: underline;
  }

  .lesson {
    //   width: 80%;
    border: 0.1rem solid $grey-100;
    background-color: $background;
    margin: 0 auto 0.5rem;
    padding: 0.1rem 0.1rem 1.5rem 0.1rem;
    position: relative;

    .name {
      font-weight: bold;
      word-wrap: break-word;
    }

    .module:before {
      content: " (";
    }

    .module:after {
      content: ") ";
    }

    .misc:before, .locations:before {
      content: " / ";
    }

    .add-lesson {
      position: absolute;
      right: 0.3rem;
      bottom: 0.1rem;
      background: $background;
      color: $green-100;
      border: 0;
      padding: 0;
    }

    .old {
      text-decoration: line-through;

      .add-lesson {
        display: none;
      }
    }

    .new {
      color: $gr-color-bottom-item;
    }
  }

  .break {
    background-color: $green-50;
    padding: 0.3rem;
  }
}

.no-break tr:nth-child(4) td,
.own-time {
  display: none;
}

.invisible-time {
  tr td {
    border-width: 0;
  }

  th:first-child,
  tr td:first-child {
    display: none;
  }
}

//********************************************************************************************************************//
// Device specials                                                                                                    //
//********************************************************************************************************************//
.no-mobile {
  > .menu-bar {
    padding-bottom: 0.3rem;

    a:first-of-type,
    label:first-of-type {
      display: none;
    }
  }

  #schedule-form {
    margin-top: 1rem;
    position: inherit;

    // später zu entfernen!
    > form > div {
      float: left;
      margin: 0.25rem 0.5rem;
    }

    .selecting-input > div {
      margin: 0.25rem 0.5rem 0.25rem 0;
    }

    select {
      width: 11rem;
    }
  }

  .date-input input[type=date] {
    //   margin-left: 0.5rem;
    width: 10rem !important;
    padding: 0.36rem !important;

    @-moz-document url-prefix() {
      & {
        width: 8.6rem !important;
      }
    }

  }

  // .lesson {
  //   width: 9.5rem;
  // }
}

//********************************************************************************************************************//
// spezifisch - mobile Ansicht
//********************************************************************************************************************//

.tmpl-mobile {
  /** otherwise the table is as wide as on big devices */
  min-width: 20rem;

  .ym-cbox {
    width: initial !important;
  }

  .date-input {
    margin-top: 1rem;
    display: block;

    > form > button {
      display: none;
    }

    > form > input[type=date] {
      width: auto !important; // div#main is always overwriting
    }
  }

  .scheduler {
    td:first-child, th:first-child {
      width: 0.7rem;
    }

    td:nth-child(n+3), th:nth-child(n+3) {
      //visibility: collapse; behave like hidden, should not
      display: none;
    }
  }
}

@media screen and (max-width: 664px) {
  .schedule .ym-cbox {
    width: initial !important;
  }

  .no-mobile {

    .date-input {
      margin-top: 1rem;
      display: block;

      > form > button {
        display: none;
      }

      > form > input[type=date] {
        width: auto !important; // div#main is always overwriting
      }
    }

  }
}