/*  ------------------------------------
**  Author:     Franciska Perisa
**  File:       schedule.css
**  Styles for: Frontend
**  Site:       www.mni.thm.de
**  ------------------------------------ */

@import '../../lib_thm_core/scss/variables';

/** ------------------------------------ */

#schedule-form select:disabled {
  background-color: $grey-25;
}

/** specified attributes needed for the floppy icon */
.icon-save::before {
  font-family: icomoon-special !important;
  content: "\e962" !important;
}

a,
a:visited {
  color: $font-color;
}

button {
  font-size: 1.3rem;
  color: $font-color;
  background-color: $foreground;
  border: none;
}

button:hover,
.menu-bar a:hover,
.menu-bar label:hover {
  cursor: pointer;
}

.organizer input[type=radio] {
  display: none;
}

//********************************************************************************************************************//
// Menu buttons                                                                                                       //
//********************************************************************************************************************//

.menu-bar {
  padding-bottom: 0.2rem;

  a, button, label {
    width: 3rem;
    display: inline-block;
  }

  span, img {
    font-size: 1.5rem;
  }

  a:first-of-type {
    margin-right: 1rem;
  }

  button {
    text-align: left;
  }
}

.selection {
  position: absolute;
  /** only for pushing it out of the users view */
  left: -200rem;

  ul {
    list-style-type: none;
  }

  li {
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.3rem 0 0 0.3rem;
  }

  a,
  button,
  label {
    font-size: 1.2rem;
  }

  button > span {
    margin-right: 0.5rem;
  }
}

/** checked menu (input field) expand related (sibling) menus */
#schedule-form-menu-item:checked ~ #schedule-form,
#time-menu-item:checked ~ #time-selection,
#schedule-selection-menu-item:checked ~ #schedule-selection,
#export-menu-item:checked ~ #export-selection {
  position: static;
}

#schedule-form-menu-item:checked ~ .menu-bar label:nth-of-type(1) > span:before,
#time-menu-item:checked ~ .menu-bar > label:nth-of-type(2) > span:before,
#schedule-selection-menu-item:checked ~ .menu-bar > label:nth-of-type(3) > span:before,
#export-menu-item:checked ~ .menu-bar > label:nth-of-type(4) > span:before {
  color: $red-100;
}

.scheduler-input:checked + .scheduler {
  z-index: 2;
}

//********************************************************************************************************************//
// Form to specify schedule                                                                                           //
//********************************************************************************************************************//

.date-input {
  position: relative;

  button, span, input {
    float: left;
    padding: 0.2rem;
  }

  button {
    font-size: 1.5rem;
  }

  span {
    font-size: 1.4rem;
  }

  form > span:first-child {
    width: 2rem;
    margin-left: 0.5rem;
  }

  div {
    visibility: hidden;
    position: absolute;
    background-color: $background;
    z-index: 3;
    border: 1px solid black;
    top: 2.5rem;

    td {
      text-align: center;
    }

    thead span {
      float: none;
    }

    button {
      background-color: $background;
    }

    .today {
      width: 100%;
    }
  }
}

//********************************************************************************************************************//
// Schedule design                                                                                                    //
//********************************************************************************************************************//

.scheduleWrapper {
  position: relative;
  min-height: 50rem;
  clear: both;
}

.scheduler {
  position: absolute;
  background-color: $background;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  caption {
    background-color: $foreground;
    font-size: 1.3rem;
    margin-left: 0;
  }

  table {
    border: $border;
    border-width: 0.2rem 0 0 0;
  }

  a, a:hover {
    color: $font-color;
  }

  a:hover {
    text-decoration: underline;
  }

  th, td, .lesson, .break {
    text-align: center;
  }

  .lesson {
    width: 80%;
    border: 0.1rem solid $grey-100;
    background-color: $background;
    margin: 0 auto 0.5rem;
    padding: 0.1rem 0.1rem 1.5rem 0.1rem;
    position: relative;

    .name {
      font-weight: bold;
    }

    .module:before {
      content: "(";
    }

    .module:after {
      content: ")";
    }

    .misc:before, .locations:before {
      content: "/ ";
    }

    .add-lesson {
      position: absolute;
      right: 0;
      bottom: 0;
      background: $background;
      color: $green-100;
      border: 0;
      padding: 0;
    }

    .old {
      text-decoration: line-through;
    }

    .new {
      color: $gr-color-bottom-item;
    }
  }

  .break {
    background-color: $green-50;
    padding: 0;
  }
}

//********************************************************************************************************************//
// Time                                                                                                               //
//********************************************************************************************************************//

.no-break tr:nth-child(4) td,
.own-time {
  display: none;
}

.invisible-time {
  tr td {
    border-width: 0;
  }

  th:first-child,
  tr td:first-child {
    display: none;
  }
}

//********************************************************************************************************************//
// Device specials                                                                                                    //
//********************************************************************************************************************//

.tmpl-component {
  /** otherwise the table is as wide as on big devices */
  min-width: 20rem;

  /** calendar-icon */
  .date-input {
    > form > button {
      display: none;
    }

    > form > input[type=date] {
      width: 10rem !important; // div#main is always overwriting
    }
  }

  .scheduler {
    td:first-child, th:first-child {
      width: 0.7rem;
    }

    td:nth-child(n+3), th:nth-child(n+3) {
      //visibility: collapse; behave like hidden, should not
      display: none;
    }
  }
}

.no-mobile {
  > .menu-bar {
    padding-bottom: 0.3rem;

    > label, > button {
      width: 3.2rem;
    }

    a:first-of-type,
    label:first-of-type {
      display: none;
    }
  }

  #schedule-form {
    position: inherit;

    select {
      width: 16rem;
    }
  }

  .date-input input[type=date] {
    margin-left: 0.5rem;
  }

  .lesson {
    width: 9.5rem;
  }
}