@import '../../lib_thm_core/scss/mixins';
@import '../../lib_thm_core/scss/variables';
@import '../../lib_thm_core/scss/icons';

//Backend *********************************************************
.control-group {
  .chzn-container {
    width: 260px !important;
  }

  .x-form-item-label-default {
    width: 180px !important;
    float: left;
  }

  .x-form-text-field-body-default {
    min-width: 900px;
    max-width: 900px;
    float: left;
  }

  .x-form-item-default {
    height: auto !important;
    margin-top: 15px;
  }

  .x-form-text-wrap-default {
    border-style: none;
    input {
      margin: 0;
    }
  }

  .x-form-text {
    height: 29px !important;
    background-color: #4a5c66;
    color: white;
    border-radius: 3px 0 0 3px;
  }

  .x-form-trigger-wrap {
    height: auto;
  }
}

.x-form-text-default {
  background-image: none;
}

//wegen div space als zweites Element, beansprucht zu viel Platz
.control-group:first-child {
  margin-bottom: 0;
}

//spacer
#ext-element-7 + .control-group {
  display: none;
}

.control-group:last-child {
  margin-top: 40px;
  margin-bottom: 40px !important;
}

// Frontend ************************************************
.MySchedMainW {
  color: $thm-grau-color;
}

//#viewport, #viewport-body auf volle Breite erweitern
.MySchedMainW > .x-border-box, .x-panel-body {
  width: inherit !important;
}

// for select-boxes and menuedatepicker box
.x-form-text-default {
  background-image: none;
}

.x-form-text-wrap-default {
  border-style: none;
}

input[type="text"].x-form-field {
  height: 2.5em;
  margin: 0;
  cursor: default;
}

input[type="text"]:disabled {
  cursor: not-allowed;
}

//linke Seite select Boxes
//#viewport-body #selectBoxes
#selectBoxes {

  .x-field-default:first-child {
    margin-top: 48px;
    @media screen and (max-device-width: 1199px) {
      margin-top: 25px;
    }
  }

  .x-field-default {
    height: 0 !important;
    margin-bottom: 25px;
  }

  .x-form-trigger-wrap {
    height: auto;
  }
}

// for tablet: change icon for expanding select Boxes
.x-tool-img {
  background-image: none;
}

.x-tool-before-title::before {
  font-family: icomoon;
  content: "\e202";
  font-size: 20px;
  color: $thm-grau-color;
  position: absolute;
  top: 4px;
  left: -2px;
}

.x-tool-after-title::before {
  font-family: icomoon;
  content: "\e204";
  font-size: 20px;
  color: $thm-grau-color;
  position: absolute;
  top: 7px;
  left: -7px;
}

//rechte Seite rightviewport
//#viewport-body #rightviewport {
//.x-border-layout-ct > .x-border-item:nth-child(2) {
#rightviewport {
  margin-left: 5px !important;
  width: inherit !important;

  //top Menu
  .x-autocontainer-innerCt > .x-panel:nth-child(1) {
    margin-bottom: 10px;

    //Icon before datePicker
    .MySched_prevWeekIcon {
      background-image: none;
      position: relative;

      &:before {
        font-family: icomoon;
        content: "\7c";
        font-size: 20px;
        color: $thm-grau-color;
        vertical-align: text-bottom;
        position: absolute;
        right: 0;
        top: 8px;
      }
    }

    //Icon after datePicker
    .MySched_nextWeekIcon {
      background-image: none;
      position: relative;

      &:before {
        font-family: icomoon;
        content: "\7b";
        font-size: 20px;
        color: $thm-grau-color;
        vertical-align: text-bottom;
        position: absolute;
        left: -2px;
        top: 8px;
      }
    }

    // Date picker
    .x-field {
      width: 135px;
    }

    .x-form-trigger-wrap {
      border: 2px solid #4a5d66;
      background-color: white;
      position: relative;
    }

    .x-form-text-wrap-default {
      float: right;

      input {
        width: 100px !important;
        text-align: center;
        background-image: none !important;
        box-shadow: none;
        border: none !important;

        // Target Firefox only; text-align
        @-moz-document url-prefix() {
          float: right;
          text-align: right;
        }

      }
    }

    //Calendar-Icon
    .x-form-date-trigger-default {
      vertical-align: middle;
      padding-right: 10px;
      float: left;

      &:before {
        font-family: icomoon;
        content: "\44";
        font-size: 20px;
        color: $thm-grau-color;
        position: absolute;
        top: 16px;
        top: 18px \0; //just for IE
        left: 12px;

      }
    }

    //Save-area
    #btnSave {
      border: none;
      margin-left: 15px !important;
      top: 9px !important; //an download-area text-höhe angepasst

      .x-btn-inner {
        font-size: 14px;
        width: 104px;
        text-align: center;
        padding-left: 21px;

        &::before {
          font-family: icomoon-special;
          content: "\e962";
          font-size: 20px;
          color: $thm-grau-color;
          position: absolute;
          left: 0;
        }
      }

      .tbSave {
        background-image: none;
        display: none;
      }
    }

    //Download-area
    #downloadMenu {
      margin-left: 20px;

      .x-btn-icon-el {
        //removed an icon, because there are two
        display: none;
      }

      //text "Download"
      .x-btn-inner {
        width: 84px;
        font-size: 14px;
      }

      //change Download-Icon
      .x-btn-wrap-default-toolbar-small {
        margin-left: 5px;
        &::before {
          background-image: none;
          font-family: icomoon;
          content: "\e021";
          font-size: 20px;
          color: $thm-grau-color;
        }
      }

      //remove button after Download-Text
      .x-btn-arrow-right.x-btn-wrap-default-toolbar-small::after {
        background-image: none;
        display: none;
      }

    }
  }

  // table
  // #tabpanel {
  .x-autocontainer-innerCt > .x-panel:nth-child(2) {

    // table header *******************************
    .x-box-scroller-body-horizontal {
      height: 37px !important;
    }

    //icon left to scroll, if there are muck tabs open
    .x-box-scroller-left {
      background-image: none;

      &::before {
        font-family: icomoon;
        content: "\e008";
        color: $thm-grau-color;
        font-size: 16px;
        position: absolute;
        top: 11px;
      }
    }

    //icon right to scroll, if there are muck tabs open
    .x-box-scroller-right {
      background-image: none;

      &::before {
        font-family: icomoon;
        content: "\e006";
        color: $thm-grau-color;
        font-size: 16px;
        position: absolute;
        top: 11px;
      }
    }

    .x-tab-bar {
      background-color: transparent;
    }

    .x-tab-bar-strip {
      height: 3px;
      background-color: #F6F6F6;
      border: 1px solid #ddd;
      border-bottom: none;
    }

    .x-tab {
      background-image: none;
      padding: 10px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      background-color: white;
      border: 1px solid #ddd;
      border-bottom: none;
      border-radius: 0;
    }

    .x-tab-active {
      background-color: #dfeec8;
    }

    .x-tab-over {
      background-color: #dfe5e6;
    }

    #tabpanel-body {
      background-color: white;
      border: 1px solid #ddd;
      border-top: none;
    }

    .x-tab-closable.x-tab-default .x-tab-button {
      padding-right: 4px;
    }

    .x-box-scroller {
      top: 9px;
      height: 21px;
    }

    .myScheduleIcon {
      background-image: none;
      &::before {
        font-family: icomoon;
        content: "\43";
        font-size: 12px;
        color: $thm-grau-color;
      }
    }

    // table content ****************************
    .x-grid-view {
      height: 383px !important;
    }

    .x-grid-item-container {
      margin-bottom: 2px;
    }

    .lectureBox {
      outline: 1px outset white;
      box-shadow: inset 0 0 6px #bbbbbb;
      background-image: -webkit-linear-gradient(-33deg, lighten(#eeeeee, 5%) 0, #eeeeee 100%);
      background-image: -moz-linear-gradient(123deg, lighten(#eeeeee, 5%) 0, #eeeeee 100%);
      background-image: linear-gradient(123deg, lighten(#eeeeee, 5%) 0, #eeeeee 100%);
      background-color: $bg-color;
      margin-bottom: 4px;
      padding: 4px;
    }

    .lectureBox_cho {
      outline: 1px outset #333;
      box-shadow: inset 0 0 6px darken(#dfeec8, 10%);
      background-image: -webkit-linear-gradient(-33deg, lighten(#dfeec8, 3%) 0, #dfeec8 100%);
      background-image: -moz-linear-gradient(123deg, lighten(#dfeec8, 3%) 0, #dfeec8 100%);
      background-image: linear-gradient(123deg, lighten(#dfeec8, 3%) 0, #dfeec8 100%);
      background-color: #dfeec8;
    }

    .blockOccupied {
      background-color: $thm-grau-color;
    }

    .x-grid-cell {
      padding: 4px 2px;
    }

    .x-grid-cell-inner {
      padding: 0;
    }

    .x-grid-cell-first {
      background-color: #ffffff
    }

    .x-grid-rowbody-tr {
      background-color: #FAFAFA;
      td {
        padding: 0;
      }
    }

    .x-grid-cell-last {
      padding-right: 18px;
    }

    .MySched_pause {
      display: table-row;
      background-color: #CCCCCC;

      .x-grid-td {
        text-align: center;
        padding: 0;
      }
    }
  }

  table {
    margin-bottom: 0;
  }
}

//#rightviewport ende

// select Boxes nicht sichtbare Auswahl
.x-boundlist {
  li {
    margin: 0;
    padding: 6px;
  }
}

//overwrite
.x-mask {
  background-color: white !important;
}

//nicht benötigte Gifs von ext-theme-gray-all.css
.x-form-trigger-default {
  background-image: none;
  border: none;
  width: 0 !important; // for firefox: display none doesn't work
}

//overwrite background-color of ext-theme-gray-all.css
body.x-border-layout-ct,
div.x-border-layout-ct,
.x-panel-header-default,
.x-panel-body-default,
.x-toolbar-default {
  background-color: transparent !important;
}

.x-panel-header-default-top {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

// download-area popup Icons
//icon ics
.tbSaveICS {
  background-image: none !important;

  &::before {
    font-family: icomoon;
    content: "\e273";
    font-size: 16px;
    color: $thm-grau-color;
    position: absolute;
    top: 10px;
    left: 3px;
  }
}

//icon pdf
.tbSavePdfA4 {
  background-image: none !important;

  &::before {
    font-family: icomoon-special;
    content: "\eada";
    font-size: 16px;
    color: $thm-grau-color;
    position: absolute;
    top: 10px;
    left: 3px;
  }
}

//icon excel
.tbSaveTxt {
  background-image: none !important;

  &::before {
    font-family: icomoon-special;
    content: "\eadd";
    font-size: 16px;
    color: $thm-grau-color;
    position: absolute;
    top: 10px;
    left: 3px;
  }
}