@import '../../lib_thm_core/scss/mixins';
@import '../../lib_thm_core/scss/variables';
@import '../../lib_thm_core/scss/icons';

//Backend *********************************************************
.control-group {
  .chzn-container {
    width: 260px !important;
  }

  .x-form-item-label-default {
    width: 180px !important;
    float: left;
  }

  .x-form-text-field-body-default {
    min-width: 900px;
    max-width: 900px;
    float: left;
  }

  .x-form-item-default {
    height: auto !important;
    margin-top: 15px;
  }

  .x-form-text-wrap-default {
    border-style: none;
    input {
      margin: 0;
    }
  }

  .x-form-text {
    height: 29px !important;
    background-color: $grey-100;
    color: white;
    border-radius: 3px 0 0 3px;
  }

  .x-form-trigger-wrap {
    height: auto;
  }
}

.x-form-text-default {
  background-image: none;
}

//wegen div space als zweites Element, beansprucht zu viel Platz
.control-group:first-child {
  margin-bottom: 0;
}

//spacer
#ext-element-7 + .control-group {
  display: none;
}

.control-group:last-child {
  margin-top: 40px;
  margin-bottom: 40px !important;
}

/**********************************************************************************************************************/
/* Frontend                                                                                                           */
/**********************************************************************************************************************/

// This specificity helps override the THM & EXT styles
div#main {

  .MySchedMainW {

    // Lets the viewport expand to full width
    & > .x-border-box, .x-panel-body {
      background-color: $foreground;
      border: none;
      width: inherit !important;
    }

    color: $background-grey;

    /* Header, Resource Selection and Toolbar *************************************************************************/

    #topPanel {

      margin-bottom: 10px;

      /* Header *******************************************************************************************************/

      #headerPanel .x-panel-header {

        background-color: $foreground;
        border: none;
        box-shadow: none;
        padding: 0;

        .x-panel-header-title-default {

          line-height: 22px;

          .schedule-title, .upload-date {
            display: inline-block;
          }

          .schedule-title {
            font-family: "THM-Medium", Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: normal;
            margin-right: 10px;
          }
        }
      }

      /* Resource Selection & Toolbar *********************************************************************************/

      .x-form-text-default {
        background-image: none;
      }

      .x-form-text-wrap-default {
        border-style: none;
      }

      input[type="text"].x-form-field {
        border: $border;
        cursor: default;
        height: 2.5em;
        margin: 0;
      }

      input[type="text"]:disabled {
        cursor: not-allowed;
      }

      #selectBoxes-body {

        #selectBoxes-innerCt {
          padding: 0 !important;

          .x-field-default {

            display: inline-block;
            margin-right: 20px;

            .x-form-field {
              background-color: $background;
              background: url('../images/select.png') no-repeat right white;
              background-size: 18px;
              overflow: hidden;
              padding-right: 24px;
              text-overflow: ellipsis;
              white-space: nowrap;
              width: 175px;
            }
          }
        }
      }

      #buttonPanel .x-toolbar{

        background-color: $foreground;
        border: none;

        // This masks ext-js's hover class
        .x-btn-over.x-btn-default-toolbar-small, .x-btn-over.x-icon-el {
          background-color: $foreground;
          background-image: none;
          border: none;
        }

        // for tablet: change icon for expanding select Boxes
        .x-tool-img {
          background-image: none;
        }

        //Icon before datePicker
        .MySched_prevWeekIcon {

          background-image: none;
          position: relative;

          &:before {
            font-family: icomoon;
            content: "\7c";
            font-size: 20px;
            color: $background-grey;
            vertical-align: text-bottom;
            position: absolute;
            right: 0;
            top: 8px;
          }
        }

        .x-form-trigger-wrap {

          width: 125px;

          // The date picker
          input[type="text"].x-form-field {
            padding-right: 12px;
            text-align: right;
            width: 130px;
          }

          //Calendar-Icon
          .x-form-date-trigger-default {
            vertical-align: middle;
            padding-right: 10px;
            float: left;

            &:before {
              font-family: icomoon;
              content: "\44";
              font-size: 20px;
              color: $background-grey;
              position: absolute;
              top: 16px;
              top: 18px \0; //just for IE
              left: 12px;
            }
          }
        }

        #MySched_nextWeek {

          margin-left: -20px;
          margin-right: 15px;

          //Icon after datePicker
          .MySched_nextWeekIcon {

            background-image: none;
            position: relative;

            &:before {
              font-family: icomoon;
              content: "\7b";
              font-size: 20px;
              color: $background-grey;
              vertical-align: text-bottom;
              position: absolute;
              left: -2px;
              top: 8px;
            }
          }
        }

        .x-btn-inner {
          font-size: 14px;
          text-align: left;
          width: 130px;
        }

        //Save-area
        #btnSave {
          border: none;
          margin-right: 10px;
          top: 9px !important; //an download-area text-höhe angepasst

          .x-btn-inner {
            padding-left: 16px;
            width: 110px;

            &::before {
              font-family: icomoon-special;
              content: "\e962";
              font-size: 20px;
              color: $background-grey;
              position: absolute;
              left: 0;
            }
          }

          .tbSave {
            background-image: none;
            display: none;
          }
        }

        //Download-area
        #downloadMenu {

          .x-btn-icon-el {
            //removed an icon, because there are two
            background-image: none;
          }

          //change Download-Icon
          .x-btn-wrap-default-toolbar-small::before {
            background-image: none;
            font-family: icomoon;
            content: "\e021";
            font-size: 20px;
            color: $background-grey;
          }

          //remove button after Download-Text
          .x-btn-arrow-right.x-btn-wrap-default-toolbar-small::after {
            background-image: none;
            display: none;
          }

        }
      }
    }

    #tabPanel {

      width: inherit !important;

      .x-tab-bar {

        background-color: $foreground;
        border: 0;

        .myScheduleIcon::before {
          font-family: icomoon;
          content: "\43";
          font-size: 12px;
          color: $font-color;
        }

        .x-tab-active .myScheduleIcon::before {
          font-family: icomoon;
          content: "\43";
          font-size: 12px;
          color: $foreground;
        }
      }

      .x-tab-bar-strip, .x-grid-header-ct, .x-grid-rowbody-tr{
        background-color: $background-navigation;
      }

      .x-box-scroller {
        background: transparent;
        background-image: none;
        positon: relative;

        &:before {
          color: $background-grey;
          content: "\7c";
          font-family: icomoon;
          font-size: 20px;
          position: absolute;
          vertical-align: text-bottom;
        }
      }

      .x-box-scroller-left::before {
          content: "\7c";
          top: 18px;
      }

      .x-box-scroller-right::before {
          content: "\7b";
          top: 18px;
      }

      .x-tab {
        background-color: $foreground;
        border: 2px solid $grey-75;
        border-bottom: none;
        color: $font-color;
        margin-bottom: 3px;
        padding: 10px;

        .x-tab-inner-default {
          line-height: 1rem;
          font-size: .85rem;
          font-weight: normal;
        }

        .x-tab-button-default {
          height: auto;
        }

        .x-tab-close-btn {
          background: transparent;
          background-image: none;
          positon: relative;

          &:before {
            color: $background-grey;
            content: "\49";
            font-family: icomoon;
            font-size: 10px;
            position: absolute;
            right: 3px;
            top: 8px;
            vertical-align: text-bottom;
          }
        }
      }

      .x-tab.x-tab-active {

        background-color: $background-grey;
        border: $border-thick;

        .x-tab-inner-default {
          color: $foreground;
        }
        .x-tab-close-btn:before {
            color: $foreground;
        }
      }

      .x-tab-bar-strip {
        background-color: $background-grey;
        border: $border-thick;
        border-bottom: none;
      }

      .x-tabpanel-child {

        border: $border-thick;
        border-top: none;

        .x-grid-header-ct {

          border: none;
          border-bottom: $border-thick;

          .x-column-header{
            background-color: $background-grey;
          }

          .x-column-header-text {
            color: $foreground;
            font-size: .8rem;
            font-weight: normal;
            line-height: .9rem;
          }
        }

        .x-grid-item {

          margin-bottom: 0;

          &.x-grid-item-alt {
            background-color: $foreground;
          }

          &:first-child {

            border-top: none;

            .x-grid-row .x-grid-cell {
              border-top: none;
            }
          }

          &:last-child .x-grid-rowbody-tr {
            display: none;
          }

          .x-grid-row {

            .x-grid-cell {

              border: $border;
              padding: 6px;

              .x-grid-cell-inner {

                padding: 0;
                padding-bottom: 4px;

                .lectureBox {
                  background: $background;
                  border: $border;
                  cursor: move;
                  font-size: .75rem;
                  margin: 2px;
                  overflow: hidden;
                  padding: 4px;
                  text-align: center;
                  white-space: pre-wrap;
                  z-index: 1000;

                  .lecturename {
                    cursor: pointer;
                    font-size: .8rem;
                    font-weight: bold;
                    margin: -2px;
                    word-wrap: break-word;
                    white-space: normal;
                  }

                  .status_icons .control_icon{

                    font-size: 10px;

                    &.icon-plus-2 {
                      color: $font-color;
                    }

                    &.icon-delete {
                      color: $red-100;
                    }

                  }
                }
              }
            }

            .x-grid-cell-first {

              border-left: none;
              font-size: .8rem;
              vertical-align: middle;

              .x-grid-cell-inner {
                font-weight: bold;
                padding: 0;
              }
            }
          }
        }

        .x-grid-rowbody-tr{

          .x-grid-cell-rowbody{

            padding: 0;

            .x-grid-rowbody{
              padding: 2px;
            }
          }

          &.MySched_pause .x-grid-rowbody{
            font-size: .9rem;
            padding: 8px;
            text-align: center;
          }
        }
      }
    }
  }
}

// select Boxes nicht sichtbare Auswahl
body{

  .x-boundlist {

    border: $border;
    min-width: 175px;
    width: auto !important;

    li {
      margin: 0;
      padding: 6px;
    }
  }

  .x-mask {
    background-color: white !important;
  }

  .x-css-shadow{
  }
}

//nicht benötigte Gifs von ext-theme-gray-all.css
.x-form-trigger-default {
  background-image: none;
  border: none;
  width: 0 !important; // for firefox: display none doesn't work
}
