@import 'variables';
@import '_language_switch';
@import '_legal_disclaimer';
@import '_login';
@import '_base';

.toolbar {
  position: relative;
  float: right;
}

.subject-list
{
  button, .btn {
    background-color: $foreground-color;

    &:hover {
      background-color: $background-foot;

      span:before {
        color: $foreground-color;
      }
    }
  }

  .course-item {

    margin-bottom: .6rem;

    & > span {
      display: inline-block;
      font-family: $font-family-header;
      font-size: .9rem;

      &.campus {
        width: 10rem;
      }
    }

    & > span, .status {
      margin-right: .4rem;
      padding-top: .7rem;
    }
  }


  .subject-item {
    clear: both;
    overflow: auto; //to set height like the largest child
    padding: 10px 10px;
    margin: 2px 0;
    border-bottom: 1px solid rgba(164, 176, 187, 0.5);
  }

  .subject-label {
    color: #3d494f;
    float: left;
    font-weight: bold;
    padding-right: 20px;
    width: 18%;
  }

  .subject-content {
    margin-left: 10px;
    float: left;
    width: 79%;

    [class^="icon-"], [class*=" icon-"] {
      margin-right: .2rem;
    }

    ul ul {
      margin-bottom: 0;

      li:before {
        content: "-";
        display: block;
        float: left;
        margin-left: -.4rem;
      }

      li {
        padding-bottom: .4rem;
      }

      li:first-child {
        padding-top: .4rem;
      }

      li:last-child {
        padding-bottom: 0;
      }
    }

    li {
      padding-bottom: .8rem;
    }
  }

  .disabled {
    opacity: .6;
  }
}
