/*  ------------------------------------
**  Author:     Kristijan Pokas
**  File:       subject_details.css
**  Styles for:
**  Site:       www.mni.thm.de
**  ------------------------------------ */
@import '../../lib_thm_core/scss/variables';
@import '_language_switch';

//search-Area
.toolbar {
  position: relative;
  float: right;

  .tool-wrapper {
    display: inline-block;

    a, button {
      cursor: pointer;
    }
  }

  .language-switches {
    margin-right: 5px;

    img {
      border: none;
      padding-top: 2px;
    }
  }
}

.subject-list {

  .subject-item {
    clear: both;
    overflow: auto; //to set height like the largest child
    padding: 10px 10px;
    margin: 2px 0;
    border-bottom:1px solid rgba(164, 176, 187, 0.5);

    ul {
      margin-bottom: 0;
    }

    .subject-label {
      color: #3d494f;
      float: left;
      font-weight: bold;
      padding-right: 20px;
      width: 18%;
    }

    .subject-content{
      margin-left: 10px;
      float: left;
      width: 79%;
    }
  }
}
