@import 'variables';
@import '_language_switch';
@import '_legal_disclaimer';

//********************************************************************************************************************//
// Language Switch and Search Bar                                                                                     //
//********************************************************************************************************************//
.toolbar {
  float: right;
}

.tool-wrapper {
  display: inline-block;
  margin-left: .2rem;
  position: relative;

  a, button {
    border: none;
    cursor: pointer;
  }
}

.search input[type="text"] {
  background-color: $background-navigation-color;
  box-shadow: none;
}

.btn-search {
  background-color: inherit;
  left: 16rem;
  position: absolute;
  top: .25rem;
}

.icon-search {
  color: $font-color;
}

.btn-reset, .btn-reset:hover {
  background-color: $foreground-color;
  color: $font-color;
  margin-left: 8px;
}

//********************************************************************************************************************//
// Tabbed navigation                                                                                                  //
//********************************************************************************************************************//
.nav.nav-tabs {
  border-bottom: $border-thick;
  margin-top: 15px;
  margin-bottom: 0;

  li {
    margin-bottom: 0;
    margin-left: 2px;

    &:first-child {
      margin-left: 10px;
    }

    a, &.active a {
      border: $border-thick;
      border-bottom: none;
      border-radius: 0;
      padding-left: 12px;
    }

    a:hover {
      background-color: $background-color;
    }

    &.active a {
      background: $background-grey;
      color: $foreground-color;

      &:hover {
        background: $background-grey;
      }
    }
  }
}

//********************************************************************************************************************//
// Content
//********************************************************************************************************************//
form#adminForm fieldset[class$="-group"] {

  background-color: $foreground-color;
  margin-top: .5rem;
  margin-bottom: 0;

  legend {

    border-bottom: $border-thick;
    border-top: $border-thick;
    float: left;
    font-family: $font-family-header;
    margin-bottom: 0;

    .pool-title, .teacher-title {
      font-size: 1.3rem;
      margin-left: .5rem;
    }

    .pool-crp {
      float: right;
      font-size: 1rem;
      margin-right: 1.5rem;
    }
  }

}

form#adminForm fieldset.pool-group:nth-child(2), form#adminForm fieldset.teacher-group:first-child{

  margin-top: 0;

  legend {
    border-top: none;
  }
}


table {

  color: $font-color;
  font-family: $font-family;
  margin-bottom: 0;

  tr {

    &:nth-child(even) {
      background-color: $background-color;
    }

    td[class^="subject-"] {
      border: none;
    }

    td.subject-crp {
      width: 7%;
    }

    td.subject-name {
      width: 50%;
    }

    td.subject-teacher {
      width: 40%;
    }
  }
}
