@import 'mixins';
@import 'variables';
@import 'icons';

.tip-wrap {
  z-index: 99;
}

.adminForm {
  div.m {
    padding: 5px;
  }
}

.toolbar-close {
  font-size: 1em;
}

// panel with all menu icons
.cpanel {
  margin-top: 4px;
  width: 100%;
}

// UNUSED in schedule edit
.thm_organizer_label {
  padding-right: 5px;
}

// checkbox column (e.g. schedule manager)
.thm_organizer_check_column {
  width: 10px;
}

.thm_organizer_search_div {
  padding-right: 8px;
}

.thm_organizer_radio_button {
  background: #f4f4f4;
  border: none;
}

// icons of the sections
.icon-48-mni {
  @extend .icon-mni;
}

// icon of THMorganizer section
.icon-48-organizer {
  @extend .icon-organizer;
}

.thm_organizer_main {
  padding: 5px;
}

// description of thmorganizer
.thm_organizer_main_description {
  font-size: 16px;
  padding-bottom: 8px;
}

.thm_organizer_main_submenu {
  // UNUSED, styles for a
  a {
    background-color: $background;
    background-position: -30px center;
    border: 1px solid #CCCCCC;
    color: #565656;
    display: block;
    float: left;
    height: 97px;
    text-decoration: none;
    transition-duration: 0.8s;
    transition-property: background-position, -moz-border-radius-bottomleft, -moz-box-shadow;
    width: 108px;
    @include border-radius(5px);
  }
  // icon definitions in the overview
  div.icon {
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
    text-align: center;
  }
  // icon definitions in organizer view
  img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    padding: 10px 0;
  }

  // title of icon
  span {
    display: block;
    text-align: center;
  }
  //UNUSED, #cpanel muss vor .thm... stehen
}

// organizer overview
.thm_organizer_main_linkdiv {
  float: left;
}