/* Erweiterung der ExtJS Styles */
td.x-grid3-col {
	font-size: 12px !important;
 	padding: 0 !important;
}

.x-panel-header{
	background:#CBD3DD none repeat scroll 0 0 !important;
	color:#15428B !important;
}

.x-grid3-col-time {
	background: #F9F9F9 repeat-x scroll 0pt bottom !important;
}
.x-grid3-tr-time {
	background: #EBF3FD repeat-x scroll left bottom !important;
	}

tbody tr td.x-grid3-td-monday,
tbody tr td.x-grid3-td-tuesday,
tbody tr td.x-grid3-td-wednesday,
tbody tr td.x-grid3-td-thursday,
tbody tr td.x-grid3-td-friday,
tbody tr td.x-grid3-td-saturday {
	border: 1px solid #aaa !important;
	padding: 0 !important;
}


.x-grid3-cell-inner {
	padding: 0 !important;
	margin: 0 !important;
}


/* MySched Styles */
div.scheduleBox {
 	margin: 2px !important;
}
div.lectureBox {
 	font-size: 11px !important;
   	cursor: move;
    z-index: 1000;
	padding: 2px;
 	margin: 2px;
	background: #EEE;
	border: 1px solid #CCC;
	-moz-opacity: 0.9;
	text-align: center !important;
	text-shadow: 0px 1px 1px white;
	/* CSS3 */
	background: -moz-linear-gradient(top, #EEE, #FFF) #EEE;
	background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#FFF)) #EEE;
	border-radius: 4px;
	overflow: hidden;
}

/* Ausgewaehlte Lectures zur Infoanzeige */
div.lectureBox_sel {
	background: #DFE8F6 !important;
	border: 2px solid #8DB2E3 !important;
	margin: 1px;
	/* CSS3 */
	background: -moz-linear-gradient(top, #DFE8F6, #FFF) #DFE8F6 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#DFE8F6), to(#FFF)) #DFE8F6 !important;

}
/* Lextures die in MySchedule sind */
div.lectureBox_cho {
	background: #b8c47e;
	border: 1px solid #333;
	/* CSS3 */
	background: -moz-linear-gradient(top, #b8c47e, #e2e7c9) #b8c47e;
	background: -webkit-gradient(linear, left top, left bottom, from(#b8c47e), to(#e2e7c9)) #b8c47e;
}
.timeCell {
	background-color: #EBF3FD;
}

/* Liste der SPoratischen Veranstaltungen */
#sporadicPanel .x-panel-body {
	font-family: Verdana, Arial;
	font-size: 14px;
	padding: 2px;
	background: #E6E6E6;
}

div#infoPanel {
	font-family: Verdana, Arial;
	font-size: 14px;
}
div#infoPanel span.def {
	line-height: 18px;
	color: #555;
	font-weight: bold;
}
div#infoPanel b {
	display: block;
	color: #555;
}
/* InfoIcons in den InfoPanel fuer Detailiertere Infos */
div .detailInfoBtn {
	cursor: pointer;
}

/* Anzeige von DozentenInformationen */
div.dozInfo div {
	margin-top: 15px;
}
div.dozInfo div ul {
	list-style-type:circle;
	padding-left: 25px;
}

.blockFree {
	background-color: #FFFFFF;
}
.blockBusy {
	background-color: #667e9a;
	/* CSS3 */
	background: -moz-linear-gradient(top, #667e9a, #405080) #667e9a;
	background: -webkit-gradient(linear, left top, left bottom, from(#667e9a), to(#405080)) #667e9a;
}
.blockOccupied {
	background-color: #002959;
}
.blockFree_DIS, .blockBusy_DIS, .blockOccupied_DIS {
	background-color: #FFFFFF;
}

.myScheduleIcon {
	background: url(../images/table.png) no-repeat left center;
}

.myScheduleIconSave {
	background: url(../images/table_save.png) no-repeat left center;
}

.respChangesIcon {
	background: url(../images/table.png) no-repeat left center;
}

.respChangesIconSave {
	background: url(../images/table_save.png) no-repeat left center;
}

.DiffIcon {
	background: url(../images/table.png) no-repeat left center;
}

.DiffIconSave {
	background: url(../images/table_save.png) no-repeat left center;
}

.clas-node {
	background: url(../images/clasIcon.png) no-repeat !important;
}
.room-node {
	background: url(../images/roomIcon.png) no-repeat !important;
}
.doz-node {
	background: url(../images/dozIcon.png) no-repeat !important;
}

.dozIcon {
	background: url(../images/dozIcon.png) no-repeat left center;
}

.dozIconSave {
	background: url(../images/dozIcon_save.png) no-repeat left center;
}

.roomIcon {
	background: url(../images/roomIcon.png) no-repeat left center;

}

.roomIconSave {
	background: url(../images/roomIcon_save.png) no-repeat left center;
}

.clasIcon {
	background: url(../images/clasIcon.png) no-repeat left center;
}

.clasIconSave {
	background: url(../images/clasIcon_save.png) no-repeat left center;
}

#lectureSelectButton {
	cursor: pointer;
}


.step1{
	background: url(../images/step_1.png) no-repeat left center;
}
.step2{
	background: url(../images/step_2.png) no-repeat left center;
}
.step3{
	background: url(../images/step_3.png) no-repeat left center;
}

/* Toolbar ButtonIcons */
Button.tbSave{
	background: url(../images/disk.png) no-repeat left center;
}
img.tbSavePdf{
	background: url(../images/page_white_acrobat.png) no-repeat left center;
}
img.tbSaveTxt{
	background: url(../images/new.png) no-repeat left center;
}
Button.tbLogin{
	background: url(../images/key.png) no-repeat left center;
}
Button.tbLogout{
	background: url(../images/door_in.png) no-repeat left center;
}
Button.tbInfo{
	background: url(../images/information.png) no-repeat left center;
}
Button.tbSubscribe{
	background: url(../images/table_edit.png) no-repeat left center;
}
img.tbSaveICal{
	background: url(../images/ICalIcon.png) no-repeat left center;
}
Button.tbPEvent{
	background: url(/../images/calendar_add.png) no-repeat left center;
}
Button.tbEvent{
	background: url(../images/calendar_add.png) no-repeat left center;
}
Button.tbDownload{
	background: url(../images/down.png) no-repeat left center;
}

/* Drag and Drop */
.dd-drag {
    opacity: 0.4;
    -moz-opacity: 0.4;
    filter: alpha(opacity=40);
}
.dd-over {
    background-color: #ffff60;
}

/* Farben im Tab Änderungen */

div.removed {
	color: #aaaaaa;
	text-decoration: line-through;
}

div.movedfrom {
	color: #aaaaaa;
}

small.new {
	font-weight:bold;
	color: #00FF00;
}

small.removed {
	font-weight:bold;
	color: #FF4444;
}

img.mySched_terminicon {
	height:12px;
	width:12px;
	margin-bottom:-2px;
}

/*
 * MNI STYLE
 */

.x-toolbar {
	background-color:#FFFFFF;
	background-image:url();
	border-color:#FFFFFF;
}

.x-panel-body-noheader, .x-panel-mc .x-panel-body {
	border-top-color:#FFFFFF;
}

.x-panel-body {
	background-color:#FFFFFF;
	border-color:#FFFFFF;
}

.x-btn-click .x-btn-text, .x-btn-menu-active .x-btn-text, .x-btn-pressed .x-btn-text {
	color:#00316B;
}

.x-btn-click button {
	color:#00316B;
	font-weight:bold;
}

.x-btn button {
	color:#00316B;
	font-weight:bold;
}

.x-panel-bbar .x-toolbar, .x-panel-tbar .x-toolbar {
	border-color:#FFFFFF;
}

.x-tab-strip-top .x-tab-right, .x-tab-strip-top .x-tab-left, .x-tab-strip-top {
	/* CSS3 */
	background: -moz-linear-gradient(top, #AFAFFF, #CFCFFF) #AFAFFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#AFAFFF), to(#CFCFFF)) #AFAFFF;
	border-radius: 8px 8px 0px 0px;
}
.x-tab-strip a, .x-tab-strip span, .x-tab-strip em {
	background: #AFAFFF;
	/* CSS3 */
	background: -moz-linear-gradient(top, #AFAFFF, #CFCFFF) #AFAFFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#AFAFFF), to(#CFCFFF)) #AFAFFF;
}

.x-tab-strip-active span.x-tab-strip-text {
	color:#333333;
}

ul.x-tab-strip-top {
	background:#CBD3DD;
	border-bottom:0px;
}

.x-tab-strip span.x-tab-strip-text {
	color:#555555;
}

.x-tab-panel-header, .x-tab-panel-footer {
	border: 0px solid #8DB2E3;
	background-color: #CBD3DD;
	border-color: #8DB2E3;
}

.x-panel-body {
	border-width:0 1px 1px;
}

.x-panel-body {
	border-width:0 0 0;
}

.x-layout-collapsed {
	background-color:#DDDDDD;
	border:1px solid #98C0F4;
}

.x-border-layout-ct {
	background:#DDDDDD;
}

.x-toolbar .x-item-disabled button {
	font-weight:normal;
}

#preloadMessage {
	width: 200px;
 	height: 50px;
 	background-color: #E6E6E6;
 	margin: 220px auto 0pt;
 	text-align: center !important;
	border:3px solid #002959;
	border-radius:30px;
	color:#8ac91a;
}

#loadMessage {
	width: 200px;
 	height: 50px;
 	background-color: #E6E6E6;
 	margin: 0px auto;
 	text-align: center;
	border:3px solid #002959;
	border-radius:30px;
	color:#8ac91a;
}

#preloadMessagetext {
	position:relative;
	top:30%;
	font-family:tahoma,arial,helvetica,sans-serif;
	font-size:14px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;

}

.mySched_terminvenue {
	color:#00316B;
	font-size:11px;
	font-weight:bold;
}

.mySched_terminothers {
	font-size:11px;
}

.mySched_treeheader {
	background:#E6E6E6 !important;
	border:0px !important;
}

.mySched_techheader {
	border-left:0px;
}

.mySched_noBackground .x-window-tl .x-window-tr .x-window-tc{
	background-image: url();
	background-color: transparent;
}

.mySched_noBackground .x-window-tl .x-window-tr{
	background-image: url();
	background-color: transparent;
}

.mySched_noBackground .x-window-tl{
	background-image: url();
	background-color: transparent;
}

.mySched_noBackground .x-window-bwrap .x-window-ml .x-window-mr{
	background-image: url();
	background-color: transparent;
}

.mySched_noBackground .x-window-bwrap .x-window-ml{
	background-image: url();
	background-color: transparent;
}

.mySched_noBackground .x-window-bwrap{
	background-image: url();
	background-color: transparent;
}

.mySched_noBackground .x-window-bl .x-window-br .x-window-bc{
	background-image: url();
	background-color: transparent;
}

.mySched_noBackground .x-window-bl .x-window-br{
	background-image: url();
	background-color: transparent;
}

.mySched_noBackground .x-window-bl{
	background-image: url();
	background-color: transparent;
}

.mySched_noBackground .x-window-mc {
	background-image: url();
	background-color: transparent !important;
}

.x-shadow .xstl, .x-shadow .xstc, .x-shadow .xstr, .x-shadow .xsbl, .x-shadow .xsbc, .x-shadow .xsbr {
	background-image:url();
}

.x-shadow .xsml, .x-shadow .xsmr {
	background-image:url();
}

.x-shadow .xsmc {
	background-image:url();
}

.x-ie-shadow {
	background-color: transparent;
	display: none;
}

td.x-grid3-cell-first {
	vertical-align:middle;
}

.MySched_pause {
	background-color: #A0AEBE;
	text-align: center !important;
}

.x-fieldset{
	border: 0px;
	padding: 0px;
	padding-top: 5px;
}

.ext-ie .x-fieldset{
	border: 0px;
	padding: 0px;
	padding-top: 5px;
}

.addNotice {
	visibility: hidden;
}

td:hover .addNotice {
	visibility: visible;
}

.MySched_event_block {
	border-color:#FFAD1B !important;
}

small.dozname:hover {
	text-decoration:underline;
	cursor: pointer;
}

small.roomshortname:hover {
	text-decoration:underline;
	cursor: pointer;
}

small.classhorter:hover {
	text-decoration:underline;
	cursor: pointer;
}

.x-fieldset {
	margin-bottom: 0px;
}

.mysched_iframeNewEvent {
	overflow:auto;
	width:100%;
	height:100%;
}

.mysched_iframeModule {
	overflow:auto;
	width:100%;
	height:100%;
}

.estudy_logo {
	background: url(../images/estudy_logo.jpg) no-repeat left center;
	width: 16px;
	height: 16px;
	float: left;
}

.estudy_addCourse {
	background: url(../images/estudy_addCourse.jpg) no-repeat left center;
	width: 16px;
	height: 16px;
	float: left;
}

.ajaxloader
{
	background: url(../images/ajax-loader.gif) no-repeat left center;
	width: 64px;
	height: 64px;
}

.ajaxloader_DIS
{
	background: url();
	width: 16px;
	height: 16px;
	float: left;
}

.mySched_lesson_tooltip {
	float: left;
	padding-right: 3px;
}

.mySched_tooltip_index {
	z-index: 19999;
}

.mySched_gotoMessage_index {
	z-index: 20000 !important;
}

.timeBox {
	text-align: center !important;
}

.x-panel-bwrap {
	color: black !important;
}

.MySchedexternURLClass {
	display: block;
}

.MySchedexternURLClass_DIS {
	display: none;
}

div.status_icons {
	text-align: right !important;
	padding-top: 1px;
}

img.status_icons_add {
	cursor: pointer;
	padding-left: 1px;
	padding-right: 1px;
}

img.status_icons_estudy {
	cursor: pointer;
	padding-left: 1px;
	padding-right: 1px;
}

img.status_icons_info {
	cursor: pointer;
	padding-left: 1px;
	padding-right: 1px;
}

img.status_icons_edit {
	cursor: pointer;
	padding-left: 1px;
	padding-right: 1px;
}

img.status_icons_delete {
	cursor: pointer;
	padding-left: 1px;
	padding-right: 1px;
}

.lesson_add {
	background: url(../images/icon-publish.png) no-repeat left center;
}

.lesson_edit {
	background: url(../images/icon-edit.png) no-repeat left center;
}

#content_column {
	padding-top:0px;
}

.content_column li {
	margin:0px;
	list-style-image: url("");
}

.x-tree-node a span {
	font:11px arial,tahoma,helvetica,sans-serif;
	text-decoration:none;
}

.content_column img {
	margin:0px;
}

.content_column table {
	margin: 0px !important;
}

.content_column table td {
	padding:0px !important;
}

div.lectureBox_dis {
 	font-size: 11px !important;
    z-index: 1000;
	padding: 2px;
 	margin: 2px;
	background: #EEE;
	border: 1px solid #CCC;
	-moz-opacity: 0.9;
	text-align: center !important;
	text-shadow: 0px 1px 1px white;
	/* CSS3 */
	background: -moz-linear-gradient(top, #EEE, #FFF) #EEE;
	background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#FFF)) #EEE;
	border-radius: 4px;
	overflow: hidden;
}

small.oldroom {
	color: #aaaaaa;
	text-decoration: line-through;
}

small.olddoz {
	color: #aaaaaa;
	text-decoration: line-through;
}

div.MySchedMainW {
	width: 100%;
	height: 500px;
}

div.MySchedexternURLClass_DIS {
	width: 100%;
	height: 500px;
}

.x-grid3-hd {
	border-left: 0px !important;
	border-right: 0px !important;
}

.MySchedEvent_joomla {
	font-size: 11px !important;
   	cursor: move;
    z-index: 1000;
	padding: 2px;
 	margin: 2px;
	background: #7fff00;
	border: 1px solid #CCC;
	-moz-opacity: 0.9;
	text-align: center !important;
	text-shadow: 0px 1px 1px white;
	/* CSS3 */
	background: -moz-linear-gradient(top, #7fff00, #FFF) #7fff00;
	background: -webkit-gradient(linear, left top, left bottom, from(#7fff00), to(#FFF)) #7fff00;
	border-radius: 4px;
	overflow: hidden;
}

.access {
	cursor: pointer;
}

.MySchedEvent_estudy {
	font-size: 11px !important;
   	cursor: move;
    z-index: 1000;
	padding: 2px;
 	margin: 2px;
	background: #AFAFFF;
	border: 1px solid #CCC;
	-moz-opacity: 0.9;
	text-align: center !important;
	text-shadow: 0px 1px 1px white;
	/* CSS3 */
	background: -moz-linear-gradient(top, #AFAFFF, #CFCFFF) #AFAFFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#AFAFFF), to(#CFCFFF)) #AFAFFF;
	border-radius: 4px;
	overflow: hidden;
}

.x-grid3-cell-inner {
	white-space: normal;
}

.x-date-highlight_semester {
	background-color: yellow;
}

.x-date-highlight_joomla {
	background-color: #7fff00;
}

.x-date-highlight_estudy {
	background-color: #AFAFFF;
}

.content_column table {
	border: 0px solid !important;
	border-collapse: separate !important;
}

.x-grid3-hd-row td {
	border-right: 1px solid #D0D0D0 !important;
}

#main ul {
	margin: 0.5px !important;
	padding: 0.5px !important;
	list-style-type: none  !important;
}

#main ul li, #main ol li {
	padding: 0.5px !important;
}

tr, td{
	border: 0px !important;
}

.x-panel-header {
	padding: 5px 3px 5px 5px;
}

.x-tab-strip-top{
	/* CSS3 */
	background: -moz-linear-gradient(top, #AFAFFF, #CFCFFF) #AFAFFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#AFAFFF), to(#CFCFFF)) #AFAFFF;
	border-radius: 8px 8px 0px 0px;
}

.x-tab-strip-top .x-tab-strip-over .x-tab-right {
	background-position: 0px !important;
	background: -moz-linear-gradient(top, #AFAFFF, #CFCFFF) #AFAFFF !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#AFAFFF), to(#CFCFFF)) #AFAFFF !important;
}

.x-tab-strip-top .x-tab-strip-active .x-tab-right {
	background-position: 0px !important;
	background: -moz-linear-gradient(top, #AFAFFF, #CFCFFF) #AFAFFF !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#AFAFFF), to(#CFCFFF)) #AFAFFF !important;
    border-right: 1px solid #AFAFFF !important;
    border-top: 1px solid #AFAFFF !important;
}

.x-tab-strip-top .x-tab-strip-over .x-tab-left {
	background-position: 0px !important;
	background: -moz-linear-gradient(top, #AFAFFF, #CFCFFF) #AFAFFF !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#AFAFFF), to(#CFCFFF)) #AFAFFF !important;
}

.x-tab-strip-top .x-tab-strip-active .x-tab-left {
	background-position: 0px !important;
	background: -moz-linear-gradient(top, #AFAFFF, #CFCFFF) #AFAFFF !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#AFAFFF), to(#CFCFFF)) #AFAFFF !important;
}

.x-tab-right {
    border-left: 1px solid #AFAFFF !important;
    border-top: 1px solid #AFAFFF !important;
}

.x-tab-strip-wrap
{
	margin-bottom: -2px !important;
	padding-top: 1.5px;
}

div.x-tree-node-over a {
    /* CSS3 */
	background: -moz-linear-gradient(top, #EEEEEE, #FEEEEE) #EEEEEE !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#FEEEEE)) #EEEEEE !important;
	border-radius: 8px;
	/*background-color: #EEEEEE !important;*/
	padding: 1px;
}

div.x-tree-selected a {
    /* CSS3 */
	background: -moz-linear-gradient(top, #AFAFFF, #CFCFFF) #AFAFFF !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#AFAFFF), to(#CFCFFF)) #AFAFFF !important;
	border-radius: 8px;
	padding: 1px;
}

.content_column li {
	list-style-image: url() !important;
	margin: 0px !important;
}

.x-window-body {
	background: #FFFFFF !important;
}