.MySched_pause {
    background-color: #A0AEBE;
    text-align: center;
}

.MySchedexternURLClass {
    display: block;
}

div.MySchedexternURLClass_DIS {
    width: 100%;
    height: 500px;
}

.MySchedexternURLClass_DIS {
    display: none;
}

.MySched_Semester {
    background-color: yellow;
}

.MySched_CalendarEvent {
    background-color: #7fff00;
}

.timeBox {
    text-align: center;
}

.MySchedEvent_joomla {
    font-size: 11px;
    cursor: move;
    z-index: 1000;
    padding: 2px;
    margin: 2px;
    background: #7fff00;
    border: 1px solid #CCC;
    -moz-opacity: 0.9;
    text-align: center;
    text-shadow: 0 1px 1px white;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
    color: black;
    text-decoration: none;
}

.lectureBox_reserve {
    color: red;
}

.lectureBox_dis {
    font-size: 11px;
    z-index: 1000;
    padding: 2px;
    margin: 2px;
    background: #EEE;
    border: 1px solid #CCC;
    -moz-opacity: 0.9;
    text-align: center;
    text-shadow: 0 1px 1px white;
    overflow: hidden;
    text-decoration: line-through;
    color: #AAA;
    white-space: normal;
}

/* Ausgewaehlte Lectures zur Infoanzeige */
.lectureBox_sel {
    background: #DFE8F6;
    border: 2px solid #8DB2E3;
    margin: 1px;
}

/* Lextures die in MySchedule sind */
.lectureBox_cho {
    background: #b8c47e;
    border: 1px solid #333;
}

.timeCell {
    background-color: #EBF3FD;
}

/* Anzeige von DozentenInformationen */
div.teacherInfo div {
    margin-top: 15px;
}

div.teacherInfo div ul {
    list-style-type: circle;
    padding-left: 25px;
}

/* Änderungen Top Icon Style */
.top_icon_image {
    background-color: green;
    font-weight: bold;
}

/* MNI Style */
.mysched_iframeModule {
    overflow: auto;
    width: 100%;
    height: 100%;
}

.content_column table.x-grid-table th {
    padding: 0;
}

.content_column table.x-grid-table td {
    padding: 0;
}

.content_column table.x-grid-table {
    border: 0 solid #EEEEEE;
}

.content_column {
    padding-top: 0 !important;
}

/* Toolbar ButtonIcons */
.tbSave {
    background: url(../images/disk.png) no-repeat left center;
}

.tbSavePdfA4 {
    background: url(../images/page_white_acrobat.png) no-repeat left center;
}

.tbSaveTxt {
    background: url(../images/excel.png) no-repeat left center;
}

.tbInfo {
    background: url(../images/information.png) no-repeat left center;
}

.tbSubscribe {
    background: url(../images/table_edit.png) no-repeat left center;
}

.tbSaveICS {
    background: url(../images/ICalIcon.png) no-repeat left center;
}

.tbDownload {
    background: url(../images/down.png) no-repeat left center;
}

/* Drag and Drop */
.dd-drag {
    opacity: 0.4;
    -moz-opacity: 0.4;
    filter: alpha(opacity=40);
}

.dd-over {
    background-color: #ffff60;
}

/* Farben im Tab Änderungen */
div.removed {
    color: #aaaaaa;
    text-decoration: line-through;
}

.movedfrom {
    color: #aaaaaa;
}

.new {
    font-weight: bold;
    color: #00FF00;
}

small.removed {
    font-weight: bold;
    color: #FF4444;
}

/* Lecture Styles */
.lecturename {
    cursor: pointer;
    margin: -2px;
    word-wrap: break-word;
    white-space: normal;
}

.lecturename_dis {
    margin: -2px;
    word-wrap: break-word;
    white-space: normal;
}

.oldroom {
    color: #aaaaaa;
    text-decoration: line-through;
    font-size: 11px;
}

.oldteacher {
    color: #aaaaaa;
    text-decoration: line-through;
    font-size: 11px;
}

.oldmodule {
    color: #aaaaaa;
    text-decoration: line-through;
    font-size: 11px;
}

.teachername:hover {
    text-decoration: underline;
    cursor: pointer;
}

.roomname:hover {
    text-decoration: underline;
    cursor: pointer;
}

.modulename:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Status Icons */
.status_icons {
    text-align: right;
    padding-top: 1px;
}

.status_icons_add {
    cursor: pointer;
    padding-left: 1px;
    padding-right: 1px;
}

.status_icons_info {
    cursor: pointer;
    padding-left: 1px;
    padding-right: 1px;
}

.status_icons_edit {
    cursor: pointer;
    padding-left: 1px;
    padding-right: 1px;
}

.status_icons_delete {
    cursor: pointer;
    padding-left: 1px;
    padding-right: 1px;
}

/* MySched Search Result */
.MySchedSearchResult {
    border: 1px solid #FF8C00;
}

.searchSubject {
    border: 1px solid #FF8C00;
}

/* Deltastyle */

.deltanew {
    color: green;
}

.deltaremoved {
    text-decoration: line-through;
    color: #aaaaaa;
}

.roomnew {
    color: green;
}

.roomremoved {
    text-decoration: line-through;
    color: #aaaaaa;
}

.teachernew {
    color: green;
}

.teacherremoved {
    text-decoration: line-through;
    color: #aaaaaa;
}

.modulenew {
    color: green;
}

.moduleremoved {
    text-decoration: line-through;
    color: #aaaaaa;
}
