@CHARSET "ISO-8859-1";
/*********************************************************************************************/
/* com_thm_organizer view: roomdisplay template: registered                                  */
/*********************************************************************************************/
/* HEADER */

.header {
    width: 950px;
    height: 45px;
}
.block_head_room{
    height: 60px;
    width: 150px;
    float: left;
    text-align: left;
    padding-left: 20px;
    font-size: 40px;
    font-weight: bold;
}
.block_head_date{
    height: 60px;
    float: right;
    text-align: left;
    padding-right: 0px;
    font-size: 40px;
    font-weight: bold;
}

/* Left Area */

.left_area{
    min-height: 535px;
    width: 564px;
    float: left;
    background-color: #8ac91a;
}

.white_block{
    background-color: white;
    height: 87px;
    width: 564px;
    float: left;
    margin: 1px;
}

.green_block{
    background-color: #b8c47e;
    height: 87px;
    width: 564px;
    float: left;
    margin: 1px;
}

.left_block{
    padding-top: 32px;
    padding-left: 8px;
    height: 90px;
    width: 30px;
    float: left;
    margin-bottom: -32px;
    margin-right: -0px;
}

.left_block img{
    width: 25px;
    height: 25px;
}

.middle_block{
    height: 90px;
    width: 60px;
    padding-top: 20px;
    float: left;
    font-size: 15px;
    margin-bottom: -20px;
}

.right_block_data{
    padding-top: 25px;
    height: 90px;
    width: 400px;
    float: right;
    margin-bottom: -25px;
    text-align: center;
}

.right_block_nodata{
    padding-top: 33px;
    height: 90px;
    width: 400px;
    float: right;
    margin-bottom: -33px;
    text-align: center;
	
}
.lesson{
    font-size: 18px;
    font-weight: bold;
}
.info{
    font-size: 15px;
}

/* Right Area */

.right_area{
    background-color: #b8c47e;
    height: 535px;
    width: 370px;
    float: left;
    font-weight: bold;
    padding-left:20px;
}

hr{
    margin-left: -40px;
    margin-top: -2px;
    margin-bottom: 6px;
    color: white;
    background-color: white;
    width: 350px;
}

#hr2{
    margin-top: 0px;
}

li{
    max-width: 360px;
    margin-bottom: 5px;
}

ul{
    padding-left: 5px;
    margin-bottom: 20px;
}

/*********************************************************************************************/
/* com_thm_organizer view: eventlist                                                         */
/*********************************************************************************************/


#thm_organizer_el{
    margin: -10px -10px 10px -10px;
}

#thm_organizer_el_newevent{
    float: right;
}

#thm_organizer_el_newevent img{
    height: 20px;
    width: 20px;
}

#thm_organizer_el_eventcattable{
    margin: -10px -10px 0px -4px;
}

.thm_organizer_el_catimage{
    width: 80px;
    height: 80px;
}

#thm_organizer_el_searchform{
    background-color: #DDDDDD;
}

#thm_organizer_el_searchform #date_img{
    margin: 0px 3px -4px 0px;
}

#thm_organizer_el_filter{
    width: 15%;
}

#thm_organizer_el_eventtable{
    border: 0;
    text-align: left;
    width: 100%;
    table-layout: fixed;
    margin: -20px 0px 0px 0px;
}
a.sortLink{
    font-size: 14px;
    color: black;
}

#thm_organizer_el_eventtitlehead{
    min-width: 25%;
}

#thm_organizer_el_eventroomhead{
    min-width: 10%;
}

#thm_organizer_el_eventcathead{
    min-width: 15%;
}

#thm_organizer_el_eventdthead{
}

#thm_organizer_el_eventedithead{
    width: 3%;
}

#thm_organizer_el_eventdeletehead{
    width: 3%;
}

.thm_organizer_el_eventeven{
    background-color: #DDDDDD;
}

.pageslinks{
margin-top:20px;
}

#thm_organizer_el_eventtable tr td img{
    margin:0px;
    height: 16px;
    width: 16px;
}

/*********************************************************************************************/
/* com_thm_organizer view: event                                                             */
/*********************************************************************************************/

.thm_organizer_e_block_div{
    float: left;
    padding-top: 10px;
    min-width: 450px;
    max-width: 450px;
}

#thm_organizer_e_header{
    margin-top: -10px;
    margin-bottom:-4px;
    width: 100%;
    height: 35px;
}

#thm_organizer_e_headerlinks{
    float: right;
    clear: both;
}

.thm_organizer_e_block_head{
    width: 100%;
    padding-bottom: 5px;
    margin-left: 0px;
}

#thm_organizer_e_resources{
    padding-top: 10px;
    min-width: 100%;
}

#thm_organizer_e_content{
    padding-top: 10px;
    min-width: 100%;
}

/*********************************************************************************************/
/* com_thm_organizer view: edit event                                                        */
/*********************************************************************************************/

#thm_organizer_ee{
    margin-top: -10px;
}

.thm_organizer_ee_shortlabel{
    float: left;
    width: 80px;
}

.thm_organizer_ee_longlabel{
    float: left;
    width: 140px;
}


#thm_organizer_ee table{
    margin: 0px;
}

#thm_organizer_ee fieldset{
    border:#a8b5c5 solid 2px;
    padding: 5px;
}

#thm_organizer_ee legend{
    padding: 2px;
    margin-left:20px;
}

#thm_organizer_ee #btnreset{
    padding:0px 3px;
}

#thm_organizer_ee table img{
    margin: 0px 3px -5px 0px
}


/*********************************************************************************************/
/* com_thm_organizer view: room list                                                         */
/*********************************************************************************************/

#thm_organizer_rl{}
#thm_organizer_rl_fieldset{
    margin: 0 0 1em 0;
    padding: 1em;
    border: 2px solid #a8b5c5;
    width: 40%;
}
#thm_organizer_rl_fieldset img{
    margin-bottom: -3px;
}
#thm_organizer_rl_legend{
    padding: 0.3em;
    font-weight: bold;
    font-size: 12px;
}
#thm_organizer_rl_calendar{}


/*********************************************************************************************/
/* com_thm_organizer view: room display  template: unregistered                              */
/*********************************************************************************************/
#thm_organizer_rd table{
    margin: 5px 0px;
    width: 100%;
}

#thm_organizer_rd h3{
    background-color: #a8b5c5;
}

#thm_organizer_rd_head{
    background-color: #667e9a;
    font-weight: bolder;
    font-size: 16px;
    text-align: right;
    width: 100%;
}
#thm_organizer_rd_lessons{
    margin-top:5px;
    float:left;
    clear: right;
}
.thm_organizer_rd_events{
    margin-top:5px;
    float:left;
    clear: right;
    margin-left: 5px;
}

.thm_organizer_rd_row_odd{
    background-color: #dddddd;
}


/*********************************************************************************************/
/* mod_thm_mylink                                                                        */
/*********************************************************************************************/

.mod_giessen_mylink_image{
    border: 1px solid rgb(33, 0, 124);
}





