@font-face {
    font-family: 'icomoon';
    src: url('icomoon.eot?-pfjkf9');
    src: url('icomoon.eot?#iefix-pfjkf9') format('embedded-opentype'),
    url('icomoon.ttf?-pfjkf9') format('truetype'),
    url('icomoon.woff?-pfjkf9') format('woff'),
    url('icomoon.svg?-pfjkf9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}