// ---------------------------------
// Icons - Backend
// ---------------------------------

// icon of categories
%icon-categories {
  background: url('../images/categories48.png') 0 0 no-repeat;
}

// icon of colors
%icon-colors {
  background: url('../images/colors48.png') 0 0 no-repeat;
}

// icon of degrees
%icon-degrees {
  background: url('../images/degrees48.png') 0 0 no-repeat;
}

// icon of degree programs
%icon-degree-programs {
  background: url('../images/programs48.png') 0 0 no-repeat;
}

// icon of fields
%icon-fields {
  background: url('../images/fields48.png') 0 0 no-repeat;
}

// icon of mni
%icon-mni {
  background: url('../images/icon-48-mni.png') 0 0 no-repeat;
}

// icon of monitor
%icon-monitors {
  background: url('../images/monitors48.png') 0 0 no-repeat;
}

// icon of room
%icon-rooms {
  background: url('../images/rooms48.png') 0 0 no-repeat;
}

// icon of schedule
%icon-schedules {
  background: url('../images/schedules48.png') 0 0 no-repeat;
}

// icon of subject
%icon-subjects {
  background: url('../images/subjects48.png') 0 0 no-repeat;
}

// icon of subject pools
%icon-subject-pools {
  background: url('../images/pools48.png') 0 0 no-repeat;
}

// icon of teacher
%icon-teachers {
  background: url('../images/teachers48.png') 0 0 no-repeat;
}

// icon of thm organizer overview
%icon-organizer {
  background: url('../images/organizer48.png') 0 0 no-repeat;
}

// icon of user
%icon-users {
  background: url('../images/users48.png') 0 0 no-repeat;
}

// icon of virtual schedules
%icon-virtual-schedules {
  background: url('../images/virtual_schedules48.png') 0 0 no-repeat;
}

// icon of merge (toolbar)
%icon-merge {
  background: url('../images/icon-32-merge.png');
}

// icon of wrench (toolbar)
%icon-wrench {
  background: url('../images/icon-32-wrench.png');
}

// ---------------------------------
// Icons - Frontend
// ---------------------------------

// icon "new / neu"
%icon-new {
  background-image: url("../../../media/com_thm_organizer/images/icon-32-new.png");
}

// icon "edit / anpassen"
%icon-edit {
  background-image: url("../../../media/com_thm_organizer/images/icon-32-edit.png");
}

// icon "delete / löschen"
%icon-delete {
  background-image: url("../../../media/com_thm_organizer/images/icon-32-trash.png");
}

// icon "submit / los!"
%icon-submit {
  background-image: url("../../../media/com_thm_organizer/images/icon-32-forward.png");
}

// icon "back / zurücksetzen"
%icon-back {
  background-image: url("../../../media/com_thm_organizer/images/icon-32-refresh.png");
}

// icon "list / terminliste"
%icon-list {
  background-image: url("../../../media/com_thm_organizer/images/icon-32-list.png");
}

// icon "event / termindetails"
%icon-event {
  background-image: url("../../../media/com_thm_organizer/images/icon-32-event.png");
}

// icon "save / speichern"
%icon-save {
  background-image: url("../../../media/com_thm_organizer/images/icon-32-save.png");
}

// icon "save new / speichern & new"
%icon-save_new {
  background-image: url("../../../media/com_thm_organizer/images/icon-32-save-new.png");
}

// icon "preview / vorschau"
%icon-preview {
  background-image: url("../../../media/com_thm_organizer/images/icon-32-preview.png");
}

// icon "cancel / abbrechen"
%icon-cancel {
  background-image: url("../../../media/com_thm_organizer/images/icon-32-cancel.png");
}