// ------------------------------------ //
// body definitions                     //
// ------------------------------------ //
$font: Verdana, Arial;
$fsize: 13px;
$fcolor: rgb(74, 92, 102);

// ***** alternative definitions *****  //
// ------------------------------------ //
// Borders                              //
// ------------------------------------ //

// border and color definition
$border-color: 1px solid rgb(187, 187, 187);

// ------------------------------------ //
// Colors                               //
// ------------------------------------ //

// box-shadow default definition
$shadow-color: rgb(221, 221, 221);

// box-shadow definition for fieldset
$shadow-color-fieldset: rgb(128, 186, 36);

// background color for accordion
$bg-color: rgb(238, 238, 238);
$bg-color-panel: rgb(255, 255, 255);

// font color for light text
$fcolor-light: rgb(238, 238, 238);

// title color for thm organizer
$fcolor-title: rgb(68, 92, 32);

// ------------------------------------ //
// Fonts                                //
// ------------------------------------ //
$fsize-em: 1.3em;

// large size for title
$fsize-title: 20px;

// default size for lists
$fsize-list: 12px;

// small size for items
$fsize-small: 11px;

// size for publish infos (author, date)
$fsize-publish: 9px;

// ------------------------------------ //
// Positions                            //
// ------------------------------------ //
$text-align-center: center;
