// ------------------------------------
// body definitions
// ------------------------------------
$font: Verdana, Arial;
$fsize: 13px;
$fcolor: rgb(74, 92, 102);

// ------------------------------------
// font definitions
// ------------------------------------
$fsize-em: 1.3em;

// ------------------------------------
// definition of positions
// ------------------------------------
$text-align: center;

// ------------------------------------
// shadow definitions
// ------------------------------------
$shadow-color: rgb(221, 221, 221);

