/*  ------------------------------------
**  Author:     Kristijan Pokas
**  File:       event_details.css
**  Styles for: 
**  Site:       www.mni.thm.de
**  ------------------------------------ */

@import 'variables';

// Bold font for title
.thm_organizer_e_title {
  color: $fcolor-title;
  font-family: $font;
  font-size: $fsize-small;
  font-weight: bold;
  text-decoration: none;
}

// The block for the event
.thm_organizer_e_block_div {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
  max-width: 450px;
  min-width: 450px;
  padding-top: 10px;
}

// Header
.thm_organizer_e_header {
  border-bottom: $border-color;
  display: table-cell;
  height: 35px;
  padding-bottom: 1px;
  vertical-align: middle;
  width: 100%;
}

// Header margin
.thm_organizer_e_headerlinks {
  float: right;
  margin-right: 0;
  margin-top: -1.5%;
}

// ===== UNUSED =====
.thm_organizer_e_content,
.thm_organizer_e_resources {
  min-width: 100%;
  padding-top: 10px;
}

// Margin between content and the title
.thm_organizer_e_title p {
  margin-bottom: 0;
  margin-top: 0;
}

// Adjusting the position and size of the details about author and date
.thm_organizer_e_publish_up p,
  // Author
.thm_organizer_e_author p {
  font-size: $fsize-publish;
  margin-bottom: 0;
  margin-top: 0;
}

// ===== UNUSED =====
.thm_organizer_e_preview_div {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 5px;
  max-width: 920px;
  min-width: 920px;
  padding-right: 30px;
  padding-top: 10px;
  text-align: left;
  white-space: normal;
}

// ===== UNUSED =====
.thm_organizer_e_description {
  margin-bottom: 30px;
  margin-right: 60px;
}