/*  ------------------------------------
**  Author:     Kristijan Pokas
**  File:       event_manager.css
**  Styles for: 
**  Site:       www.mni.thm.de
**  ------------------------------------ */

@import 'mixins';
@import 'variables';
@import 'toolbar.css';

.thm_organizer_el {
  margin-right: 8px;
  button {
    background: none;
    border: none;
  }
}

// Adjusts top div
.thm_organizer_el_top_div {
  float: left;
  width: 100%;
}

// Adjusts category div to left
.thm_organizer_el_category_desc_div {
  float: left;
}

// Adjusts toolbar right
.thm_organizer_el_action_div {
  float: right;
  margin-bottom: 2px;
  // Adjusts button size in toolbar div
  button {
    padding: 1px;
  }
}

// ===== UNUSED =====
.thm_organizer_el_divider_span {
  margin-right: 10px;
  width: 1px;
}

// Adjusts divs for filters and table
.thm_organizer_el_form_div {
  clear: both;
  float: left;
  width: 100%;
}

// Adjusts the div for search bar
.thm_organizer_el_search_div {
  background-color: $bg-color;
  border: $border-color;
  padding: 5px;
  width: 100%;

  @include border-radius(3px);

  // Adjusts the calendars in the filter to the same level as text areas
  .calendar {
    margin-bottom: -5px;
  }
}

// Adjusts label texts
.thm_organizer_el_label_span {
  padding-left: 2px;
  padding-right: 2px;
}

// Creates the table to show the events
.thm_organizer_el_events_div {
  background-color: $bg-color;
  margin-top: 10px;
  border: $border-color;
  padding: 5px;
  width: 100%;

  @include border-radius(3px);
}

// Next three are adjustment for table headers. Doesn't seem to have any effect
.thm_organizer_el_eventtable {
  border-spacing: 0;
  width: 100%;

  thead {
    tr {
      border: none;

      // Style for tr and td's in table. Doesn't seem to have any effect
      td {
        border: none;
        padding: 3px;

        // Text decoration for tr's, td's and hyperlinks in table. Doesn't seem to have any effect
        a {
          text-decoration: none;
        }
      }
    }

    th {
      padding: 3px;

      // Text decoration for hyperlinks in table
      a {
        text-decoration: none;
      }
    }
  }
}

// ===== UNUSED =====
.thm_organizer_el_sortLink img {
  border: none;
  margin-left: 4px;
}

// White color with gray borders for even numbered rows
.thm_organizer_el_row_even {
  background-color: $bg-color-panel;
  border: $border-color;
}

// Gray color for odd rows
.thm_organizer_el_row_odd {
  border: $border-color;
}

// Size of the checkbox area
.thm_organizer_el_col_check {
  width: 18px;
}

// ===== UNUSED =====
.thm_organizer_el_noauth {
  background-color: rgb(230, 192, 192);
  border-bottom: 3px solid #de7a7b;
  border-top: 3px solid #de7a7b;
  color: #c00;
  font-weight: bolder;
  padding: 5px;
}
