<html>
<head>
<title>Photoshop-like Color Picker for MooTools</title>
<script src="mootools-1.2.1-more-rc01-multi-more.js"></script>
<script src="colorpicker/DynamicColorPicker.js"></script>

<script>
window.addEvent('domready', function() {
    DynamicColorPicker.auto(".color-field");

    $("forecolor").retrieve('colorPicker').addEvent('change', function(col) { $(document.body).setStyle("color", col) });
    $("bgcolor").retrieve('colorPicker').addEvent('change', function(col) { $(document.body).setStyle("background-color", col) });
});
        </script>
</head>
<body>
	<h1>Photoshop-like Color Picker for MooTools</h1>

	<p>
		This is basically <a
			href="http://johndyer.name/post/2007/09/26/PhotoShop-like-JavaScript-Color-Picker.aspx">John
			Dyer's</a> Photoshop-like color picker, but translated from Prototype to
		MooTools, and with a few added features.
	</p>

	<h2>Demo</h2>

	<div>
		Foreground color <input type="text" class="color-field" id="forecolor"
			value="#000000" size="8">
	</div>
	<div>
		Background color <input type="text" class="color-field" id="bgcolor"
			value="#FFFFFF" size="8">
	</div>

	<h2>Features</h2>

	<ul>
		<li>Works with MooTools (tested with 1.2);</li>

		<li>DynamicColorPicker creates multiple instances of the color
			picker HTML table for you;</li>

		<li>In fact, it allows you to turn all input fields with a
			specific class into color-picker fields in one line of JavaScript: <pre>
				<code>    window.addEvent('domready', function() {
        DynamicColorPicker.auto(".color-field");
    });</code>
			</pre>
		</li>

		<li>When used with MooTools More, autoloads the required JS files
			so you only have to include one (<tt>DynamicColorPicker.js</tt>).
		</li>
	</ul>

	<h2>Download</h2>

	<p>
		<a href="colorpicker.zip">colorpicker.zip</a>
	</p>
</body>
</html>
