@CHARSET "ISO-8859-1";

/******************************************************************************/
/* com_thm_organizer.admin                                                    */
/******************************************************************************/

/* com_thm_organizer.admin view: thm_organizers********************************/

#thm_organizer_main{ }

#thm_organizer_main_description{
    font-size: 14px;
    clear: both;
    padding-bottom: 8px;
}

.thm_organizer_main_submenu{
    width: 100%;
    clear: both;
    margin-top: 4px;
}

.thm_organizer_main_linkdiv{
    float:left;
}

.thm_organizer_main_image{
    height: 40px;
    width: 40px;
}

.thm_organizer_main_descriptiondiv{
    float: left;
    padding: 5px;
    font-size: 13px;
}

/* com_thm_organizer.admin view: monitor_manager*******************************/

#thm_organizer_mm{
    width: 60%;
    text-align: center;
}

.thm_organizer_mm_table{}

#thm_organizer_mm_col_checkbox{
    width: 10%;
}

#thm_organizer_mm_col_ip{
    width: 30%;
}

#thm_organizer_mm_col_room{
    width: 20%;
}

#thm_organizer_mm_col_semester{
    width: 40%;
}

.thm_organizer_mm_checkbox{}

.thm_organizer_mm_room{
    text-align: center;
}

.thm_organizer_mm_ip{
    text-align: center;
}

.thm_organizer_mm_semester{
    text-align: center;
}

/* com_thm_organizer.admin view: monitor_edit**********************************/

#thm_organizer_me_label_column{
    width: 20px;
}

.thm_organizer_me_label_data{
    text-align: right;
}