@CHARSET "ISO-8859-1";

/******************************************************************************/
/* com_thm_organizer.admin                                                    */
/******************************************************************************/

.thm_organizer_radio_button{
    background: #f4f4f4;
    border: none;
}

/* com_thm_organizer.admin view: thm_organizers********************************/

#thm_organizer_main{ }

#thm_organizer_main_description{
    font-size: 14px;
    clear: both;
    padding-bottom: 8px;
}

.thm_organizer_main_submenu{
    width: 100%;
    margin-top: 4px;
}

.thm_organizer_main_linkdiv{
    float:left;
}

.thm_organizer_main_image{
    height: 40px;
    width: 40px;
}

.thm_organizer_main_descriptiondiv{
    float: left;
    padding: 5px;
    font-size: 13px;
}

/* com_thm_organizer.admin view: monitor_manager*******************************/

#thm_organizer_mm{
    width: 60%;
    text-align: center;
}

.thm_organizer_mm_table{
    width: 30% !important;
}

#thm_organizer_mm_col_checkbox{
    width: 10%;
}

#thm_organizer_mm_col_ip{
    width: 30%;
}

#thm_organizer_mm_col_room{
    width: 20%;
}

.thm_organizer_mm_checkbox{}

.thm_organizer_mm_room{
    text-align: center;
}

.thm_organizer_mm_ip{
    text-align: center;
}

.thm_organizer_mm_semester{
    text-align: center;
}

/* com_thm_organizer.admin view: monitor_edit**********************************/

#thm_organizer_me_label_column{
    width: 120px;
}

#thm_organizer_me_data_column{}

.thm_organizer_me_label_data{
    text-align: right;
}

/* com_thm_organizer.admin view: semester_manager*********************************/

#thm_organizer_sm{}

#thm_organizer_sm_checkbox_column{
    width: 10px;
}

.thm_organizer_sm_orgdata, .thm_organizer_sm_semesterdata, .thm_organizer_sm_buttons{
    width: 15%
}

#thm_organizer_sm form table.adminlist tbody tr td{
    border: none;
}

#thm_organizer_sm form table.adminlist thead th{
    border-left: none;
    border-right: none;
    text-align: left;
}

/* com_thm_organizer.admin view: semester_edit*********************************/

#thm_organizer_se{
    color: #025a8d;
}

.thm_organizer_se_label{
    width: 30%;
}
#thm_organizer_se table.admintable{
    margin-top: 10px;
}

#adminForm div.m{
    padding: 5px;
}

.thm_organizer_se_label{
    padding-left: 5px;
}

#toolbar-apply button{
    background: none;
    border: none;
    color: #025a8d;
    font-size: 1em;
    margin-top: 1px;
}

#toolbar-close{
    font-size: 1em;
}

/* com_thm_organizer.admin view: category manager*********************************/


#thm_organizer_cm{
    max-width: 80%;
}

#thm_organizer_cm_table{}

#thm_organizer_cm_table thead th,
#thm_organizer_cm_table tr td{
    text-align: left;
}

#thm_organizer_cm_checkbox_column{
    width: 10px;
}

#thm_organizer_cm_title_column{
    min-width: 15%;
}

#thm_organizer_cm_global_column{
    width: 15px;
}

#thm_organizer_cm_reserves_column{
    width: 15px;
}

#thm_organizer_cm_content_cat_column{
    min-width: 20%;
}


/* com_thm_organizer.admin view: category_edit*********************************/

#thm_organizer_ce{}

#thm_organizer_ce_ecat{
    width: 35%;
    float: left;
}

#thm_organizer_ce_ccat{
    width: 60%;
    float: right;
}
.thm_organizer_ce_label{
    width: 15%;
    text-align: right;
    float: left;
    padding-right: 5px;
}

.thm_organizer_ce_data{
    float: left;
    clear: none;
    font-size: 14px;
}

#thm_organizer_ce_ecat_name_div{
    width: 100%;
    clear: both;
    margin-bottom: 30px;
}
#thm_organizer_ce_ccat_name_div{
    width: 100%;
    clear: both;
    margin-bottom: 85px;
}
#thm_organizer_ce_ecat_desc_div{
    width: 100%;
    clear: both;
    margin-bottom: 20px;
}
#thm_organizer_ce_ccat_desc_div{
    width: 100%;
    clear: both;
    margin-bottom: 30px;
}

.thm_organizer_ce_ecat_display_div{
    width: 100%;
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px;
}

#thm_organizer_ce_ccat_viewlevel_div{
    width: 100%;
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px;
}

.thm_organizer_ce_ccat_actions_div{
    width: 100%;
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px;
}

.thm_organizer_ce_explanation{
    
}

#thm_organizer_ce_actions_head tr td{
    border-bottom: 1px solid #cccccc;
}
.thm_organizer_ce_leftcolumn{
    border-left: 1px solid #cccccc;
}

#com_thm_organizer_ce_action_column{
    width:50px;
}