.pic {
	width: 50px;
	heigth: 50px;
}

.mainpic {
	width: 200px;
	heigth: 200px;
}

.logo2 {
	float: left;
}

.descriptiontext {
	float: left;
	width: 60%;
}

#gimenu1 {
	border: 0px solid #ABB1C0;
	margin-bottom: 30px;
	padding: 5px;
}

.icon {
	border: 1px solid #ABB1C0; //
	margin: 3px;
	width: 106px;
	padding-bottom: 5px;
	float: left;
}

.menuitem {
	cursor: pointer;
	float: left;
	background-color: white;
}

.menudescription {
	margin: 10px;
}

#gimenu1 div.icon:hover {
	background-color: lightgray;
	border-color: blue;
}

.picture2 {
	height: 4em;
	padding-left: 25px;
}

.description1 {
	margin-left: 10px; //
	text-align: center;
	font-size: 1.3em;
	font-style: normal;
	font-weight: bold;
	color: black;
}

.description2 {
	margin-top: 1em;
	padding-left: 5px;
	padding-top: .1em;
	padding-bottom: .2em;
	text-align: center;
	font-size: .8em;
	font-style: normal;
	font-weight: bold;
	color: black;
}

img {
	border: none;
}

a:link {
	color: black;
	text-decoration: none
}

a:visited {
	color: black;
	text-decoration: none
}

a:active {
	color: black;
	text-decoration: none
}

a:hover {
	color: black;
	text-decoration: none
}

.icon-32-iconname {
	background-image: url(../../images/menu/icon-32-iconfile.png);
}