<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="component"
              label="COM_THM_ORGANIZER_SETTINGS_TITLE"
              description="COM_THM_ORGANIZER_SETTINGS_DESC">
        <field name="eCollabLink"
               type="text"
               size="60"
               default="http://moodle.thm.de/course/view.php?idnumber="
               label="COM_THM_ORGANIZER_SETTINGS_ECOLLAB_TITLE"
               description="COM_THM_ORGANIZER_SETTINGS_ECOLLAB_DESC">
        </field>
    </fieldset>
    <fieldset name="LSF-SERVICE"
              label="COM_THM_ORGANIZER_LSF_SERVICE_TITLE"
              description="COM_THM_ORGANIZER_LSF_SERVICE_DESC">
        <field name="wsURI"
               type="text"
               default="https://studien-sb-service.fh-giessen-friedberg.de/lsfadmin/services/dbinterface?wsdl"
               size="100"
               label="COM_THM_ORGANIZER_LSF_URI_TITLE"
               description="COM_THM_ORGANIZER_LSF_URI_DESC">
        </field>
        <field name="wsUsername"
               type="text"
               default="soapclmni"
               size="30"
               label="COM_THM_ORGANIZER_LSF_USERNAME_TITLE"
               description="COM_THM_ORGANIZER_LSF_USERNAME_DESC">
        </field>
        <field name="wsPassword"
               type="text"
               default="cByAroe5"
               size="30"
               label="COM_THM_ORGANIZER_LSF_PASSWORD_TITLE"
               description="COM_THM_ORGANIZER_LSF_PASSWORD_DESC">
        </field>
    </fieldset>
    <fieldset name="monitor"
              label="COM_THM_ORGANIZER_MONITOR_SETTINGS_TITLE"
              description="COM_THM_ORGANIZER_MONITOR_SETTINGS_DESC">
        <field
            type="list"
            id="display"
            name="display"
            label="COM_THM_ORGANIZER_MON_DISPLAY"
            description="COM_THM_ORGANIZER_MON_DISPLAY_DESC"
            class="inputbox">
            <option value='1'>COM_THM_ORGANIZER_MON_SCHEDULE</option>
            <option value='2'>COM_THM_ORGANIZER_MON_MIXED</option>
            <option value='3'>COM_THM_ORGANIZER_MON_CONTENT</option>
            <option value='4'>COM_THM_ORGANIZER_MON_EVENTS</option>
        </field>
        <field
            id="schedule_refresh"
            name="schedule_refresh"
            type="integer"
            label="COM_THM_ORGANIZER_MON_SCHEDULE_REFRESH"
            description="COM_THM_ORGANIZER_MON_SCHEDULE_REFRESH_DESC"
            first="10"
            last="990"
            step="10"
            default="60"/>
        <field
            id="content_refresh"
            name="content_refresh"
            type="integer"
            label="COM_THM_ORGANIZER_MON_CONTENT_REFRESH"
            description="COM_THM_ORGANIZER_MON_CONTENT_REFRESH_DESC"
            first="10"
            last="990"
            step="10"
            default="60"/>
        <field
            id="content"
            name="content"
            type="filelist"
            label="COM_THM_ORGANIZER_MON_CONTENT"
            description="COM_THM_ORGANIZER_MON_CONTENT_DESC"
            directory="images/thm_organizer/"
            exclude=""/>
    </fieldset>
    <fieldset name="permissions"
              label="JCONFIG_PERMISSIONS_LABEL"
              description="JCONFIG_PERMISSIONS_DESC">
        <field name="rules"
               type="rules"
               label="JCONFIG_PERMISSIONS_LABEL"
               validate="rules"
               filter="rules"
               component="com_thm_organizer"
               section="component" />
    </fieldset>
</config>
