.curriculum .item, .curriculum .legend-item, .curriculum .resource-item, .curriculum .panel-head, .curriculum .panel-row {
    display: flex;
    flex-direction: row;
}

.curriculum .legend {
    padding-left: .8rem;
    width: 25%;
}

.curriculum .legend-item {
    padding: .4rem 0;
}

.curriculum .item {
    border: 1px solid #a4adb2;
    width: 19%;
}

.curriculum .item.item-blank {
    border: none;
}

.curriculum .item-color {
    min-width: 1rem;
    width: 1rem;
}

.curriculum .item-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.curriculum .item-title, .curriculum .item-crp, .curriculum .item-tools {
    padding-left: .4rem;
    word-break: break-word;
}

.curriculum .panel {
    margin-top: .8rem;
}

.curriculum .panel:first-child {
    margin-top: 0;
}

.curriculum .panel-crp {
    margin-left: auto;
    padding: .8rem .4rem .4rem 0;
    text-align: right;
    width: 6rem;
}

.curriculum .panel-head {
    border-bottom: 1px solid #77858c;
    font-size: 1.5rem;
    margin-bottom: .8rem;
    position: relative;
}

.curriculum .panel-title {
    padding: .8rem 0 .4rem 0;
}

.curriculum .panel-row {
    justify-content: space-between;
    margin-bottom: .4rem;
    min-height: 6rem;
}
