body.tmpl-index div.main .chzn-container {
    max-width: inherit;
}

body.tmpl-index div.main .chzn-container,
body.tmpl-index div.main input,
body.tmpl-index div.main select {
    border: 2px solid #4a5c66;
}

body.tmpl-index div.main .chzn-container,
body.tmpl-index div.main select {
    height: 2rem;
    width: 10rem !important;
}

body.tmpl-index div.main .chzn-container-multi .chzn-choices li {
    float: none;
}

body.tmpl-index div.main .chzn-container-multi,
body.tmpl-index div.main select[multiple] {
    height: auto;
    min-height: 2rem;
}

body.tmpl-index div.main input[type='date'] {
    height: 1.2rem;
    margin-bottom: 0;
    padding: .35rem .2rem .5rem .2rem;
}

body.tmpl-index div.main .input-4,
body.tmpl-index div.main .input-4 + .chzn-container,
body.tmpl-index div.main .input-mini,
body.tmpl-index div.main .input-mini + .chzn-container {
    width: 4rem !important;
}

body.tmpl-index div.main .input-6,
body.tmpl-index div.main .input-6 + .chzn-container {
    width: 6rem !important;
}

body.tmpl-index div.main .input-8,
body.tmpl-index div.main .input-8 + .chzn-container {
    width: 8rem !important;
}

body.tmpl-index div.main .input-12,
body.tmpl-index div.main .input-12 + .chzn-container {
    width: 12rem !important;
}

body.tmpl-index div.main .input-15,
body.tmpl-index div.main .input-15 + .chzn-container {
    width: 12rem !important;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .controls input[type="file"] {
        line-height: 0;
        padding-top: 3px;
    }
}
