body.tmpl-index div.main .chzn-container {
    max-width: inherit;
}

body.tmpl-index div.main .chzn-container,
body.tmpl-index div.main input,
body.tmpl-index div.main select {
    border: 2px solid #4a5c66;
}

body.tmpl-index div.main .chzn-container,
body.tmpl-index div.main select {
    width: 10rem !important;
}

body.tmpl-index div.main .chzn-container-multi .chzn-choices li {
    float: none;
}

body.tmpl-index div.main .chzn-container-multi,
body.tmpl-index div.main select[multiple] {
    height: auto;
    min-height: 2rem;
}

body.tmpl-index div.main input[type='date'] {
    margin-bottom: 0;
}

body.tmpl-index div.main button,
body.tmpl-index div.main input,
body.tmpl-index div.main select {
    padding: .3rem .5rem;
}

body.tmpl-index div.main .input-4,
body.tmpl-index div.main .input-4 + .chzn-container,
body.tmpl-index div.main .input-mini,
body.tmpl-index div.main .input-mini + .chzn-container {
    width: 4rem !important;
}

body.tmpl-index div.main .input-6,
body.tmpl-index div.main .input-6 + .chzn-container {
    width: 6rem !important;
}

body.tmpl-index div.main .input-7,
body.tmpl-index div.main .input-7 + .chzn-container {
    width: 7rem !important;
}

body.tmpl-index div.main .input-8,
body.tmpl-index div.main .input-8 + .chzn-container {
    width: 8rem !important;
}

body.tmpl-index div.main .input-12,
body.tmpl-index div.main .input-12 + .chzn-container {
    width: 12rem !important;
}

body.tmpl-index div.main .input-13,
body.tmpl-index div.main .input-13 + .chzn-container {
    width: 13rem !important;
}

body.tmpl-index div.main .input-15,
body.tmpl-index div.main .input-15 + .chzn-container {
    width: 15rem !important;
}

.publishing-container {
    display: flex;
    flex-direction: column;
}

.publishing-container .period-container {
    display: flex;
    flex-direction: row;
    margin-bottom: .4rem;
}

.publishing-container .period-label {
    width: 6rem;
}

.publishing-container .period-input select {
    width: 4rem;
}

body.tmpl-index div.main .btn-toolbar {
    display: flex;
    flex-direction: row;
}

body.tmpl-index div.main .btn-toolbar .btn-wrapper {
    margin-right: 5px;
}

body.tmpl-index div.main .btn-toolbar a.btn,
body.tmpl-index div.main .btn-toolbar button {
    font-size: .9rem;
}

body.tmpl-index div.main .js-stools-container-bar,
body.tmpl-index div.main .js-stools-container-list,
body.tmpl-index div.main .js-stools-container-filters {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .8rem;
}

body.tmpl-index div.main .js-stools-container-bar .active .chzn-single,
body.tmpl-index div.main .js-stools-container-bar .chzn-single,
body.tmpl-index div.main .js-stools-container-list .active .chzn-single,
body.tmpl-index div.main .js-stools-container-list .chzn-single,
body.tmpl-index div.main .js-stools-container-filters .active .chzn-single,
body.tmpl-index div.main .js-stools-container-filters .chzn-single {
    background: none;
    border: none;
}

body.tmpl-index div.main .js-stools-container-bar input[type='date'],
body.tmpl-index div.main .js-stools-container-list input[type='date'],
body.tmpl-index div.main .js-stools-container-filters input[type='date'] {
    height: 1.35rem;
    margin-bottom: 0;
}

body.tmpl-index div.main .js-stools-container-bar select,
body.tmpl-index div.main .js-stools-container-list select,
body.tmpl-index div.main .js-stools-container-filters select {
    margin-bottom: 0;
}

body.tmpl-index div.main .js-stools-container-bar input {
    width: 12rem;
}

body.tmpl-index div.main .js-stools-container-bar a.btn,
body.tmpl-index div.main .js-stools-container-bar input,
body.tmpl-index div.main .js-stools-container-bar button {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: .9rem;
}

body.tmpl-index div.main .js-stools-container-bar .input-append input + button {
    font-size: .9rem;
    height: 1.85rem;
    margin-top: .2rem;
    margin-left: -2.2rem;
}

body.tmpl-index div.main .js-stools-container-bar .input-append input + button:hover span[class^="icon-"]:before {
    color: #394a59;
}

body.tmpl-index div.main .js-stools-container-bar .js-stools-btn-filter .caret {
    border-bottom-color: initial;
}

body.tmpl-index div.main .js-stools-container-bar .js-stools-btn-filter:hover .caret {
    border-top-color: #ffffff;
}

body.tmpl-index div.main .js-stools-container-list .js-stools-field-list {
    margin-bottom: 0;
    margin-right: 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .controls input[type="file"] {
        line-height: 0;
        padding-top: 3px;
    }
}
