body.tmpl-index .main h1.page-title span[class^="icon-"] {
    display: none;
}

body.tmpl-index .main .btn:hover span[class^="icon-"]:before {
    color: white;
}

body.tmpl-index .main .btn-toolbar {
    display: flex;
    flex-direction: row;
}

body.tmpl-index .main .btn-toolbar .btn-wrapper {
    margin-right: 5px;
}

body.tmpl-index .main .btn-toolbar button {
    font-size: .9rem;
}

body.tmpl-index .main .js-stools .js-stools-container-bar {
    display: flex;
    margin-bottom: .8rem;
}

body.tmpl-index .main .js-stools .js-stools-container-bar .js-stools-btn-filter .caret {
    border-bottom-color: initial;
}

body.tmpl-index .main .js-stools .js-stools-container-bar .js-stools-btn-filter:hover .caret {
    border-top-color: #ffffff;
}

body.tmpl-index .main .js-stools .js-stools-container-bar .input-append input {
    border: 2px solid #4a5c66;
    height: 1.34rem;
}

body.tmpl-index .main .js-stools .js-stools-container-bar .input-append input + button {
    font-size: .9rem;
    height: 1.85rem;
    margin-top: .2rem;
    margin-right: .5rem;
}

body.tmpl-index .main .js-stools .js-stools-container-list {
    display: flex;
}

body.tmpl-index .main .js-stools .js-stools-container-list .js-stools-field-list select {
    border: 2px solid #4a5c66;
    width: 10rem;
}

/* chosen library overwrites ******************************************************************************************/
.chzn-container {
    max-width: inherit;
}

.contentpane .js-stools-container-bar .chzn-container {
    width: auto !important;
}

.contentpane .js-stools-container-bar .chzn-container .chzn-single span {
    padding: 0 10px 0 0;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.disabled {
    opacity: .6;
}

.attribute-item {
    clear: both;
    overflow: auto;
    padding: 8px;
    margin: 2px 0;
    border-bottom: 1px solid rgba(164, 176, 187, 0.5);
}

.span10 div:last-child {
    border-bottom: none;
    margin-bottom: 1rem;
}

.attribute-label {
    color: #3d494f;
    float: left;
    font-weight: bold;
    padding-right: 20px;
    width: 18%;
}

.attribute-content {
    margin-left: 10px;
    float: left;
    width: 79%;
}

.attribute-content [class^='icon-'], .attribute-content [class*=' icon-'] {
    margin-right: .2rem;
}

.attribute-content ul:last-child {
    margin-bottom: 0;
}

.attribute-content ul li:last-child {
    padding-bottom: 0;
}

.attribute-content ul ul li:before {
    content: '-';
    display: block;
    float: left;
    margin-left: -.4rem;
}

.attribute-content ul ul li {
    padding-bottom: .4rem;
}

.attribute-content ul ul li:first-child {
    padding-top: .4rem;
}

.attribute-content ul ul li:last-child {
    padding-bottom: 0;
}

.attribute-content li {
    padding-bottom: .8rem;
}
