body.tmpl-index .main h1.page-title span[class^="icon-"] {
    display: none;
}

body.tmpl-index .main .btn:hover span[class^="icon-"]:before {
    color: white;
}

body.tmpl-index .main .btn-toolbar {
    display: flex;
    flex-direction: row;
}

body.tmpl-index .main .btn-toolbar .btn-wrapper {
    margin-right: 5px;
}

body.tmpl-index .main .btn-toolbar button {
    font-size: .9rem;
}

body.tmpl-index .main .js-stools .js-stools-container-bar {
    display: flex;
    margin-bottom: .8rem;
}

body.tmpl-index .main .js-stools .js-stools-container-bar .js-stools-btn-filter .caret {
    border-bottom-color: initial;
}

body.tmpl-index .main .js-stools .js-stools-container-bar .js-stools-btn-filter:hover .caret {
    border-top-color: #ffffff;
}

body.tmpl-index .main .js-stools .js-stools-container-bar .input-append input {
    border: 2px solid #4a5c66;
    height: 1.34rem;
}

body.tmpl-index .main .js-stools .js-stools-container-bar .input-append input + button {
    font-size: .9rem;
    height: 1.85rem;
    margin-top: .2rem;
    margin-right: .5rem;
}

body.tmpl-index .main .js-stools .js-stools-container-list {
    display: flex;
}

body.tmpl-index .main .js-stools .js-stools-container-list .js-stools-field-list select {
    border: 2px solid #4a5c66;
    width: 10rem;
}

/* chosen library overwrites ******************************************************************************************/
.chzn-container {
    max-width: inherit;
}

.contentpane .js-stools-container-bar .chzn-container {
    width: auto !important;
}

.contentpane .js-stools-container-bar .chzn-container .chzn-single span {
    padding: 0 10px 0 0;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.disabled {
    opacity: .6;
}

/* utility classes ****************************************************************************************************/
.left {
    float: left;
}

.right {
    float: right;
}

a {
    cursor: pointer;
}

a [class^='icon-'], a [class*=' icon-'] {
    margin-right: .2rem;
}

td a.btn {
    margin-right: .2rem;
}

td a.btn:last-child {
    margin-right: 0;
}

/* component icon *****************************************************************************************************/
.icon-organizer::before,
a[href$="view=thm_organizer"]::before {
    font-family: icomoon;
    content: '\e931';
}

a[href$="view=thm_organizer"]::before {
    margin-right: .2rem;
}

/* modal toolbar adjustments to emulate joomla ************************************************************************/
.modal-body {
    overflow: hidden !important;
}

.contentpane.component {
    padding: 0 .5rem;
}

.contentpane.component .toolbar {
    background-color: #f2f5f6;
    border-bottom: 1px solid #a4adb2;
    margin-bottom: .5rem;
    padding: .5rem;
    width: calc(100% - 1rem);
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .controls input[type="file"] {
        line-height: 0;
        padding-top: 3px;
    }
}

.chzn-container-multi .chzn-choices li {
    float: none;
}

@media (min-width: 768px) {
    #mapping .control-group:nth-of-type(1), #mappings .control-group:nth-of-type(1) {
        width: 50%;
        float: left;
    }

    #mapping .control-group:nth-of-type(1) .controls select, #mappings .control-group:nth-of-type(1) .controls select {
        width: 95%;
    }

    #mapping .control-group:nth-of-type(2), #mappings .control-group:nth-of-type(2) {
        width: 50%;
        float: right;
    }

    #mapping .control-group:nth-of-type(2) .controls select, #mappings .control-group:nth-of-type(2) .controls select {
        width: 95%;
    }

    #mapping .control-group:nth-of-type(3), #mappings .control-group:nth-of-type(3) {
        clear: both;
    }
}

#mapping table, #mappings table {
    width: 98%;
}

#mapping thead tr:nth-child(1) th, #mappings thead tr:nth-child(1) th {
    padding: 5px 0 5px 8px;
}

#mapping thead .thm_organizer_pools_ordering, #mappings thead .thm_organizer_pools_ordering {
    width: 16rem;
}

#mapping tbody .child-order .btn-small, #mappings tbody .child-order .btn-small {
    padding: 1px 4px;
    font-size: 12px;
    line-height: 8px;
}

#mapping tbody .child-order .text-area-order, #mappings tbody .child-order .text-area-order {
    padding: 1px 2px;
    text-align: center;
    height: 14px;
}

#mapping tbody .child-name, #mappings tbody .child-name {
    padding-right: 30px;
}

@media (max-width: 480px) {
    .table-striped thead th, .table-striped tbody td {
        display: none;
    }

    .table-striped thead th:nth-child(2), .table-striped tbody td:nth-child(2) {
        display: table-cell;
    }

    .table-striped thead th:nth-child(2), .table-striped tbody td:nth-child(2) {
        padding-left: 20px;
        padding-right: 20px;
    }

    #colors-list thead th, #colors-list tbody td {
        display: none;
    }

    #colors-list thead th:nth-child(3), #colors-list tbody td:nth-child(3) {
        display: table-cell;
    }

    #colors-list thead th:nth-child(3), #colors-list tbody td:nth-child(3) {
        padding-left: 20px;
        padding-right: 20px;
    }

    #persons-list thead th, #persons-list tbody td {
        display: none;
    }

    #persons-list thead th:nth-child(2), #persons-list tbody td:nth-child(2) {
        display: table-cell;
    }

    #persons-list thead th:nth-child(3), #persons-list tbody td:nth-child(3) {
        display: table-cell;
    }

    #persons-list thead th:nth-child(2), #persons-list tbody td:nth-child(2) {
        padding-left: 8px;
    }

    #pools-list thead th, #pools-list tbody td {
        display: none;
    }

    #pools-list thead th:nth-child(2), #pools-list tbody td:nth-child(2) {
        display: table-cell;
    }

    #pools-list thead th:nth-child(4), #pools-list tbody td:nth-child(4) {
        display: table-cell;
    }

    #pools-list thead th:nth-child(2), #pools-list tbody td:nth-child(2) {
        padding-left: 8px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .table-striped thead th:nth-child(n+5), .table-striped tbody td:nth-child(n+5) {
        display: none;
    }
}

/* Modal Styles */
.modal .modal-body.modal-batch {
    overflow-y: auto;
    padding: 1rem 1rem 0 1rem;
}

/*Group Publishing Field Styles*/
.period-container {
    margin-bottom: .5rem;
}

.period-label {
    margin-right: 1rem;
    min-width: 5rem;
}

.period-label, .period-input {
    display: inline-block;
}

.period-input .chzn-container {
    width: 124px !important;
}
