.toolbar {
    float: right;
}

.clear {
    margin-bottom: .8rem;
}

.room-overview-view {
    min-width: 1060px;
}

.room-overview-view .form-container .componentheading {
    float: left;
}

.room-overview-view .form-container .submit-button:hover span::before {
    color: white;
}

.room-overview-view .form-container .input-append {
    margin-bottom: 0;
}

.room-overview-view .form-container .control-group, .room-overview-view .form-container .control-group-wide {
    float: left;
}

.room-overview-view .form-container .control-group {
    padding: 0 .8rem 0 0;
    width: 15.9rem;
}

.room-overview-view .form-container .control-group:nth-child(7) {
    padding-right: 0;
}

.room-overview-view .form-container .control-group .control-label, .room-overview-view .form-container .control-group .controls {
    width: 100%;
}

.room-overview-view .form-container .control-group .control-label {
    text-align: center;
}

.room-overview-view .form-container .control-group .controls .btn {
    background: transparent;
    border: none;
    font-size: 16px;
    margin-top: 6px;
    padding: 0;
}

.room-overview-view .form-container .control-group .controls .btn .icon-calendar {
    background-image: none;
}

.room-overview-view .form-container .control-group .controls .btn .icon-calendar:focus {
    outline: none;
}

.room-overview-view .form-container .control-group .controls .btn:active, .room-overview-view .form-container .control-group .controls .btn:hover {
    background-color: transparent;
    box-shadow: none;
    color: #394a59;
}

.room-overview-view .form-container .control-group-wide:nth-child(10) {
    margin-left: .7rem;
}

.room-overview-view .form-container .control-group-wide .control-label, .room-overview-view .form-container .control-group-wide .controls {
    display: inline-block;
}

.room-overview-view .form-container .control-group-wide .control-label {
    padding: 0 .65rem 0 0;
    text-align: right;
    width: 15.9rem;
}

.room-overview-view .form-container .control-group-wide .controls {
    display: inline-block;
    width: 15.9rem;
}

.room-overview-view .form-container .chzn-container {
    padding: .2rem;
    width: calc(100% - .5rem) !important;
}

.room-overview-view .form-container .chzn-container.chzn-container-single {
    height: 1.5rem;
}

.room-overview-view .form-container .chzn-container.chzn-container-single .chzn-single {
    height: 1.5rem;
}

.room-overview-view .form-container .chzn-container.chzn-container-single .chzn-single > span {
    padding: 0;
}

.room-overview-view .form-container .chzn-container.chzn-container-multi {
    min-height: 1.5rem;
    height: auto;
}

.room-overview-view .form-container .chzn-container.chzn-container-multi .chzn-choices .chzn-single, .room-overview-view .form-container .chzn-container.chzn-container-multi .chzn-choices .search-choice {
    background-image: none;
    border-radius: 0;
    margin: .25rem;
    width: calc(100% - 3rem);
}

.room-overview-view .form-container .chzn-container.chzn-container-multi .chzn-choices .chzn-single {
    border: none;
}

.room-overview-view .form-container .chzn-container.chzn-container-multi .chzn-choices .search-choice {
    background-color: #dfeec8;
    border-radius: 0;
}

.room-overview-view .form-container #jform_date {
    height: 1.5rem;
    padding: .2rem 1rem .2rem .2rem;
    width: calc(100% - 1.3rem) !important;
}

.room-overview-view .overview-container {
    width: 100%;
}

.room-overview-view .overview-container table {
    border-bottom: 1px solid #d2d6d9;
    margin-bottom: 0;
    width: auto;
}

.room-overview-view .overview-container table thead tr:after {
    content: '';
    overflow-y: scroll;
    visibility: hidden;
}

.room-overview-view .overview-container table thead th {
    flex: 1 auto;
    display: block;
}

.room-overview-view .overview-container table tbody {
    display: block;
    height: auto;
    max-height: 600px;
    overflow-y: auto;
    width: 100%;
}

.room-overview-view .overview-container table tr {
    display: flex;
}

.room-overview-view .overview-container table th, .room-overview-view .overview-container table td {
    padding: .5rem 0;
}

.room-overview-view .overview-container table th {
    background-color: #dfe5e6;
    border: none;
}

.room-overview-view .overview-container table th.room-column {
    border-bottom: 1px solid white;
    width: 5.5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    overflow: hidden;
}

.room-overview-view .overview-container table th.room-column.day-row, .room-overview-view .overview-container table th.room-column.block-row {
    background-color: white;
}

.room-overview-view .overview-container table th.room-column.day-row {
    border-bottom: none;
}

.room-overview-view .overview-container table th.block-column, .room-overview-view .overview-container table th.day-column {
    border-right: 1px solid white;
}

.room-overview-view .overview-container table td {
    border-right: 1px solid #d2d6d9;
    border-bottom: 1px solid #d2d6d9;
}

.room-overview-view .overview-container table th.block-column, .room-overview-view .overview-container table th.day-column, .room-overview-view .overview-container table td.block-column {
    text-align: center;
}

.room-overview-view .overview-container table th.columns-6, .room-overview-view .overview-container table td.columns-6 {
    width: 9.7rem;
}

.room-overview-view .overview-container table th.columns-8, .room-overview-view .overview-container table td.columns-8 {
    width: 7.2rem;
}

.room-overview-view .overview-container table th.columns-6-6 {
    width: 155px;
}

.room-overview-view .overview-container table th.columns-36, .room-overview-view .overview-container table td.columns-36 {
    width: 25px;
}

.room-overview-view .overview-container table th.columns-36 {
    font-size: .7rem;
}

.room-overview-view .overview-container table td.columns-36 {
    font-size: .6rem;
}

.room-overview-view .overview-container table th.columns-6-8 {
    width: calc(8.8rem + 7px);
}

.room-overview-view .overview-container table th.columns-48, .room-overview-view .overview-container table td.columns-48 {
    font-size: .5rem;
    width: 1.1rem;
}

div.no-results {
    clear: both;
    color: #394a59;
    font-size: 16px;
    margin-top: 16px;
    text-align: center;
    width: 100%;
}

div.tip-wrap {
    color: #394a59;
}

div.tip-wrap div.tip {
    background-color: #f2f5f6;
    border: 1px solid #77858c;
    font-size: 12px;
    font-weight: normal;
    padding: 10px;
}

div.tip-wrap div.tip .tip-title div {
    border-bottom: 1px solid #77858c;
    font-weight: normal;
    padding: 1rem;
}

div.tip-wrap div.tip .tip-title div:first-child {
    font-weight: bold;
    text-align: center;
    padding-top: .5rem;
}

div.tip-wrap div.tip .tip-title div:last-child {
    border: none;
    padding-bottom: .5rem;
}

div.tip-wrap div.tip .tip-text {
    padding: 0;
}

div.loading-background {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background-color: #4a5c66;
    opacity: 0.4;
}

div.postloader {
    background: white url(../images/thm.gif) no-repeat center 10px;
    height: 4.8rem;
    left: 50%;
    margin: -2.8rem -1.5rem 0 0;
    opacity: 1;
    overflow: visible;
    padding: .4rem;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    vertical-align: bottom;
    width: 3.2rem;
    z-index: 999;
}
