ul.tabs {
    margin-bottom: 0;
}

.tabs-tab {
    display: inline;
    margin: 0 0.3rem;
}

.tabs-tab:first-child {
    margin-left: 0.5rem;
}

.tabs-tab:nth-child(n+2) {
    margin-left: 0;
}

.tabs-toggle {
    padding: 0.5rem 0.5rem 0.3rem 0.4rem;
}

.tabs-toggle:hover {
    text-decoration: none;
    background-color: #f2f5f6;
}

.tabs-toggle [class^="icon-"] {
    position: relative;
    line-height: 0.8;
}

.tabs-toggle [class^="icon-"]::before {
    position: absolute;
    font-size: 1.3rem;
}

.tab-text {
    font-size: 1rem;
    color: #394A59;
    margin-left: 0.5rem;
}

@media (max-width: 800px) {
    .tab-text {
        display: none;
    }
}

li.active:not(.inactive) .tabs-toggle {
    cursor: pointer;
    background-color: #dfe5e6;
    position: relative;
}

li.active:not(.inactive) [class^="icon-"]::before {
    content: '\e935';
    font-family: IcoMoon !important;
    font-size: 1.3rem;
}

.menu-bar .disabled-tab a:hover {
    background: transparent;
    cursor: default;
}

.disabled-tab span,
.disabled-tab span::before {
    color: #a4adb2;
}

.tab-content {
    background: #dfe5e6;
    overflow: visible;
    margin-top: 0.25rem;
}

.tab-content .active {
    display: block;
}

.tab-content > div {
    margin-left: 0.5rem;
}

.tab-panel {
    overflow-x: visible;
    overflow-y: visible;
    padding: 12px 0;
    display: none;
}

.tab-panel.inactive {
    display: none !important;
}

select {
    font-size: 16px !important;
}

@media screen and (max-width: 677px) {
    .tmpl-mobile .schedule .ym-cbox {
        padding: inherit !important;
    }
}

.schedule a {
    color: #394a59;
}

.schedule a:visited {
    color: #394a59;
}

.schedule a:focus {
    outline: none;
}

button {
    font-size: 1.3rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

[class^='icon-'], [class*=' icon-'] {
    color: #394a59;
}

input[type=radio] {
    display: none;
}

.hide {
    display: none !important;
}

.icon-remove::before,
.icon-cancel::before {
    font-size: 1rem;
}

.add-instance .icon-plus::before {
    color: #80ba24;
}

.icon-question::before,
.add-instance .icon-plus::before,
.delete-instance .icon-delete::before {
    font-size: 1.1rem;
}

.delete-instance .icon-delete::before {
    color: #b54e62;
}

.menu-bar {
    margin-bottom: 0.5rem;
}

.menu-bar + .date-input {
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

.menu-bar .date-input {
    margin-right: 0.3rem;
}

.menu-bar a:hover,
.menu-bar label:hover {
    cursor: pointer;
}

.tabs-toggle .icon-grid-2::before,
.tabs-toggle .icon-calendars::before {
    font-size: 1.1rem;
}

#tab-exports {
    padding-right: 0.7rem;
}

.selection:focus {
    outline: none;
}

.selection input[disabled] {
    cursor: wait;
}

#department-input {
    display: block;
}

@media screen and (min-width: 951px) {
    #department-input {
        margin-bottom: 0.5rem;
    }
}

#department-input input.default {
    padding: 6px !important;
}

#category-input,
.input-wrapper {
    display: inline-block;
    vertical-align: top;
}

@media screen and (max-width: 950px) {
    #category-input,
    .input-wrapper {
        display: block;
        margin-top: 0.5rem;
    }
}

#schedule-form select:disabled {
    background-color: #d2d6d9;
}

#schedule-form .chzn-container {
    margin-right: 0.3rem;
}

#schedule-form .chzn-container-active.chzn-with-drop .chzn-single {
    border: none;
    background: none;
}

#schedule-form .chzn-container .chzn-search input {
    width: 100% !important;
}

#schedule-form .chzn-container .chzn-single > span {
    line-height: 1.4;
}

.selected-schedule {
    background-color: white;
    border: 1px solid #4a5c66;
    color: #394a59;
    display: block;
    padding: 0.4rem;
    width: 276px;
}

.selected-schedule:first-child {
    margin-top: 0;
}

.selected-schedule:not(:last-of-type) {
    margin-bottom: 0.5rem;
}

.selected-schedule.shown {
    background: #dfeec8;
}

.selected-schedule.shown .show-schedule span::before {
    content: '\3c';
}

.selected-schedule .title {
    text-align: left;
    width: calc(100% - 4rem);
}

.selected-schedule .show-schedule,
.selected-schedule .pop-up-schedule {
    width: 1rem;
    margin-right: 0.5rem;
}

.selected-schedule .remove-schedule {
    width: 1rem;
}

.link-item {
    margin-bottom: 0.5rem;
}

.link-item:last-child {
    margin-bottom: 0;
}

.link-item:last-child a {
    padding-left: 0.5rem;
    color: #394a59;
}

.link-item:nth-last-child(n+2) a {
    background-color: white;
    color: #394a59;
    border: 1px solid #4a5c66;
    padding: 0.4rem;
    display: inline-block;
    width: 276px;
}

@media screen and (min-width: 678px) {
    .tab-panel.active[aria-labelledby="tab-selected-schedules"], .tab-panel.active[aria-labelledby="tab-exports-menu"] {
        display: flex;
        flex-wrap: wrap;
    }

    .tab-panel.active[aria-labelledby="tab-selected-schedules"] .selected-schedule {
        margin: 0 0.5rem 0.5rem 0;
    }

    .tab-panel.active[aria-labelledby="tab-exports-menu"] .link-item {
        margin-right: 0.5rem;
    }
}

.date-input {
    display: inline;
    margin-left: 0;
    vertical-align: super;
}

.date-input .controls,
.date-input .calender-icon {
    display: none;
}

.date-input button, .date-input span, .date-input input {
    display: inline;
    vertical-align: middle;
}

@media (max-width: 360px) {
    .date-input button, .date-input span, .date-input input {
        vertical-align: bottom;
    }
}

.date-input > button:last-child {
    margin-right: 0.2rem;
}

.date-input span {
    position: relative;
}

.date-input span::before {
    font-size: small;
}

.date-input #date {
    width: 5.2rem !important;
    padding: 0 0 0 0.3rem !important;
    vertical-align: sub;
    margin-bottom: 0;
}

.date-input #calendar-icon {
    position: relative;
}

.date-input #calendar-icon span::before {
    font-size: 1rem;
}

.date-input div {
    background-color: #f2f5f6;
    border: 1px solid #d2d6d9;
    box-shadow: 0 0 5px #77858c;
    padding: 0.3rem 1rem;
    position: absolute;
    visibility: hidden;
    z-index: 3;
}

.date-input div table {
    margin: 0;
    font-size: small;
}

.date-input div thead td {
    padding: 0.1rem 0.2rem;
}

.date-input div thead:last-of-type {
    border: 1px solid #4a5c66;
    border-bottom: none;
}

.date-input div tbody {
    border: 1px solid #4a5c66;
}

.date-input div tbody td:hover {
    background: #d2d6d9;
}

.date-input div td {
    text-align: center;
    padding: 0 0.2rem;
}

.date-input div thead span {
    float: none;
}

.date-input div button {
    color: #394a59;
}

.date-input div button span {
    vertical-align: baseline;
}

.date-input div tfoot td:hover {
    background: #d2d6d9;
}

.date-input div .today {
    width: 100%;
}

.menu-bar .check-input {
    margin-left: 0;
    margin-bottom: 0;
}

.check-input {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

.check-input #check-notify-text {
    margin: auto;
    vertical-align: bottom;
    display: inline;
}

.check-input #check-notify-box {
    margin: 0.25rem auto;
    vertical-align: bottom;
}

.scheduleWrapper a,
.scheduleWrapper a:visited,
.scheduleWrapper a:hover {
    color: #394a59;
}

.schedule-input:not(:checked) + .schedule-table {
    width: 0;
    position: absolute;
    left: -3000px;
}

.schedule-table table {
    border-top: 0.15rem solid #4a5c66;
}

.schedule-table table.cell-border td {
    border-bottom: 0.2rem solid #dfeec8;
}

.schedule-table table td {
    border-bottom: 0.2rem solid #dfeec8;
}

.schedule-table table tr.long-break-after td {
    border-bottom: 0.7rem solid #dfeec8;
}

.schedule-table table tr:last-child td {
    border-bottom: 0;
}

.schedule-table td, .schedule-table th {
    width: 16%;
    text-align: center;
}

.schedule-table td:first-child, .schedule-table th:first-child {
    width: 2.5rem;
}

.schedule-table a:hover {
    text-decoration: underline;
}

.break td {
    background-color: #dfeec8;
}

.occupied {
    background-color: #dfe5e6;
}

.instance {
    border: 0.1rem solid #4a5c66;
    background-color: #f2f5f6;
    margin: 0 auto 0.5rem;
    padding: 0 0.2rem;
}

.instance a {
    cursor: pointer;
}

.name {
    display: inline-block;
    font-weight: bold;
    word-break: break-word;
    white-space: pre-line;
}

.module:before {
    content: ' (';
}

.module:after {
    content: ') ';
}

.comment-container {
    font-size: 90%;
    font-style: italic;
}

.pools {
    padding: 0.2rem 0;
}

@media (max-width: 360px) {
    .pools {
        padding: 0.1rem 0;
    }
}

.pool:nth-of-type(n+2):before {
    content: ' , ';
}

.person:nth-of-type(n+2):before,
.location:nth-of-type(n+2):before {
    content: ' / ';
}

.add-instance, .delete-instance {
    text-align: right;
}

.add-instance:focus, .delete-instance:focus {
    outline: none;
}

.add-instance .icon-question, .delete-instance .icon-question {
    margin-left: 0.5rem;
    margin-right: 0.2rem;
}

.pop-up {
    box-shadow: 0 0 5px #77858c;
    color: #394a59;
    display: none;
    position: absolute;
    top: 28rem;
    z-index: 2;
}

.pop-up .icon-notification, .pop-up p {
    margin: 0.5rem 0 0.5rem 0;
    width: initial;
}

.pop-up .icon-notification::before, .pop-up p::before {
    margin-right: 0.3rem;
    font-size: 1rem;
    vertical-align: bottom;
}

.pop-up button {
    color: inherit;
    width: initial;
    display: block;
}

.pop-up button:hover {
    text-decoration: underline;
}

.pop-up button span {
    margin-right: 0.3rem;
}

.pop-up button span::before {
    font-size: 1.1rem;
    display: inline-block;
    vertical-align: bottom;
}

@media screen and (min-width: 678px) {
    .pop-up button {
        display: inline-block;
    }
}

.pop-up button:not(.icon-cancel) {
    margin-top: 0.5rem;
    margin-left: 0.1rem;
}

.pop-up .icon-cancel {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.pop-up.message {
    left: calc(50% - 12rem);
    width: 24rem;
    padding: 0.5rem;
    background-color: #dfeec8;
}

@media screen and (min-width: 678px) {
    .pop-up.message .icon-arrow-left-2 + .icon-arrow-right-2 {
        margin-left: 2.5rem;
    }
}

@media screen and (max-width: 677px) {
    .pop-up.message .icon-arrow-left-2 {
        margin-bottom: 0.5rem;
    }
}

.pop-up.schedule-table {
    left: 200px;
    width: 50rem;
    display: block;
    padding: 1rem;
    font-size: 80%;
    background-color: white;
    border: 1px solid #77858c;
}

.pop-up.schedule-table:hover {
    cursor: grab;
}

.pop-up.schedule-table a:hover {
    text-decoration: none;
    color: #394a59;
    cursor: grab;
}

.pop-up.schedule-table .icon-cancel {
    width: 2rem;
    height: 2rem;
}

.instance-menu {
    background-color: #dfeec8;
    box-shadow: 0 0 5px #77858c;
    color: #394a59;
    display: none;
    padding: 0.5rem;
    position: absolute;
    z-index: 2;
}

.instance-menu button {
    color: #394a59;
    display: block;
    text-align: left;
}

.instance-menu button:nth-last-of-type(n+2) {
    margin-bottom: 0.3rem;
}

.instance-menu button:hover {
    text-decoration: underline;
}

.instance-menu .icon-cancel {
    position: absolute;
    right: 0.5rem;
}

.instance-menu .icon-cancel:hover {
    text-decoration: none;
}

.instance-menu .persons, .instance-menu .rooms {
    display: inline-block;
}

.instance-menu .rooms span::before,
.instance-menu .persons span:nth-of-type(n+2)::before {
    content: ' / ';
}

.instance-menu .pools {
    padding: 0;
}

.instance-menu .pools span:nth-of-type(n+2)::before {
    content: " , ";
}

.instance-data {
    color: #4a5c66;
    margin: 0.8rem 0.7rem 0.8rem 0;
}

.delete button::before {
    font-family: IcoMoon;
    content: '\e935';
    color: #b54e62;
    display: inline-block;
    margin-right: 0.2rem;
    vertical-align: text-top;
}

.save button::before {
    font-family: IcoMoon;
    content: '\5d';
    color: #80ba24;
    display: inline-block;
    margin-right: 0.2rem;
    vertical-align: text-top;
}

.delete-instance {
    display: none;
}

.save, .delete {
    display: none;
}

.added .add-instance {
    display: none;
}

.added .delete-instance {
    display: block;
}

.no-saving .add-instance {
    display: none;
}

.break {
    background-color: #dfeec8;
    padding: 0.2rem;
}

.own-time {
    display: block;
}

.in-planning,
.removed {
    opacity: 0.5;
}

.in-planning {
    border-style: dashed;
}

.removed {
    text-decoration: line-through;
}

.in-planning .add-instance,
.in-planning .delete-instance {
    display: none;
}

.calendar-new,
.instance .person.new a,
.instance .room.new a,
.instance .group.new a {
    border-color: #80ba24;
    color: #80ba24;
}

.organizer.mobile .date-input .controls:nth-last-of-type(n+2) {
    margin-right: 0.5rem;
}

.organizer.mobile .date-input input#date {
    font-size: 16px !important;
    padding-left: 0.1rem !important;
}

.organizer.mobile .selection select {
    margin-bottom: 0;
}

.organizer.mobile .selected-schedule {
    width: 90%;
}

.organizer.mobile .selected-schedule .title {
    width: calc(100% - 3rem);
}

.organizer.mobile .selected-schedule .show-schedule {
    width: 1rem;
    margin-right: 1rem;
}

.organizer.mobile #calendar-table td {
    padding: 0.3rem;
}

.organizer.mobile .scheduleWrapper td:not(.activeColumn), .organizer.mobile .scheduleWrapper th:not(.activeColumn) {
    display: none;
}

.organizer.mobile .scheduleWrapper td:first-child, .organizer.mobile .scheduleWrapper th:first-child {
    display: table-cell;
}

.organizer.mobile .scheduleWrapper td.activeColumn, .organizer.mobile .scheduleWrapper th.activeColumn {
    width: auto;
    padding-right: 1rem;
}

.organizer.mobile .pools,
.organizer.mobile .persons,
.organizer.mobile .locations {
    display: inline-block;
}

.organizer.mobile .pools {
    margin-right: 0.2rem;
}

.organizer.mobile .pools + .persons .person:nth-of-type(1):before {
    content: ' / ';
}

.organizer.mobile .locations {
    margin-left: 0.2rem;
}

.organizer.mobile .location:nth-of-type(1):before {
    content: ' / ';
}

.organizer.mobile .message.pop-up {
    left: auto;
    right: auto;
    width: 90%;
}

.organizer.mobile .instance-menu {
    right: 0.5rem;
    left: 0.5rem;
}

.organizer.mobile .instance-menu .pools span:first-child::before {
    content: " / ";
}
