.organizer-search-container h3 {
    margin: 1.5rem 0 0 0;
}

.organizer-search-container ul {
    margin: .6rem 0 0 0;
}

.organizer-search-container li {
    margin-bottom: .2rem;
    padding: .1rem 0;
}

.organizer-search-container .language-links {
    float: right;
}

.organizer-search-container a, .organizer-search-container span {
    margin-right: .4rem;
}

.organizer-search-container .tool-wrapper #search-input {
    background-color: #dfe5e6;
    box-shadow: none;
    margin: 0;
    padding: .25rem 1.5rem .25rem .25rem;
    width: 20rem;
}

.organizer-search-container .tool-wrapper a, .organizer-search-container .tool-wrapper button {
    border: none;
    cursor: pointer;
}

.organizer-search-container .tool-wrapper .btn-search {
    background-color: #dfe5e6;
    margin-left: -1.5rem;
}

.organizer-search-container .tool-wrapper .btn-reset, .organizer-search-container .tool-wrapper .btn-reset:hover {
    background-color: white;
    margin-left: .4rem;
}

.organizer-search-container .results-container {
    border-bottom: 2px solid #4a5c66;
    border-top: 2px solid #4a5c66;
    margin-top: 1rem;
    max-height: 40rem;
    overflow-y: scroll;
}

.organizer-search-container .resource-item, .organizer-search-container .resource-links {
    display: inline-block;
    font-size: 1rem;
    margin-right: .5rem;
}

.organizer-search-container .resource-description {
    font-style: italic;
}
