[class^="icon-"], [class*=" icon-"] {
    font-family: icomoon;
}

.icon-organizer::before,
a[href$="view=thm_organizer"]::before,
a[href$="option=com_thm_organizer"]::before {
    font-family: icomoon;
    content: "\e60b";
    color: #80ba24;
}

.icon-organizer_colors::before {
    content: "\e014";
}

.icon-organizer_degrees::before {
    content: "\e606";
}

.icon-organizer_degree_programs::before,
.icon-organizer_plan_programs::before {
    content: "\31";
}

.icon-organizer_departments::before {
    content: "\e244";
}

.icon-organizer_fields::before {
    content: "\74";
}

.icon-organizer_grids::before {
    content: "\59";
    font-size: 1.1rem;
}

.icon-organizer_methods::before {
    content: "\e271";
}

.icon-mni::before {
    content: "\e600";
}

.icon-organizer_monitors::before {
    content: "\e01c";
}

.icon-organizer_plan_pools::before,
.icon-organizer_subject_pools::before {
    content: "\44";
}

.icon-organizer_rooms::before {
    content: "\e250";
}

.icon-organizer_room_types::before {
    content: "\e250";
}

.icon-organizer_schedules::before {
    content: "\e931";
}

.icon-organizer_subjects::before {
    content: "\e603";
}

.icon-organizer_subject_pools::before {
    content: "\44";
}

.icon-organizer_teachers::before {
    content: "\e604";
}

.icon-diff, .icon-import, .icon-import-all, .icon-merge-all {
    font-weight: bold;
}

.icon-add-Space {
    font-size: 14px;
}

a[href*="option=com_thm_organizer&view="]::before {
    padding-right: 8px;
}

.sidebar-nav {
    color: #394a59;
}

.menu-spacer {
    background-color: #dfe5e6;
    display: block;
    font-size: 1.1rem;
    margin: .3rem -2rem 0 -2rem;
    padding: .3rem 1.6rem .3rem 2rem;
    width: 100%;
}

.organizer-logo, .organizer-description {
    font-size: .9rem;
    margin-bottom: .6rem;
}

.action-group h1, .action-group h2, .action-group h3, .action-group h4, .action-group h5, .action-group h6 {
    background-color: #dfe5e6;
    color: #394a59;
    font-size: 1.3rem;
    margin: .5rem 0;
    padding: .5rem;
}

.action-item {
    font-size: 1.1rem;
    margin: 0 0 .5rem .5rem;
}

.action-item a[href*="_manager"]::before {
    content: "";
}

.action-item.quicklink {
    font-size: 1.3rem;
}

.searchArea a, thead a {
    color: #4a5c66;
}

.searchArea a:hover, thead a:hover {
    color: #80ba24;
}

.js-stools-container-bar {
    margin-bottom: 0.3rem;
}

.js-stools-field-filter, .js-stools-field-list {
    display: inline-block;
    max-width: 200px;
}

.js-stools-field-filter select, .js-stools-field-list select {
    width: auto;
}

.js-stools-field-filter span, .js-stools-field-list span {
    overflow: hidden !important;
}

.chzn-container {
    max-width: inherit;
}

.table-striped {
    margin-top: 7px;
    border-collapse: separate;
    border-top: 1px solid #bbb;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.table-striped th:not(:first-child) {
    padding-left: 0.2rem;
}

thead {
    color: #4a5c66;
}

th {
    background: #bfdc91;
}

th:first-child {
    border-left: 1px solid #bbb;
}

th:last-child {
    border-right: 1px solid #bbb;
}

tr:nth-child(1):not(:only-child) th {
    padding-bottom: 0;
}

tr:nth-child(1):not(:only-child) th:first-child span {
    margin-left: 0.2rem;
}

tr:nth-last-child(1):not(:first-child) th {
    border-top: none;
    border-bottom: 1px solid #bbb;
    padding-top: 0.1rem;
}

tr:nth-last-child(1) th:first-child {
    border-bottom-left-radius: 3px;
}

tr:nth-last-child(1) th:last-child {
    border-bottom-right-radius: 3px;
}

tbody tr:first-child td {
    border-top-style: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .controls input[type="file"] {
        line-height: 0;
        padding-top: 3px;
    }
}

.chzn-container-multi .chzn-choices li {
    float: none;
}

@media (min-width: 768px) {
    #mapping .control-group:nth-of-type(1), #mappings .control-group:nth-of-type(1) {
        width: 50%;
        float: left;
    }

    #mapping .control-group:nth-of-type(1) .controls select, #mappings .control-group:nth-of-type(1) .controls select {
        width: 95%;
    }

    #mapping .control-group:nth-of-type(2), #mappings .control-group:nth-of-type(2) {
        width: 50%;
        float: right;
    }

    #mapping .control-group:nth-of-type(2) .controls select, #mappings .control-group:nth-of-type(2) .controls select {
        width: 95%;
    }

    #mapping .control-group:nth-of-type(3), #mappings .control-group:nth-of-type(3) {
        clear: both;
    }
}

#mapping table, #mappings table {
    width: 98%;
}

#mapping thead tr:nth-child(1) th, #mappings thead tr:nth-child(1) th {
    padding: 5px 0 5px 8px;
}

#mapping thead .thm_organizer_pools_ordering, #mappings thead .thm_organizer_pools_ordering {
    width: 16rem;
}

#mapping tbody .child-order .btn-small, #mappings tbody .child-order .btn-small {
    padding: 1px 4px;
    font-size: 12px;
    line-height: 8px;
}

#mapping tbody .child-order .text-area-order, #mappings tbody .child-order .text-area-order {
    padding: 1px 2px;
    text-align: center;
    height: 14px;
}

#mapping tbody .child-name, #mappings tbody .child-name {
    padding-right: 30px;
}

@media (max-width: 480px) {
    .table-striped thead th, .table-striped tbody td {
        display: none;
    }

    .table-striped thead th:nth-child(2), .table-striped tbody td:nth-child(2) {
        display: table-cell;
    }

    .table-striped thead th:nth-child(2), .table-striped tbody td:nth-child(2) {
        padding-left: 20px;
        padding-right: 20px;
    }

    #color_manager-list thead th, #color_manager-list tbody td {
        display: none;
    }

    #color_manager-list thead th:nth-child(3), #color_manager-list tbody td:nth-child(3) {
        display: table-cell;
    }

    #color_manager-list thead th:nth-child(3), #color_manager-list tbody td:nth-child(3) {
        padding-left: 20px;
        padding-right: 20px;
    }

    #teacher_manager-list thead th, #teacher_manager-list tbody td {
        display: none;
    }

    #teacher_manager-list thead th:nth-child(2), #teacher_manager-list tbody td:nth-child(2) {
        display: table-cell;
    }

    #teacher_manager-list thead th:nth-child(3), #teacher_manager-list tbody td:nth-child(3) {
        display: table-cell;
    }

    #teacher_manager-list thead th:nth-child(2), #teacher_manager-list tbody td:nth-child(2) {
        padding-left: 8px;
    }

    #pool_manager-list thead th, #pool_manager-list tbody td {
        display: none;
    }

    #pool_manager-list thead th:nth-child(2), #pool_manager-list tbody td:nth-child(2) {
        display: table-cell;
    }

    #pool_manager-list thead th:nth-child(4), #pool_manager-list tbody td:nth-child(4) {
        display: table-cell;
    }

    #pool_manager-list thead th:nth-child(2), #pool_manager-list tbody td:nth-child(2) {
        padding-left: 8px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .table-striped thead th:nth-child(n+5), .table-striped tbody td:nth-child(n+5) {
        display: none;
    }
}

.view-monitor_edit .form-horizontal .controls {
    margin-left: 190px;
}

.adminform .controls textarea {
    width: 618px;
}
