/*  ------------------------------------
**  Author:     Kristijan Pokas
**  File:       category_edit.css
**  Styles for: Backend - Category Edit
**  Site:       www.mni.thm.de
**  ------------------------------------ */
.icon-48-organizer_categories {
  background: url("../images/categories48.png") 0 0 no-repeat; }

.thm_organizer_cat {
  max-width: 80%; }

.thm_organizer_cat_table thead th,
.thm_organizer_cat_table tr td {
  text-align: left; }

/**
table.adminlist thead th {
    background: none repeat scroll 0 0 #f7f7f7;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #fff;
    color: #666;
    text-align: left; <--- hier greift das text-align / momentan ist es auf "center"
}
**/
.thm_organizer_cat_ecat_name_div, .thm_organizer_cat_ccat_desc_div, .thm_organizer_cat_ccat_name_div, .thm_organizer_cat_ecat_desc_div, .thm_organizer_cat_ecat_display_div, .thm_organizer_cat_ccat_viewlevel_div, .thm_organizer_cat_ccat_actions_div {
  clear: both;
  width: 100%; }

.thm_organizer_cat_checkbox_column {
  width: 10px; }

.thm_organizer_cat_title_column {
  min-width: 15%; }

.thm_organizer_cat_global_column {
  width: 15px; }

.thm_organizer_cat_reserves_column {
  width: 15px; }

.thm_organizer_cat_content_cat_column {
  min-width: 20%; }

.thm_organizer_cat_ecat {
  float: left;
  width: 35%; }

.thm_organizer_cat_ccat {
  float: right;
  width: 60%; }

.thm_organizer_cat_label {
  float: left;
  padding-right: 5px;
  text-align: right;
  width: 15%; }

.thm_organizer_cat_data {
  clear: none;
  float: left;
  font-size: 14px; }

.thm_organizer_cat_ecat_name_div, .thm_organizer_cat_ccat_desc_div {
  margin-bottom: 30px; }

.thm_organizer_cat_ccat_name_div {
  margin-bottom: 85px; }

.thm_organizer_cat_ecat_desc_div {
  margin-bottom: 20px; }

.thm_organizer_cat_ecat_display_div, .thm_organizer_cat_ccat_viewlevel_div, .thm_organizer_cat_ccat_actions_div {
  padding-top: 10px;
  padding-bottom: 10px; }

.thm_organizer_cat_actions_head tr td {
  border-bottom: 1px solid #cccccc; }

.thm_organizer_cat_leftcolumn {
  border-left: 1px solid #cccccc; }

.com_thm_organizer_cat_action_column {
  width: 50px; }
