/* ==========================================================================
    Backend - Category Manager & Category Edit
   ========================================================================== */

/* icon of the section */
.icon-48-organizer_categories { background: url('../images/categories48.png') 0 0 no-repeat; }

/* ===== UNUSED ===== */
.thm_organizer_cat {
    max-width: 80%;
}

/*---------------------------------
   MANAGER settings
---------------------------------*/

/* ===== UNUSED ===== */
.thm_organizer_cat_table thead th,
.thm_organizer_cat_table tr td {
    text-align: left;
}
/**
table.adminlist thead th {
    background: none repeat scroll 0 0 #f7f7f7;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #fff;
    color: #666;
    text-align: left; <--- hier greift das text-align / momentan ist es auf "center"
}
**/

/* checkbox column */
.thm_organizer_cat_checkbox_column {
    width: 10px;
}

/* name column */
.thm_organizer_cat_title_column {
    min-width: 15%;
}

/* global column */
.thm_organizer_cat_global_column {
    width: 15px;
}

/* reverse column */
.thm_organizer_cat_reserves_column{
    width: 15px;
}

/* content category column */
.thm_organizer_cat_content_cat_column {
    min-width: 20%;
}

.thm_organizer_cat_ecat {
    width: 35%;
    float: left;
}

.thm_organizer_cat_ccat {
    width: 60%;
    float: right;
}
.thm_organizer_cat_label {
    width: 15%;
    text-align: right;
    float: left;
    padding-right: 5px;
}

.thm_organizer_cat_data {
    float: left;
    clear: none;
    font-size: 14px;
}

.thm_organizer_cat_ecat_name_div {
    width: 100%;
    clear: both;
    margin-bottom: 30px;
}
.thm_organizer_cat_ccat_name_div {
    width: 100%;
    clear: both;
    margin-bottom: 85px;
}
.thm_organizer_cat_ecat_desc_div{
    width: 100%;
    clear: both;
    margin-bottom: 20px;
}
.thm_organizer_cat_ccat_desc_div{
    width: 100%;
    clear: both;
    margin-bottom: 30px;
}

.thm_organizer_cat_ecat_display_div{
    width: 100%;
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px;
}

.thm_organizer_cat_ccat_viewlevel_div{
    width: 100%;
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px;
}

.thm_organizer_cat_ccat_actions_div{
    width: 100%;
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px;
}

.thm_organizer_cat_actions_head tr td{ border-bottom: 1px solid #cccccc; }

.thm_organizer_cat_leftcolumn{ border-left: 1px solid #cccccc; }

.com_thm_organizer_cat_action_column{ width: 50px; }