@charset "CP850";
/*  ------------------------------------
**  Author:     Kristijan Pokas
**  File:       children.css
**  Styles for: Backend - Subject Pools Edit, Degree Programs Edit...
**  Site:       www.mni.thm.de
**  ------------------------------------ */
.thm_organizer_children {
  float: left;
  padding-top: 5px;
  width: 60%; }

.thm_organizer_pools_ordering {
  width: 30%; }

.thm_organizer_pools,
.thm_organizer_subjects {
  float: right;
  font-size: 1.3em;
  font-weight: bold;
  width: 25%; }

.thm_organizer_pools {
  padding: 5px 20px 5px 10px; }

.thm_organizer_subjects {
  clear: right;
  padding: 10px 20px 5px 10px; }

a.thm_organizer_delete_child {
  background: url(../images/trash.png) no-repeat;
  display: block;
  height: 16px;
  overflow: hidden;
  width: 16px; }

a.jgrid span.state {
  margin-bottom: -9px; }

/*===
  überflüssig, da die Pfeile auch ohne diese Einstellung auf der gleichen Pos bleiben.
  Getestet in IE, Chrome, Firefox, Opera
====*/
.thm_organizer_fieldset {
  transition-duration: 3s;
  transition-property: box-shadow;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: -5px -5px 25px #80ba24 inset;
  -moz-box-shadow: -5px -5px 25px #80ba24 inset;
  -ms-box-shadow: -5px -5px 25px #80ba24 inset;
  -o-box-shadow: -5px -5px 25px #80ba24 inset;
  box-shadow: -5px -5px 25px #80ba24 inset; }

.thm_organizer_no_children {
  font-size: 1.3em;
  padding: 5px; }
