div.language-switches a {
    color: #394a59;
}

div.language-switches a:hover {
    color: #394a59;
    cursor: pointer;
}

div div.externallogin {
    display: none;
}

div#main .uses-login .moduletable {
    display: inline-block;
    margin-bottom: 0;
}

div#main .uses-login .moduletable form {
    margin-bottom: 0;
}

div#main .uses-login .moduletable button, div#main .uses-login .moduletable .btn {
    background-color: white;
}

div#main .uses-login .moduletable button:hover, div#main .uses-login .moduletable .btn:hover {
    background-color: #4a5c66;
}

div#main .uses-login .logout-button {
    margin-top: 0;
}

div#main .uses-login .userdata {
    position: relative;
}

div#main .uses-login .control-group {
    clear: left;
    display: inline-block;
    float: left;
}

div#main .uses-login .input-prepend input {
    width: 12rem;
}

div#main .uses-login #login-form ul.unstyled {
    clear: left;
    display: block;
    margin-top: 0;
    min-width: 15rem;
    float: left;
}

div#main .uses-login #login-form ul.unstyled li {
    list-style: none;
}

@media (min-width: 768px) {
    div#main .uses-login .unstyled {
        left: 15rem;
        position: absolute;
        top: 0;
    }
}

.toolbar {
    position: relative;
    float: right;
}

.course-list-view .clear {
    clear: both;
}

.course-list-view .tbox-yellow {
    margin-bottom: 1.2rem;
}

.course-list-view .tbox-yellow ul {
    margin-bottom: 0;
}

.course-list-view .tbox-yellow ul [class^="icon-"], .course-list-view .tbox-yellow ul [class*=" icon-"] {
    margin-left: .2rem;
}

.course-list-view .toolbar .btn {
    margin-bottom: .6rem;
}

.course-list-view .filter-item {
    display: inline-block;
}

.course-list-view [class^="icon-"], .course-list-view [class*=" icon-"] {
    margin-right: .2rem;
}

.course-list-view th {
    text-align: left;
}

.course-list-view .course-state, .course-list-view .user-state, .course-list-view .register {
    text-align: center;
}

.course-list-view .registration {
    white-space: nowrap;
    width: 1%;
}

.course-list-view .disabled {
    opacity: .6;
}

.course-list-view a.btn:hover span:before {
    color: white;
}
