div.language-switches a {
    color: #394a59;
}

div.language-switches a:hover {
    color: #394a59;
    cursor: pointer;
}

a {
    cursor: pointer;
}

a [class^="icon-"], a [class*=" icon-"] {
    margin-right: .2rem;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.toolbar {
    position: relative;
    float: right;
}

.course-manager-view button, .course-manager-view .btn {
    background-color: white;
    font-size: .9rem;
    vertical-align: top;
}

.course-manager-view button span, .course-manager-view .btn span {
    margin-right: .2rem;
}

.course-manager-view button span:before, .course-manager-view .btn span:before {
    font-size: 1rem;
}

.course-manager-view button:focus, .course-manager-view .btn:focus {
    color: #394a59;
}

.course-manager-view button:hover:focus, .course-manager-view button:hover span:before, .course-manager-view .btn:hover:focus, .course-manager-view .btn:hover span:before {
    color: white;
}

.course-manager-view .left, .course-manager-view .right {
    display: inline-block;
    font-family: "THM-Medium", Arial, Helvetica, sans-serif;
}

.course-manager-view form {
    margin-bottom: 0;
}

.course-manager-view .section .control-group, .course-manager-view .section .control-label, .course-manager-view .section .controls {
    display: inline-block;
    margin-right: .4rem;
}

.course-manager-view .section .controls select {
    min-width: 10rem;
    width: auto;
}

.course-manager-view .print-container {
    display: inline-block;
    font-family: "THM-Medium", Arial, Helvetica, sans-serif;
    font-size: .9rem;
    position: relative;
}

.course-manager-view .print-container .dropdown-menu, .course-manager-view .print-container .dropdown-toggle {
    font-size: .9rem;
}

.course-manager-view .print-container .dropdown-menu a, .course-manager-view .print-container .dropdown-toggle a {
    color: #394a59;
}

.course-manager-view .print-container .dropdown-menu span, .course-manager-view .print-container .dropdown-toggle span {
    margin-right: .2rem;
}

.course-manager-view .print-container .dropdown-menu {
    border: 1px solid #77858c;
    border-radius: 0;
    left: .4rem;
}

.course-manager-view .print-container li {
    margin: 0;
    padding: 0;
}

.course-manager-view .print-container li a {
    padding: .25rem .4rem .15rem .4rem;
}

.course-manager-view .print-container li a:hover {
    background-color: #dfe5e6;
    background-image: none;
    color: #394a59;
}

.course-manager-view table {
    margin-top: 1rem;
}

.course-manager-view table th a {
    color: white;
}

.course-manager-view .modal form {
    margin-bottom: 0;
}

.course-manager-view .modal form .modal-header, .course-manager-view .modal form .modal-footer {
    background-color: #f2f5f6;
}

.course-manager-view .modal form .modal-footer button, .course-manager-view .modal form .modal-footer .btn {
    background-color: white;
}

.course-manager-view .modal form .modal-footer button:hover, .course-manager-view .modal form .modal-footer .btn:hover {
    background-color: #4a5c66;
}

.course-manager-view .modal form .modal-footer button:hover span:before, .course-manager-view .modal form .modal-footer .btn:hover span:before {
    color: white;
}

.course-manager-view .modal form .modal-footer button span, .course-manager-view .modal form .modal-footer .btn span {
    margin-right: .2rem;
}
