/*csslint important: false, overqualified-elements: false, box-sizing: false, adjoining-classes: false*/
/*legend container*/
div.curriculum_legend {
    width: 245px;
    padding: 5px;
    font-family: Verdana,Arial;
    float: right;
    background-color: rgb(238, 238, 238);
    border: rgb(187, 187, 187) 1px solid;
    border-radius: 2px;
    box-shadow: 2px 2px 4px rgb(221, 221, 221);
    font-size: 13px;
    color: rgb(74, 92, 102);
    margin-top: 2px;
    margin-right: 5px;
}

ul.fieldList {
    list-style-type: none;
    font-size: 12px;
    padding: 0 2px;
}

li.fieldItem {
    padding: 2px 0;
}

span.fieldColor {
    display: inline-block;
    border: rgb(187, 187, 187) 1px solid;
    height: 11px;
    width: 11px;
}

span.fieldText {
    display: inline-block;
    padding: 0 0 2px 2px ;
}

/* curriculum container */
div.curriuculum_container.ui-accordion.ui-widget.ui-helper-reset {
    width: 682px;
    padding: 0 4px;
    font-family: Verdana,Arial;
    float: left;
}

h3.ui-accordion-header.ui-helper-reset.ui-state-default.ui-corner-top.ui-accordion-icons {
    background-image: none;
    background-color: rgb(238, 238, 238);
    border: rgb(187, 187, 187) 1px solid;
    box-shadow: 2px 2px 4px rgb(221, 221, 221);
    font-family: Verdana, Arial;
    font-size: 13px;
    color: rgb(74, 92, 102);
}

h3.ui-accordion-header.ui-helper-reset.ui-state-default.ui-corner-all.ui-accordion-icons {
    background-image: none;
    background-color: rgb(238, 238, 238);
    border: rgb(187, 187, 187) 1px solid;
    font-family: Verdana, Arial;
    font-size: 13px;
    color: rgb(74, 92, 102);
    font-weight: normal;
}

h3.ui-accordion-header.ui-helper-reset.ui-state-default.ui-corner-all.ui-accordion-icons.ui-state-hover {
    background-color: rgb(74, 92, 102);
    color: rgb(238, 238, 238);
}

/* tab switch image active */
h3 > span.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-s {
    background: url('../images/active_tab.png') 0 0 no-repeat;
}

h3 > span.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-e {
    background: url('../images/default_tab.png') 0 0 no-repeat;
}

/* horizontal item container */
div.gridster.ready.ui-accordion-content.ui-helper-reset.ui-widget-content.ui-corner-bottom.ui-accordion-content-active{
    padding: 4px;
    background-color: rgb(255, 255, 255);
    border-top: none;
    border-left: rgb(187, 187, 187) 1px solid;
    border-right: rgb(187, 187, 187) 1px solid;
    border-bottom: rgb(187, 187, 187) 1px solid;
    box-shadow: 2px 2px 4px rgb(221, 221, 221);
}

/* item */
li.icon_container.gs-w {
    position: absolute;
    display: inline-block; 
    border: rgb(187, 187, 187) 1px solid;
    border-radius: 3px;
    background-color: rgb(238, 238, 238);
    box-shadow: 2px 2px 4px rgb(221, 221, 221);
}

li.icon_container.empty.gs-w {
    visibility: hidden;
}

/* item head */
.icon_container_head {
    font-size: 11px; 
    text-align: left;
    padding: 2px;
    border-bottom: rgb(187, 187, 187) 1px solid;
}

.dark-text {
    color: rgb(74, 92, 102);
}

.light-text {
    color: rgb(238, 238, 238);
}

/* item body */
.icon_container_body {
    font-size: 11px; 
    font-weight: normal;
    color: rgb(74, 92, 102);
    hyphens: auto;
    word-wrap: break-word;
    padding: 5px;
}

/* item title (is a link)*/
a.curriculumLink:link, a.curriculumLink:hover, a.curriculumLink:visited,a.curriculumLink:focus {
    font-weight: normal;
    color: rgb(74, 92, 102);
    text-decoration: none;
    outline: none;
    font-family: Verdana,Arial;
    font-size: 11px;
}

/* item tools */
.itemTools {
    position: absolute;
    top: 70%;
    left: 25%;
}

/* teacher link image */
.teacherImage {
    max-height: 25px;
    width: 20px;
}

.curriculum_dialog_list
{
    margin: 15px 10px 10px 10px;
    text-align: center;
    display: inline-table;
}

.semesterHeader {
    background-color: #B0B0B0;
}

/* jquery ui writes inline styles for this element :( */
div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front {
    top: 175px !important;
    max-height: 425px !important;
    overflow-y: auto;
    width: 694px !important;
    font-family: Verdana,Arial;
    border: rgb(187, 187, 187) 1px solid;
    box-shadow: 2px 2px 8px rgb(150, 150, 150);
}

div.poolDialog.ui-dialog-content.ui-widget-content.ready {
    padding: 5px;
}
