/*  ------------------------------------
**  Author:     Kristijan Pokas
**  File:       event_manager.css
**  Styles for: Frontend - Termine (offene Termine etc.)
**  Site:       www.mni.thm.de
**  ------------------------------------ */
.thm_organizer_new_span {
  background-image: url("../../../media/com_thm_organizer/images/icon-32-new.png"); }

.thm_organizer_edit_span {
  background-image: url("../../../media/com_thm_organizer/images/icon-32-edit.png"); }

.thm_organizer_delete_span {
  background-image: url("../../../media/com_thm_organizer/images/icon-32-trash.png"); }

.thm_organizer_submit_span {
  background-image: url("../../../media/com_thm_organizer/images/icon-32-forward.png"); }

.thm_organizer_back_span {
  background-image: url("../../../media/com_thm_organizer/images/icon-32-refresh.png"); }

.thm_organizer_list_span {
  background-image: url("../../../media/com_thm_organizer/images/icon-32-list.png"); }

.thm_organizer_event_span {
  background-image: url("../../../media/com_thm_organizer/images/icon-32-event.png"); }

.thm_organizer_save_span {
  background-image: url("../../../media/com_thm_organizer/images/icon-32-save.png"); }

.thm_organizer_save_new_span {
  background-image: url("../../../media/com_thm_organizer/images/icon-32-save-new.png"); }

.thm_organizer_preview_span {
  background-image: url("../../../media/com_thm_organizer/images/icon-32-preview.png"); }

.thm_organizer_cancel_span {
  background-image: url("../../../media/com_thm_organizer/images/icon-32-cancel.png"); }

.thm_organizer_action_link,
.thm_organizer_action_link_preview {
  margin: 0;
  padding: 1px 5px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap; }

.thm_organizer_action_link {
  display: inline-block; }

.thm_organizer_action_link_preview {
  display: block;
  float: left; }

.thm_organizer_action_span {
  display: block;
  float: none;
  height: 32px;
  margin: 0 auto 0 auto;
  width: 32px; }

.Popup {
  background: #eeeeee;
  bottom: 70px;
  display: none;
  height: 650px;
  left: 50%;
  margin-left: -470px;
  overflow: hidden;
  padding: 10px;
  position: fixed;
  text-align: center;
  top: 70px;
  width: 920px;
  z-index: 3;
  -webkit-box-shadow: 0 0 10px #222222;
  -moz-box-shadow: 0 0 10px #222222;
  -ms-box-shadow: 0 0 10px #222222;
  -o-box-shadow: 0 0 10px #222222;
  box-shadow: 0 0 10px #222222; }

.closePopup {
  height: 22px;
  width: 920px; }

.loader {
  background: url("../../../media/com_thm_organizer/images/thm-ajax-loader.gif") 50% 50% no-repeat;
  display: none;
  height: 80%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; }

body.loading {
  overflow: hidden; }
  body.loading .loader {
    display: block; }

.overlay {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.65);
  display: none;
  height: 100%;
  left: 0;
  right: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2; }

.thm_organizer_divider_span {
  border-right: solid 1px #c7c7c7;
  display: block;
  float: left;
  height: 48px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  width: 2px; }

.thm_organizer_el {
  margin-right: 8px; }
  .thm_organizer_el button {
    background: none;
    border: none; }

.thm_organizer_el_top_div {
  float: left;
  width: 100%; }

.thm_organizer_el_category_desc_div {
  float: left; }

.thm_organizer_el_action_div {
  float: right;
  margin-bottom: 2px; }
  .thm_organizer_el_action_div button {
    padding: 1px; }

.thm_organizer_el_divider_span {
  margin-right: 10px;
  width: 1px; }

.thm_organizer_el_form_div {
  clear: both;
  float: left;
  width: 100%; }

.thm_organizer_el_search_div {
  background-color: #eeeeee;
  border: 1px solid #bbbbbb;
  padding: 5px;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
  .thm_organizer_el_search_div .calendar {
    margin-bottom: -5px; }

.thm_organizer_el_label_span {
  padding-left: 2px;
  padding-right: 2px; }

.thm_organizer_el_events_div {
  background-color: #eeeeee;
  margin-top: 10px;
  border: 1px solid #bbbbbb;
  padding: 5px;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

.thm_organizer_el_eventtable {
  border-spacing: 0;
  width: 100%; }
  .thm_organizer_el_eventtable thead tr {
    border: none; }
    .thm_organizer_el_eventtable thead tr td {
      border: none;
      padding: 3px; }
      .thm_organizer_el_eventtable thead tr td a {
        text-decoration: none; }
  .thm_organizer_el_eventtable thead th {
    padding: 3px; }
    .thm_organizer_el_eventtable thead th a {
      text-decoration: none; }

.thm_organizer_el_sortLink img {
  border: none;
  margin-left: 4px; }

.thm_organizer_el_row_even {
  background-color: white;
  border: 1px solid #bbbbbb; }

.thm_organizer_el_row_odd {
  border: 1px solid #bbbbbb; }

.thm_organizer_el_col_check {
  width: 18px; }

.thm_organizer_el_noauth {
  background-color: #e6c0c0;
  border-bottom: 3px solid #de7a7b;
  border-top: 3px solid #de7a7b;
  color: #c00;
  font-weight: bolder;
  padding: 5px; }
