/*  ------------------------------------
**  Author:     Kristijan Pokas
**  File:       event_details.css
**  Styles for: 
**  Site:       www.mni.thm.de
**  ------------------------------------ */
.thm_organizer_e_title {
  color: #445c20;
  font-family: Verdana, Arial;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none; }

.thm_organizer_e_block_div {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
  max-width: 450px;
  min-width: 450px;
  padding-top: 10px; }

.thm_organizer_e_header {
  border-bottom: 1px solid #bbbbbb;
  display: table-cell;
  height: 35px;
  padding-bottom: 1px;
  vertical-align: middle;
  width: 100%; }

.thm_organizer_e_headerlinks {
  float: right;
  margin-right: 0;
  margin-top: -1.5%; }

.thm_organizer_e_content,
.thm_organizer_e_resources {
  min-width: 100%;
  padding-top: 10px; }

.thm_organizer_e_title p {
  margin-bottom: 0;
  margin-top: 0; }

.thm_organizer_e_publish_up p,
.thm_organizer_e_author p {
  font-size: 9px;
  margin-bottom: 0;
  margin-top: 0; }

.thm_organizer_e_preview_div {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 5px;
  max-width: 920px;
  min-width: 920px;
  padding-right: 30px;
  padding-top: 10px;
  text-align: left;
  white-space: normal; }

.thm_organizer_e_description {
  margin-bottom: 30px;
  margin-right: 60px; }
