/*  ------------------------------------
**  Author:     Kristijan Pokas
**  File:       event_manager.css
**  Styles for: 
**  Site:       www.mni.thm.de
**  ------------------------------------ */
@import url(../scss/toolbar.css);
.thm_organizer_el {
  margin-right: 8px; }
  .thm_organizer_el button {
    background: none;
    border: none; }

.thm_organizer_el_top_div {
  float: left;
  width: 100%; }

.thm_organizer_el_category_desc_div {
  float: left; }

.thm_organizer_el_action_div {
  float: right;
  margin-bottom: 2px; }
  .thm_organizer_el_action_div button {
    padding: 1px; }

.thm_organizer_el_divider_span {
  margin-right: 10px;
  width: 1px; }

.thm_organizer_el_form_div {
  clear: both;
  float: left;
  width: 100%; }

.thm_organizer_el_search_div {
  background-color: #eeeeee;
  border: 1px solid #bbbbbb;
  padding: 5px;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
  .thm_organizer_el_search_div .calendar {
    margin-bottom: -5px; }

.thm_organizer_el_label_span {
  padding-left: 2px;
  padding-right: 2px; }

.thm_organizer_el_events_div {
  background-color: #eeeeee;
  margin-top: 10px;
  border: 1px solid #bbbbbb;
  padding: 5px;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

.thm_organizer_el_eventtable {
  border-spacing: 0;
  width: 100%; }
  .thm_organizer_el_eventtable thead tr {
    border: none; }
    .thm_organizer_el_eventtable thead tr td {
      border: none;
      padding: 3px; }
      .thm_organizer_el_eventtable thead tr td a {
        text-decoration: none; }
  .thm_organizer_el_eventtable thead th {
    padding: 3px; }
    .thm_organizer_el_eventtable thead th a {
      text-decoration: none; }

.thm_organizer_el_sortLink img {
  border: none;
  margin-left: 4px; }

.thm_organizer_el_row_even {
  background-color: white;
  border: 1px solid #bbbbbb; }

.thm_organizer_el_row_odd {
  border: 1px solid #bbbbbb; }

.thm_organizer_el_col_check {
  width: 18px; }

.thm_organizer_el_noauth {
  background-color: #e6c0c0;
  border-bottom: 3px solid #de7a7b;
  border-top: 3px solid #de7a7b;
  color: #c00;
  font-weight: bolder;
  padding: 5px; }
