/*  ------------------------------------
**  Author:     Kristijan Pokas
**  File:       event_edit.css
**  Styles for: Frontend
**  Site:       www.mni.thm.de
**  ------------------------------------ */
.thm_organizer_ee {
  color: #4a5c66;
  margin-top: 12px; }
  .thm_organizer_ee a:visited {
    color: #4a5c66; }
  .thm_organizer_ee option {
    color: #4a5c66; }
  .thm_organizer_ee form div table tr, .thm_organizer_ee form div table tr td {
    padding: 2px;
    border: none; }
  .thm_organizer_ee #btnreset {
    padding: 0 3px; }
  .thm_organizer_ee table img {
    margin: 0 3px -5px 0; }

.thm_organizer_ee_head_div {
  border-bottom: 1px solid #bbbbbb;
  height: 48px;
  margin-bottom: 12px;
  margin-top: -24px;
  padding: 5px;
  width: 100%; }

.thm_organizer_ee_title {
  font-size: 20px;
  font-weight: bold; }

.thm_organizer_ee_label_div {
  float: left;
  min-width: 85px;
  padding-right: 5px;
  text-align: right; }

.thm_organizer_ee_data_div {
  float: left; }

.thm_organizer_ee_name_div, .thm_organizer_ee_desc_div, .thm_organizer_ee_time_div, .thm_organizer_ee_resource_selection_div {
  float: left;
  margin-bottom: 10px;
  max-width: 62%; }

.thm_organizer_ee_desc_div, .thm_organizer_ee_time_div, .thm_organizer_ee_resource_selection_div {
  clear: left; }

.thm_organizer_ee_time_div {
  padding-left: 13px; }

div.thm_organizer_ee_data_div {
  max-width: 492px; }

.thm_organizer_ee_category_div {
  background: #eeeeee;
  border: 1px solid #bbbbbb;
  clear: right;
  float: right;
  padding: 0.4em;
  width: 36%; }

.thm_organizer_ee_category_select_div {
  margin-bottom: 25px;
  width: 100%; }

.thm_organizer_ee_button_div {
  float: right;
  margin-right: 5px; }

.thm_organizer_ee_highlight {
  font-weight: bold; }

.thm_organizer_ee_image_button {
  border: none;
  cursor: pointer;
  height: 24px;
  margin: auto;
  white-space: nowrap;
  width: 24px; }

.editor-xtd-buttons,
.toggle-editor {
  display: none; }

.wf_editor_toggle {
  display: none !important; }

.thm_organizer_ee_table {
  border: none !important; }
