/*
Sass::SyntaxError: ".icon-48-organizer_monitors" failed to @extend "%icon-monitors".
The selector "%icon-monitors" was not found.
Use "@extend %icon-monitors !optional" if the extend should be able to fail.


Backtrace:
monitor_edit.scss:6
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/tree/visitors/extend.rb:61:in `block in check_extends_fired!'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/util/subset_map.rb:105:in `block in each_value'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/util/subset_map.rb:105:in `each'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/util/subset_map.rb:105:in `each_value'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/tree/visitors/extend.rb:50:in `check_extends_fired!'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/tree/visitors/extend.rb:16:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/tree/root_node.rb:39:in `css_tree'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/tree/root_node.rb:20:in `render'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/engine.rb:278:in `render'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/plugin.rb:82:in `update_stylesheets'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:361:in `watch_or_update'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:51:in `process_result'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/exec/base.rb:52:in `parse'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/lib/sass/exec/base.rb:19:in `parse!'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.19/bin/scss:13:in `<top (required)>'
C:/Ruby21/bin/scss:23:in `load'
C:/Ruby21/bin/scss:23:in `<main>'
*/
body:before {
    white-space: pre;
    font-family: monospace;
    content: "Sass::SyntaxError: \".icon-48-organizer_monitors\" failed to @extend \"%icon-monitors\".\A The selector \"%icon-monitors\" was not found.\A Use \"@extend %icon-monitors !optional\" if the extend should be able to fail.\A ";
}
