div.language-links a {
    color: #394a59;
}

div.language-links a:hover {
    color: #394a59;
    cursor: pointer;
}

.toolbar {
    position: relative;
    float: right;
}

.header-introtext, .header-subtext {
    font-size: 1.3rem;
}

.tbox-yellow {
    margin-bottom: 1.5rem;
}
