.control-group .chzn-container {
  width: 260px !important;
}
.control-group .x-form-item-label-default {
  width: 180px !important;
  float: left;
}
.control-group .x-form-text-field-body-default {
  min-width: 900px;
  max-width: 900px;
  float: left;
}
.control-group .x-form-item-default {
  height: auto !important;
  margin-top: 15px;
}
.control-group .x-form-text-wrap-default {
  border-style: none;
}
.control-group .x-form-text-wrap-default input {
  margin: 0;
}
.control-group .x-form-text {
  height: 29px !important;
  background-color: #4a5c66;
  color: white;
  border-radius: 3px 0 0 3px;
}
.control-group .x-form-trigger-wrap {
  height: auto;
}

.x-form-text-default {
  background-image: none;
}

.control-group:first-child {
  margin-bottom: 0;
}

#ext-element-7 + .control-group {
  display: none;
}

.control-group:last-child {
  margin-top: 40px;
  margin-bottom: 40px !important;
}

#viewport, #viewport-body {
  width: inherit !important;
}

.scheduler {
  color: #4a5c66;
}
.scheduler .x-form-text-wrap-default {
  border-style: none;
}
.scheduler input[type="text"].x-form-field {
  height: 2.5em;
  margin: 0;
  cursor: default;
}
.scheduler input[type="text"]:disabled {
  cursor: not-allowed;
}
.scheduler #selectBoxes .x-form-text-default {
  background-image: none;
}
.scheduler #selectBoxes .x-field-default:first-child {
  margin-top: 48px;
}
.scheduler #selectBoxes .x-field-default {
  height: 0px !important;
  margin-bottom: 25px;
}
.scheduler #selectBoxes .x-form-trigger-wrap {
  height: auto;
}
.scheduler #rightviewport {
  margin-left: 30px !important;
}
.scheduler #rightviewport #topMenu {
  margin-bottom: 10px;
}
.scheduler #rightviewport #topMenu .MySched_prevWeekIcon {
  background-image: none;
  position: relative;
}
.scheduler #rightviewport #topMenu .MySched_prevWeekIcon:before {
  font-family: icomoon;
  content: "\7c";
  font-size: 20px;
  color: #4a5c66;
  vertical-align: text-bottom;
  position: absolute;
  right: 0;
  top: 8px;
}
.scheduler #rightviewport #topMenu .MySched_nextWeekIcon {
  background-image: none;
  position: relative;
}
.scheduler #rightviewport #topMenu .MySched_nextWeekIcon:before {
  font-family: icomoon;
  content: "\7b";
  font-size: 20px;
  color: #4a5c66;
  vertical-align: text-bottom;
  position: absolute;
  left: -2px;
  top: 8px;
}
.scheduler #rightviewport #topMenu .x-field {
  width: 135px;
}
.scheduler #rightviewport #topMenu .x-form-trigger-wrap {
  border: 2px solid #4a5d66;
  background-color: white;
}
.scheduler #rightviewport #topMenu .x-form-text-wrap-default input {
  width: 100px;
  text-align: center;
  background-image: none;
  box-shadow: none;
  border: none;
}
.scheduler #rightviewport #topMenu .x-form-date-trigger-default {
  vertical-align: middle;
  padding-right: 10px;
}
.scheduler #rightviewport #topMenu .x-form-date-trigger-default:before {
  font-family: icomoon;
  content: "\44";
  font-size: 20px;
  color: #4a5c66;
}
.scheduler #rightviewport #topMenu #btnMenu {
  margin-left: 20px;
}
.scheduler #rightviewport #topMenu #btnMenu .x-btn-icon-el {
  display: none;
}
.scheduler #rightviewport #topMenu #btnMenu .x-btn-inner {
  width: 90px;
  font-size: 14px;
}
.scheduler #rightviewport #topMenu #btnMenu .x-btn-wrap-default-toolbar-small::after {
  background-image: none;
  font-family: icomoon;
  content: "\e021";
  font-size: 20px;
  color: #4a5c66;
}
.scheduler #rightviewport #tabpanel .x-tab-bar-body {
  position: absolute;
}
.scheduler #rightviewport #tabpanel .x-box-scroller-body-horizontal {
  height: 37px !important;
}
.scheduler #rightviewport #tabpanel .x-tab {
  background-image: none;
  padding: 10px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-bottom: none;
  border-radius: 0;
}
.scheduler #rightviewport #tabpanel .x-tab-active {
  background-color: #dfeec8;
}
.scheduler #rightviewport #tabpanel .x-tab-over {
  background-color: #dfe5e6;
}
.scheduler #rightviewport #tabpanel #tabpanel-body {
  background-color: white;
  border: 1px solid #ddd;
}
.scheduler #rightviewport #tabpanel .x-tab-closable.x-tab-default .x-tab-button {
  padding-right: 4px;
}
.scheduler #rightviewport #tabpanel .x-box-scroller {
  top: 9px;
  height: 21px;
}
.scheduler #rightviewport #tabpanel .x-grid-view {
  height: 383px !important;
}
.scheduler #rightviewport #tabpanel .x-grid-item-container {
  margin-bottom: 2px;
}
.scheduler #rightviewport #tabpanel .lectureBox {
  outline: 1px outset white;
  box-shadow: inset 0px 0px 6px #bbbbbb;
  background-image: -webkit-linear-gradient(-33deg, #fbfbfb 0, #eeeeee 100%);
  background-image: -moz-linear-gradient(123deg, #fbfbfb 0, #eeeeee 100%);
  background-image: linear-gradient(123deg, #fbfbfb 0, #eeeeee 100%);
  background-position: 50% 50%;
  background-color: #eeeeee;
  margin-bottom: 4px;
  padding: 4px;
}
.scheduler #rightviewport #tabpanel .x-grid-cell {
  padding: 4px 2px;
}
.scheduler #rightviewport #tabpanel .x-grid-cell-inner {
  padding: 0;
}
.scheduler #rightviewport #tabpanel .x-grid-row:first-child td {
  background-color: #ffffff;
}
.scheduler #rightviewport #tabpanel .x-grid-rowbody-tr {
  background-color: #FAFAFA;
}
.scheduler #rightviewport #tabpanel .x-grid-rowbody-tr td {
  padding: 0;
}
.scheduler #rightviewport #tabpanel .x-grid-cell-last {
  padding-right: 18px;
}
.scheduler #rightviewport #tabpanel .MySched_pause {
  display: table-row;
  background-color: #CCCCCC;
}
.scheduler #rightviewport #tabpanel .MySched_pause .x-grid-td {
  text-align: center;
  padding: 0;
}
.scheduler #rightviewport table {
  margin-bottom: 0;
}

.x-boundlist li {
  margin: 0;
  padding: 6px;
}

.x-form-trigger-default {
  background-image: none;
  border: none;
}

body.x-border-layout-ct, div.x-border-layout-ct {
  background-color: transparent;
}

.x-panel-header-default {
  background-color: transparent;
}

.x-panel-header-default-top {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.x-panel-body-default {
  background-color: transparent;
}

.x-toolbar-default {
  background-color: transparent;
}
