/*  ------------------------------------
**  Author:     Kristijan Pokas
**  File:       category_manager.css
**  Styles for: Backend
**  Site:       www.mni.thm.de
**  ------------------------------------ */
fieldset.filter-bar, div.filter-bar {
  background-color: #eeeeee;
  border: 1px solid #bbbbbb;
  clear: both;
  color: #4a5c66;
  font-family: Verdana, Arial;
  font-size: 13px;
  overflow: auto;
  padding: 8px 4px 4px 4px;
  z-index: 12;
  margin-bottom: 4px;
  -webkit-box-shadow: 2px 2px 4px #dddddd;
  -moz-box-shadow: 2px 2px 4px #dddddd;
  -ms-box-shadow: 2px 2px 4px #dddddd;
  -o-box-shadow: 2px 2px 4px #dddddd;
  box-shadow: 2px 2px 4px #dddddd; }

.icon-48-organizer_schedules {
  background: url("../images/schedules48.png") 0 0 no-repeat; }

.icon-32-merge {
  background: url("../images/icon-32-merge.png"); }

fieldset.filter-bar, div.filter-bar {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

fieldset.filter-bar button, div.filter-bar button {
  margin: 0; }

table {
  width: 100%; }

th, td {
  text-align: center; }

th.column0, td.column0 {
  max-width: .5em; }

th.column3, td.column3, th.column4, td.column4 {
  max-width: 3em; }
