/*  ------------------------------------
**  Author:     Kristijan Pokas
**  File:       subject_details.css
**  Styles for:
**  Site:       www.mni.thm.de
**  ------------------------------------ */
.navi-bar {
  margin-bottom: 3px; }

span.navi-tab {
  padding: 3px 9px; }

.navi-tab .active {
  background-color: #b7bec2;
  border-left: 1px solid #a4b0bb;
  border-right: 1px solid #a4b0bb;
  border-top: 1px solid #a4b0bb; }
.navi-tab .inactive {
  background-color: #6b7e88;
  border-left: none; }
.navi-tab .active a {
  color: #3d494f;
  font-weight: bold; }
.navi-tab .inactive a {
  color: #eeeeee; }

.filter-bar {
  background-color: #b7bec2;
  border-bottom: none;
  border-left: 1px solid #a4b0bb;
  border-right: 1px solid #a4b0bb;
  border-top: none;
  color: #3d494f;
  font-weight: bold;
  padding: 3px 9px; }

div.filter-bar button {
  padding: 3px 9px; }

.filter-search {
  float: left; }

.filter-select {
  float: right; }

.subject-div table.subject-list {
  border: none;
  width: 100%; }

ul.subject-list tr th a {
  background-color: #3d494f;
  color: white; }

.group-bar {
  border: none;
  font-weight: bold;
  padding: 9px 3px; }

.subject-name {
  display: inline-block;
  width: 50%; }

.subject-responsible {
  display: inline-block;
  width: 25%; }

.subject-crp {
  display: inline-block;
  width: 12%; }

.row1 {
  background-color: #f7f7f7; }

.subject-item {
  clear: both;
  padding: 15px 10px; }

.subject-label {
  border-bottom: 2px solid #a4b0bb;
  color: #3d494f;
  float: left;
  font-weight: bold;
  margin-right: 10px;
  width: 15%; }

.subject-content {
  float: left;
  width: 79%; }
