div.language-links a {
    color: #394a59;
}

div.language-links a:hover {
    color: #394a59;
    cursor: pointer;
}

.toolbar {
    position: relative;
    float: right;
}

.subject-edit-view ul.nav-tabs {
    border-bottom: 1px solid #77858c;
}

.subject-edit-view .nav-tabs > li {
    border: 1px solid #77858c;
    border-bottom: none;
    border-radius: 0;
}

.subject-edit-view .nav-tabs > li > a {
    background-color: transparent;
    border: none;
    font-size: .9rem;
    padding: .4rem .6rem;
    margin: 0;
}

.subject-edit-view .nav-tabs > li > a:hover {
    background-color: transparent;
}

.subject-edit-view li.active {
    background-color: #dfeec8;
}

.subject-edit-view .wf-editor-container .nav-tabs > li > a {
    background-color: transparent;
    border: none;
}
