[class^="icon-"], [class*=" icon-"] {
    font-family: icomoon;
}

.icon-organizer::before,
a[href$="view=thm_organizer"]::before,
a[href$="option=com_thm_organizer"]::before {
    font-family: icomoon;
    content: "\e60b";
    color: #80ba24;
}

.icon-organizer_colors::before {
    content: "\e014";
}

.icon-organizer_degrees::before {
    content: "\e606";
}

.icon-organizer_degree_programs::before,
.icon-organizer_plan_programs::before {
    content: "\31";
}

.icon-organizer_departments::before {
    content: "\e244";
}

.icon-organizer_fields::before {
    content: "\74";
}

.icon-organizer_grids::before {
    content: "\59";
    font-size: 1.1rem;
}

.icon-organizer_methods::before {
    content: "\e271";
}

.icon-mni::before {
    content: "\e600";
}

.icon-organizer_monitors::before {
    content: "\e01c";
}

.icon-organizer_plan_pools::before,
.icon-organizer_subject_pools::before {
    content: "\44";
}

.icon-organizer_rooms::before {
    content: "\e250";
}

.icon-organizer_room_types::before {
    content: "\e250";
}

.icon-organizer_schedules::before {
    content: "\e931";
}

.icon-organizer_subjects::before {
    content: "\e603";
}

.icon-organizer_subject_pools::before {
    content: "\44";
}

.icon-organizer_teachers::before {
    content: "\e604";
}

.icon-diff, .icon-import, .icon-import-all, .icon-merge-all {
    font-weight: bold;
}

.icon-add-Space {
    font-size: 14px;
}

a[href*="option=com_thm_organizer&view="]::before {
    padding-right: 8px;
}

.tip-wrap {
    z-index: 99;
}

.adminForm div.m {
    padding: 5px;
}

.toolbar-close {
    font-size: 1em;
}

.cpanel {
    margin-top: 4px;
    width: 100%;
}

.thm_organizer_label {
    padding-right: 5px;
}

.thm_organizer_check_column {
    width: 10px;
}

.thm_organizer_search_div {
    padding-right: 8px;
}

.thm_organizer_radio_button {
    background: #f4f4f4;
    border: none;
}

.thm_organizer_main {
    padding: 5px;
}

.thm_organizer_main_description {
    font-size: 16px;
    padding-bottom: 8px;
}

.thm_organizer_main_submenu a {
    background-color: #f2f5f6;
    background-position: -30px center;
    border: 1px solid #CCCCCC;
    color: #565656;
    display: block;
    float: left;
    height: 97px;
    text-decoration: none;
    transition-duration: 0.8s;
    transition-property: background-position, -moz-border-radius-bottomleft, -moz-box-shadow;
    width: 108px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.thm_organizer_main_submenu div.icon {
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
    text-align: center;
}

.thm_organizer_main_submenu img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    padding: 10px 0;
}

.thm_organizer_main_submenu span {
    display: block;
    text-align: center;
}

.thm_organizer_main_linkdiv {
    float: left;
}
