.thm_organizer_action_link{
    display: inline-block;
    margin: 0;
    padding: 1px 5px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}
.thm_organizer_action_link_preview{
    display: block;
    float: left;
    margin: 0;
    padding: 1px 5px 1px 5px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

.thm_organizer_action_span{
    display: block;
    float: none;
    height: 32px;
    width: 32px;
    margin: 0 auto 0 auto;
}

.thm_organizer_new_span{
    background-image: url("../../../media/com_thm_organizer/images/icon-32-new.png");
}

.thm_organizer_edit_span{
    background-image: url("../../../media/com_thm_organizer/images/icon-32-edit.png");
}

.thm_organizer_delete_span{
    background-image: url("../../../media/com_thm_organizer/images/icon-32-trash.png");
}

.thm_organizer_submit_span{
    background-image: url("../../../media/com_thm_organizer/images/icon-32-forward.png");
}

.thm_organizer_back_span{
    background-image: url("../../../media/com_thm_organizer/images/icon-32-refresh.png");
}

.thm_organizer_list_span{
    background-image: url("../../../media/com_thm_organizer/images/icon-32-list.png");
}

.thm_organizer_event_span{
    background-image: url("../../../media/com_thm_organizer/images/icon-32-event.png");
}

.thm_organizer_save_span{
    background-image: url("../../../media/com_thm_organizer/images/icon-32-save.png");
}

.thm_organizer_save_new_span{
    background-image: url("../../../media/com_thm_organizer/images/icon-32-save-new.png");
}

.thm_organizer_preview_span{
    background-image: url("../../../media/com_thm_organizer/images/icon-32-preview.png");
}

.thm_organizer_cancel_span{
    background-image: url("../../../../media/com_thm_organizer/images/icon-32-cancel.png");
}


.Popup{
    display: none;
    background: #fff;
    left: 50%;
    margin-left: -470px;
    position: fixed;
    top: 70px;
    bottom: 70px;
    width: 920px;
    height: 650px;
    z-index: 3;
    box-shadow: 0 0 10px #222;
    padding: 10px;
    overflow: hidden;
    text-align: center;
}

.closePopup{
    width: 920px;
    height: 22px;
}

.loader {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 80%;
    width: 100%;
    background: url("../../../media/com_thm_organizer/images/thm-ajax-loader.gif") 50% 50% no-repeat;
}

body.loading {
    overflow: hidden;
}

body.loading .loader {
    display: block;
}

.overlay{
    display: none;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
}

.thm_organizer_divider_span{
    border-right: solid 1px #c7c7c7;
    height: 48px;
    width: 2px;
    padding-top: 1px;
    padding-left: 4px;
    padding-right: 1px;
    display: block;
    float: left;
    margin-right: 4px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}