
.icon-48-organizer_users { background: url('../images/users48.png') 0 0 no-repeat; }

fieldset.filter-bar ,div.filter-bar {
    font-family: Verdana, Arial;
    font-size: 13px;
    color: rgb(74, 92, 102);
    border: rgb(187, 187, 187) 1px solid;
    background-color: rgb(238, 238, 238);
    border-radius: 3px;
    padding: 8px 4px 4px 4px;
    clear: both;
    z-index: 12;
    box-shadow: 2px 2px 4px rgb(221, 221, 221);
    overflow: auto;
}

table {
    width: 100%;
}

th, td {
    text-align: center;
}

th.column0, td.column0 {
    max-width: .5em;
}

th.column3, td.column3,th.column4, td.column4 {
    max-width: 3em;
}