@charset "utf-8";

.titre{
	font-family 	: Verdana, Arial, Helvetica, sans-serif;
	font-weight 	: bold;
	text-decoration	: underline;
	color		: #400000;
	font-size	: 20pt;
	background	: none;
	margin		: 10pt 10pt 30pt 10pt;
}

.style1 {
	font-family 	: Verdana, Arial, Helvetica, sans-serif;
	font-size 	: 9pt;
	background	: #EEEEE0;
	border 		: 2px solid #CCCC99;
	color 		: black;
	font-weight	: bold;
	vertical-align	: middle;
}

.style2 {
	font-family 	: Verdana, Arial, Helvetica, sans-serif;
	font-size 	: 11px;
	background	: #CCCC99;
	border		: none;
	color 		: #EEEEE0;
	font-weight	: bold;
	vertical-align	: middle;
	cursor 		: pointer;
}

.style2:HOVER {
	font-family 	: Verdana, Arial, Helvetica, sans-serif;
	font-size 	: 11px;
	background	: #CCCC99;
	border		: none;
	color 		: white;
	font-weight	: bold;
	vertical-align	: middle;
	cursor 		: pointer;
	text-decoration : underline;
}

P.errors{
	font-family 	: Verdana, Arial, Helvetica, sans-serif;
	font-size	: 7pt;
	color		: #FF0000;
	font-weight	: bold;
	background	: none;
}

.small{
	font-family 	: Verdana, Arial, Helvetica, sans-serif;
	font-size	: 7pt;
}

BODY {
	background	: #EEEEE0;
	color		: black;
	margin		: 00pt 00pt 00pt 00pt;
	font-family 	: Verdana, Arial, Helvetica, sans-serif;
	font-size	: 9pt;
	vertical-align 	: middle;
}

TABLE {
	font-family 	: Verdana, Arial, Helvetica, sans-serif;
	text-align	: left;
}

.center {
	text-align	: center;
}

TD.small {
	font-size 	: 8pt;
}

TD.soustitre{
	text-transform	: uppercase;
	padding-bottom	: 5pt;
	padding-top	: 5pt;
	color		: #300000;
	font-weight	: bold;
	text-align	: left;
	background	: none;
}

A:hover {
	color		: #400000; 
	text-decoration	: underline;
	background	: none;
}

A {
	color		: #400000;
	text-decoration	: none;
	font-size	: 9pt;
	background	: none;
}

A.small {
	font-size	: 8pt;
}

A.small:hover {
	font-size	: 8pt;
}

TABLE.bordered{
	border		: 2px solid #CCCC99;	
}

HR {
	border		: 1px solid #CCCC99;
}

.TOOCOOL {
	position	: fixed;
	bottom		: 5pt;
	left		: 5pt;
	width		: 40px;
	height		: 46px;
	margin 		: 0;
}

TABLE.MENU {
	position	: fixed;
	top		: 0pt;
	left		: 0pt;
	margin 		: 0pt 0pt 0pt 0pt;
	color		: #EEEEE0;
	background	: #CCCC99;
	font-size	: 11px;
	font-weight	: bold;
	vertical-align	: middle;
	height		: 16pt;
}

A.MENU {
	color		: #EEEEE0;
	background	: #CCCC99;
	font-size	: 11px;
	font-weight	: bold;
	vertical-align	: top;
	text-decoration	: none;
}

A.MENU:HOVER {
	color		: white;
	background	: #CCCC99;
	font-size	: 11px;
	font-weight	: bold;
	vertical-align	: top;
	text-decoration	: none;
	text-decoration	: none;
}

IMG{
	display		: inline-block;
	vertical-align	: middle;
}